.right-sidebar-outer-container{
	.right-sidebar-container{
		border-left: 1px solid $small-seperator-color;
	}
	
}
.right-sidebar-container{
	.right-sidebar-controls{
		list-style:none;
		padding-top: 100px;
		padding-left: 0;
		height:100%;
		&.hasActiveEl {
			.rightbar-button{
				svg{
					fill: $unselected-color;
				}
				&.active svg{
					fill: $sidebar-dark-color;
				}
			}
		}
		.rightbar-button{
			width: $right-sidebar-width;
			height: $right-sidebar-width;
			padding: 13px;
			svg{
				height:100%;
				width:100%;
				@include transition(fill 150ms ease, opacity 150ms ease);
				fill: $sidebar-dark-color;

			}
			&:hover{
				opacity: 1.0;
				svg{
					fill: $sidebar-dark-color;
				}
				
			}
		}
	}
}
.right-window-container{
	&.shown{
		.right-window-content-container{
			@include transition(opacity $sidebar-animation ease);
			opacity: 1;
		}
	}

	position:absolute;
	right: 0px; //$right-sidebar-width;
	width: 0;
	background: white;
	padding-top:$top-bar-height;
	top: 0;
	height:100%;
	z-index: 1998;
	
	.right-window-content-container{
		position:relative;
		background: $light-background;
		$button-size: 44px;
		$button-top: 8px;
		$icon-size: 18px;
		.drag-resizer{
			position: absolute;
			left:-2px;
			top: 0;
			height: 100%;
			width: 4px;
			cursor: col-resize;
			.drag-el{
				width:100%;
				height:100%;
			}
		}
		.right-side-close{
			position: absolute;
			left: 10px;
			top: $button-top;
			width: $button-size;
			height: $button-size;
			opacity: 0.5;
			padding: ($button-size - $icon-size) / 2;
			@include transition(opacity $sidebar-animation ease);
			&:hover{
				opacity: 1.0;
			}
			svg{
				width: $icon-size;
				height: $icon-size;
			}
		}
		.right-side-title{
			margin-top: 0;
			padding-top: $button-top + 16;
			text-align:center;
			font: 0.8em/1 $font-bold;
			font-size: 14px;
			opacity: 0.5;
			letter-spacing: 2px;
		}
		opacity: 0;
		height:100%;
		//border-left: 2px solid $small-seperator-color;
		.right-window-content{
			.section-header h2{
				background: $light-background;
			}
			@include box-shadow(inset 3px 0 10px -4px #C7C7C7);
			position: absolute;
			width:100%;
			height: 100%;
			top: 0px;
			left: 0px;
			padding: 7px;
			padding-top: 16px;
			//padding-top: $button-top + $button-size;

		}
	}
}