.sidebar input[type=search] {
	position: relative;
	
	font-family: $font-light;
	font-size: 28px;
	@include breakpoint(tablet) { font-size: 40px; }
	@include input-placeholder { color: white; }
	color: white;
	text-indent: 0.35em;

	border-left: thin solid white;

	@include transition(text-indent 0.2s ease-out);

	&:focus {
		text-indent: 0;
		border-left: none;
	}
}