.sidebar {
	
	.sub-back {
		line-height: 1;
		color: #1b1e23;
		@include square(35px);
		@include centerBlock(2em, auto, auto, 2em, 0, absolute);
		margin-top: -8px;

			svg {
				@include centerBlock(0, 0, 0, 0, auto, absolute);
				fill: $nav-gray;
				@include square(26px);
			}

			&:hover svg {
				fill: $gray-labels;
			}
	}
	.sidebar-shadow{
		z-index:5001;
		position:absolute;
		top: 0;
		height: 100%;
		left: $sidebar-width - 10;
		width: 10px;
		@include box-shadow(inset -3px 0px 10px -4px rgba($dark-background,.3));

	}
	.sidebar-header{
		background: $sidebar-black-header;
		height: $top-bar-height + 1;
		position: absolute;
		top:0;
		left:0;
		width:$sidebar-width;
		z-index: 5000;

	}
	.sidebar-controls {
		@extend .list-unstyled;
		color: $unselected-light-text-color;
		padding-top: 0px;
		padding-bottom: 0px; 
		text-align: left;
		#sidebar-my-tasks{
			
		}
		#sidebar-settings-container{
			position:relative;
			padding-top: 20px;
			padding-bottom: 10px;
			a.settings-button{
				padding-left: 10px;
			}
			a.invite-link{
				width: 138px;
				position:absolute;
				right:12px;
				text-align:right;
				top: 27px;
				font: 13px $font-normal;
				text-decoration: underline;
			}
			a.invite-link:hover{
				text-decoration: none;
			}
			svg{
				height: 25px;
				width: 25px;
				fill: $unselected-light-text-color;
			}

		}
		.more-button{
			font-size: 12px;
			display: none;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
			&.shown{
				display: block;
			}
		}
		a{
			margin: 0;
			text-decoration: none;
			display:block;
			color: $unselected-light-text-color;
			width:100%;
			&:hover, &:active, &:visited{
				text-decoration: none;
			}
		}
		.button-container a{
			&:hover{	
				color: white;
				.icon{
					fill: white;
				}
			}
		}
		
		h1{
			margin: 0;
			height: 60px;
			font: 18px $font-bold;
			letter-spacing: 0px;
			line-height: 60px;
			padding-left: 50px;
		}
		
		a{
			margin: 0;
			$block-height: 30px;
			$dot-size: 6px;
			height: $block-height;
			
			&.tasks-padding {
				height: 60px;
			}
			
			// Status icon for team members
			.status-container{
				height:$block-height;
				float: left;
				position: relative;
				display: inline-block;
				width:$dot-size*2;
				.status{
					@include border-radius(50%);
					display:inline-block;
					position: absolute;
					margin-left: 40px;
					left: 0;
					top: 50%;
					margin-top: -$dot-size/2;
					width: $dot-size;
					height: $dot-size;
					background-color: $unselected-color;
					&.online{
						background-color: $online-green;
					}
					&.busy{
						background-color: $busy-yellow;
					}
				}
			}
			.icon-container{
				float:left;
				$icon-spacing: 8px;
				$icon-height: $block-height - 2 * $icon-spacing;
				height: $block-height;
				margin-right: $icon-spacing;
				.icon{
					margin-top: $icon-spacing - 1;
					fill: $unselected-color;
					width: $icon-height;
					height: $icon-height;
				}
			}

			
			.text{
				float:left;
				font: 14px $font-normal;
				letter-spacing: 1px;
				@include transition(padding 0.1s ease-out);
				padding-left:0px;
				color: rgba($unselected-light-text-color,.6);
				line-height: 30px;
				padding-left: 50px;
			}
			&:hover{
				.text {
					color: $dark-background;
				}
				.close-container{
					display:block;
				}
			}
			
			.close-container{
				position: absolute;
				right: 3px;
				width:20px;
				height:20px;
				top: 50%;
				margin-top: -10px;
				display:none;
				&:hover{
					svg{
						opacity: 1.0;
					}
				}
				svg{
					opacity: 0.5;
					width: 20px;
					height:20px;
				}
			}

		}

		.unread{
			a{
				margin: 0;
				.text{
					margin: 0;
					font: 14px $font-extra-bold;
					color: $unselected-light-text-color;
					line-height: 30px;
				}
				$notification-size: 15px;
				.notification{
					position:absolute;
					right: 20px;
					border-radius: 20px;
					padding: 5px 5px;
					color: $unread-text-color;
					font: 14px $font-bold;
					height: $notification-size;
					min-width: $notification-size;
					line-height: $notification-size;
					top: 50%;
					transform: translateY(-50%);
					text-align:center;
					background-color: $new-yellow;
					box-sizing: content-box;
				}
				&:hover{
					.close-container{
						display:none;
					}
				}
			}
		}
		ul{
			list-style: none;
			padding-left:0px;
			margin-bottom: 5px;
			li {
				position:relative;
			}
			
			li:hover {
				background: rgba($white-background,.1);
				a {
					color: $unselected-light-text-color;
				}
				
				.text {
					color: $unselected-light-text-color;
				}
			}
			
			li.active, li.drag-hover-entering{
				background: rgba($white-background,1);
				
				a {
					color: $unread-text-color;
				}
				
				.text {
					color: $unread-text-color;
				}
			}
			li.drag-hover-entering{
				.text{
					@include transition(padding 0.3s ease-out);
					@include transition-delay(200ms);
					padding-left:10px;
				}
			}
		}
	}


	.sub-title {
		font-size: 13.5px;
		font-family: $font-normal;
		color: $gray-labels;
		margin: 1.3em 0 1.5em;
		@include breakpoint(tablet){
			margin: 0 0 3.5em;
		}
		line-height: 1;
		text-align: center;
		letter-spacing: 2px;

		svg {
			display: inline-block;
			@include square(20px);
			fill: $gray-labels;
			vertical-align: middle;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 20px;
			text-transform: uppercase;
		}
	}

}