
// Settings menu links
.settings-links {
	@include clearfix();

		.option {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			height: inherit;
		}

		svg {
			display: inline-block;
			@include square(40px);
			margin-bottom: 10px;
		}

		.syncing & {

			#sync-button .icon {
				@include rotate(360deg);
				@include transition(transform 1s linear 0);
				@include animation-iteration-count(infinite);
			}

		}

		a {
			display: table;
			float: left;
			@include size(100% / 3, 130px);
			color: $brand-dakrcolor;
			font-size: 14px;
			text-align: center;
			text-decoration: none;
			@include transition(background-color $transitionDuration-base ease);


				p {
					margin-bottom: 0;
				}


				&:hover {
					background-color: #fafafa;
				}

		}

}