.sidebar {
	.rounded-tags {
		li {
			cursor: pointer;
			background: transparent;
			margin: 0 0.4em 0.4em 0;
			color: $brand-dakrcolor;
			border: thin solid rgba($brand-dakrcolor, 0.8);
			font-family: $font-normal;

			@include transition(color 0.15s ease-out);

			&.selected,
			&:hover {
				background: $brand-dakrcolor;
				color: white;
			}
		}

		li.delete {	
			background: none;
			border: none;
			$h: 2.25em;
			padding: 0;
			text-align: center;

			a {
				background: transparent;
				display: inline-block;
				border: thin solid $brand-dakrcolor;
				padding: 0;

				font-size: 1.1em;
				text-align: center;
				line-height: ( $h + 0.1em );
				color: $brand-dakrcolor;

				@extend .basic-transition;

				@include square($h);
				@include border-radius(50%);

				&:hover {
					text-decoration: none;
					background-color: $brand-dakrcolor;
					color: white;
				}
			}
		}
	}
}

// Temporary ---
.delete-mode .rounded-tags li:not(.delete):before {
	content: "x " !important;
}