.sidebar input[type=search] {
	position: relative;
	
	font-style: italic;
	font-family: $font-light;
	font-size:24px;
	@include breakpoint(tablet){
		font-size: 30px;
	}
	@include input-placeholder { color: #999; }
	color: $brand-dakrcolor;
}