// Icons / actions
// .sidebar {
// 	a.close-sidebar, a.log-out, a.settings {
// 		position: absolute;
// 		color: white;
// 		line-height: 0;

// 		@include transition(color 0.18s ease-out);

// 		&:hover {
// 			text-decoration: none;
// 			color: white;
// 		}
// 	}

// 	.close-sidebar {
// 		top: 12px; right: 12px;
// 		@include breakpoint(desktop) {
// 			top: 20px; right: 20px;
// 		}

// 		font-size: 1.5em;

// 		&:hover { @extend .icon-cross-act; }
// 	}

// 	a.log-out {
// 		bottom: 12px; left: 12px;
// 		@include breakpoint(desktop) {
// 			bottom: 20px; left: 20px;
// 		}

// 		font-size: 1.1em;

// 		&:hover .icon-log-out { @extend .icon-log-out-act; }
// 	}

// 	a.settings {
// 		bottom: 12px; right: 12px;
// 		@include breakpoint(desktop) {
// 			bottom: 20px; right: 20px;
// 		}

// 		> span { font-size: 1.4em; }
// 		&:hover .icon-cog { @extend .icon-cog-act; }
// 	}
// }

.sidebar {
	
	
	// Logo
	.swipes-logo {
		display: inline-block;
		position: relative;
		width: 60px;
		height: 60px;
		margin-bottom: 2.5em;
		background-color: #fff;
		@include border-radius(50%);
		border-top: 1px solid #f3f4f4;
		border-bottom: 1px solid #c6c7c8;
		overflow: hidden;
		@include transition(transform 120ms ease);

			> img {
				@include centerBlock(0, 0, 0, 0, auto, absolute);
			}

			&:hover {
				@include scale(1.1);
			}

			&:active {
				@include scale(1);
			}
	}


	.sub-close {
		line-height: 1;
		font-size: 25px;
		text-decoration: none;
		color: #1b1e23;
		@extend .icon;
		@extend .icon-cross;
		@include centerBlock(1em, 1em, auto, auto, 0, absolute);
		@include transition(transform 120ms ease);

			&:hover {
				@include scale(1.1);
			}
	}

	
	// Control menus
	.sidebar-controls {
		@extend .list-unstyled;

			> li {
				margin-bottom: 1em;

					> a {
						@include opacity(0.3);
						@include transition(opacity 120ms ease-in-out, transform 100ms ease-in-out);

							&:hover {
								@include scale(1.15);
							}
					}

					&:nth-child(1) {
						margin-bottom: 5em;

							> a {
								@include opacity(1);
							}
					}

					> a.active {
						@include opacity(1);
					}
			}

			.btn-icon {
				display: inline-block;
				width: 40px;
				height: 41px;
				background: url(../styles/img/sprites/sidebar-buttons.svg) no-repeat 0 0;
				@include text-hide();

					&.addtask {
						background-position: 0 0;
					}

					&.search {
						background-position: 0 -55px;
					}

					&.workspaces {
						background-position: 0 -110px;
					}

					&.settings {
						background-position: 0 -165px;
					}

			}
	}


	.sidebar_content:hover .sidebar-controls {
		> li {
			> a {
				@include opacity(1);
			}
		}
	}


	.sub-title {
		font-size: 13.5px;
		font-family: $font-normal;
		color: $gray-titles;
		margin: 0 0 3.5em;
		line-height: 1;
		text-align: center;
		letter-spacing: 2px;
	}

	
	.tooltip.right {
		display: block !important;
		@include opacity(0);
		visibility: hidden;
		@include transition(transform 300ms ease, opacity 350ms ease);
		@include translate3d(-8px, 0, 0);

			&.in {
				visibility: visible;
				@include opacity(0.9);
				@include translate3d(0, 0, 0);
			}
	}


	.tooltip-inner {
		white-space: nowrap;
		font-size: 14px;
	}


	.search-filter {
		
	}


}