
// Structure holder
.sidebar {
	width: $sidebar-width;
	z-index: 5;
	@include centerBlock(0, auto, 0, 0, 0, fixed);
	@include user-select(none);
		

		// wide desktop
		// @include breakpoint(desktop-wide) {
		// 	width: $sidebar-width-big;
		// };


		// Base content wrapper
		&_content {
			padding: 60px 10px 0;
			width: inherit;
			text-align: center;
			background-color: $sidebar-bg;
			border-right: 2px solid #e0e0e0;
			z-index: 1;
			@include centerBlock(0, auto, 0, 0, 0, absolute);
		}

		&-sub {
			display: none;
			width: $sidebar-sub-width;
			background-color: $sidebar-bg;
			height: 100%;
			overflow-y: auto;
			border-right: 1px solid #e0e0e0;
			padding: 5em 2em .5em;
			@include centerBlock(0, auto, 0, $sidebar-width, 0, absolute);
		}
}


// Body structure when sidebar is opened
// body.sidebar-opened & {
// 	padding-left: ( $sidebar-width + $sidebar-sub-width );
// }



// .sidebar > section {
// 	margin-top: 45px;

// 	@include breakpoint(min-height, emCalc(800px)) {
// 		margin-top: 75px;
// 	}
// }