.sidebar {
	
	// Logo
	.swipes-logo {
		display: inline-block;
		position: relative;
		width: 50px;
		height: 50px;
		margin-bottom: 2.5em;
		background-color: #fff;
		@include border-radius(50%);
		border-top: 1px solid #f3f4f4;
		border-bottom: 1px solid #c6c7c8;
		overflow: hidden;

			> img {
				@include centerBlock(0, 0, 0, 0, auto, absolute);
			}

	}


	.sub-close {
		line-height: 1;
		font-size: 25px;
		text-decoration: none;
		color: #1b1e23;
		@extend .icon;
		@extend .icon-cross;
		@include centerBlock(1em, 1em, auto, auto, 0, absolute);

	}

	
	// Control menus
	.sidebar-controls.hasActiveEl {
		> li {
			> a {
				&:hover{
					opacity:1.0;
				}
				opacity:0.3;
				&.active{
					opacity: 1.0;
				}
			}
		}
	}
	.sidebar-controls {
		@extend .list-unstyled;

			> li {
				margin-bottom: 1em;
					> a {
						opacity:0.8;
						&:hover{
							opacity:1.0;
						}
						//@include opacity(0.3);
						@include transition(opacity 120ms ease-in-out, transform 100ms ease-in-out);

					}

					&:nth-child(4) {
						position:absolute;
						bottom: 35px;
						left:0;
						right:0;
						margin: auto;
					}

			}

			.btn-icon {
				display: inline-block;
				width: 40px;
				height: 41px;
				background: url(../styles/img/sprites/sidebar-buttons.svg) no-repeat 0 0;
				@include text-hide();

					&.addtask {
						background-position: 0 0;
					}

					&.search {
						background-position: 0 -55px;
					}

					&.workspaces {
						background-position: 0 -110px;
					}

					&.settings {
						background-position: 0 -165px;
					}

			}
	}


	.sub-title {
		font-size: 13.5px;
		font-family: $font-normal;
		color: #9e9e9e;
		margin: 0 0 3.5em;
		line-height: 1;
		text-align: center;
		letter-spacing: 2px;

			svg {
				display: inline-block;
				@include square(20px);
				fill: #9e9e9e;
			}
	}


	.search-filter {
		
	}


}