
// Snoozes styles

ul.snoozes {
	$row-height: emCalc(37px);

	list-style: none;
	padding: 0;

	header {
		position: relative;
		height: $row-height;

		h3 {
			font-family: $font-normal;
			text-align: left;
			margin: 0;
			line-height: $row-height;
		}

		button {
			position: absolute;
			top: 0; right: 0;

			width: emCalc(110px);
			height: 100%;

			background: transparent;
			
			outline: none;
			border: thin solid white;
			
			color: white;
			line-height: $row-height * 0.9;

			&:hover {
				background: rgba(white, 0.1);
			}
		}
	}


	li { margin-bottom: emCalc(28px); }
	
	li > section { display: none; }
	
	li.toggled {
		> section {
			@extend .animated;
			@extend .fadeIn;
			@include experimental(animation-duration, 0.3s);

			display: block;
			padding: 3.25em 0 1.7em;
		}

		button {
			background: $green;
		}
	}
}