
// Structure holder
.sidebar {

	width:$sidebar-width;
	z-index: 5000;
	
	
	@include user-select(none);
	
	.sidebar-open & {
		@include centerBlock(0, auto, 0, 0, 0, fixed);
	}
	&.left{
		@include transition(left $sidebar-animation ease-in-out);
		@include transition(opacity $sidebar-animation ease-in-out);
		@include centerBlock(0, auto, 0, -$sidebar-width+$sidebar-slide-width, 0, fixed);
		@include breakpoint(tablet) {
			width: $sidebar-width;
			@include centerBlock(0, auto, 0, 0, 0, fixed);
		}
		&:hover{
			@include transition(left $sidebar-animation ease-in-out);
			left:0;
		}
	}
	&_content::-webkit-scrollbar {
		display: none;
	}	
	
	// Base content wrapper
	&_content {
		&::-webkit-scrollbar { 
		    display: none;
		}
		overflow-y:scroll;
		width: inherit;
		text-align: center;
		background-color: $sidebar-dark-color;
		z-index: 4999;
		.left & {
			@include centerBlock(0, auto, 0, 0, 0, absolute);
		}
	}

	&-sub {
		display: block;
		@include transition(all $sidebar-animation ease-in-out);
		.left & {
			@include translate3d( -($sidebar-sub-width), 0, 0);
		}
		width: $sidebar-sub-width;
		padding: 1em 1em .5em;
		@include breakpoint(tablet){
			padding: 2em 2em .5em;
			.left & {
				@include translate3d( -($sidebar-sub-width-large), 0, 0);
			}
			width: $sidebar-sub-width-large;
		}
		
		background-color: $sidebar-bg;
		height: 100%;
		overflow-y: auto;
		.left & {
			border-right: 1px solid #e0e0e0;
			@include centerBlock(0, auto, 0, 0, 0, absolute);
		}

		z-index: 4998;
	}
	.clickable-overlay{
		display:none;
		z-index:4997;
		height:100%;
		position:fixed;
		width:100%;
		background:#fff;
		opacity:0.6;
	}
	// if the sidebar sub child is opened
	&.sub-open {
		.clickable-overlay{
			display:block;
		}
		.sidebar-sub {
			@include translate3d( $sidebar-width, 0, 0);
		}

	}
}
