.open-sidebar {
	$size: emCalc(40px);
	$padding: 0.5em;
	position: fixed;
	display: block;
	body.sidebar-open & { display: none; }

	width: $size; height: $size;
	top: $padding; left: $padding;
	background: $green;

	color: white;
	text-align: center;

	@include transition(all 0.2s ease-out);

	> span {
		font-size: 1.5em;
		line-height: 1.84em;
	}

	&:hover {
		text-decoration: none;
		color: white;
		background: lighten($green, 7%);
	}
}
