.sidebar {
	
	.sub-back {
		line-height: 1;
		color: #1b1e23;
		@include square(35px);
		@include centerBlock(2em, auto, auto, 2em, 0, absolute);
		margin-top: -8px;

			svg {
				@include centerBlock(0, 0, 0, 0, auto, absolute);
				fill: $nav-gray;
				@include square(26px);
			}

			&:hover svg {
				fill: $gray-labels;
			}
	}


	.sidebar-controls {
		@extend .list-unstyled;
		color: $sidebar-button-gray;
		padding-top: 0px;
		text-align: left;
		a{
			text-decoration: none;
			display:block;
			color: $sidebar-button-gray;
			width:100%;
			&:hover, &:active, &:visited{
				text-decoration: none;
			}
		}
		.button-container a{
			&:hover{	
				color: white;
				.icon{
					fill: white;
				}
			}
		}
		h1{
			padding-top: 10px;
			font: 0.8em/1 $font-normal;
			letter-spacing: 0px;
			padding-left: 19px;
			margin-top:15px;
			margin-bottom:6px;
		}
		a{
			$block-height: 25px;
			$dot-size: 10px;
			padding-left:20px;
			height: $block-height;
			
			// Status icon for team members
			.status-container{
				height:$block-height;
				float:left;
				position: relative;
				display: inline-block;
				width:$dot-size*2;
				.status{
					@include border-radius(50%);
					display:inline-block;
					position: absolute;

					left: 0;
					top: 50%;
					margin-top: -$dot-size/2;
					width: $dot-size;
					height: $dot-size;
					background-color: $unselected-color;
					&.online{
						background-color: $online-green;
					}
					&.busy{
						background-color: $busy-yellow;
					}
				}
			}
			.icon-container{
				float:left;
				$icon-spacing: 8px;
				$icon-height: $block-height - 2 * $icon-spacing;
				height: $block-height;
				margin-right: $icon-spacing;
				.icon{
					margin-top: $icon-spacing - 1;
					fill: $unselected-color;
					width: $icon-height;
					height: $icon-height;
				}
			}

			
			.text{
				float:left;
				padding-top: 6px;
				font: 0.75em/1 $font-normal;
				letter-spacing: 1px;
				text-align: left;
				@include transition(padding 0.1s ease-out);
				padding-left:0px;
			}

		}
		.unread{
			a{
				.text{
					font: 0.75em/1 $font-bold;
					color: white;
				}
				$notification-size: 22px;
				.notification{
					position:absolute;
					right: 3px;
					@include border-radius($notification-size/2);
					padding:5px;
					padding-top:3px;
					color: white;
					border: 2px solid $red;
					font: 11px $font-normal;
					height:$notification-size;
					top: 1px;
					min-width:$notification-size;
					text-align:center;
				}
			}
		}
		ul{
			list-style: none;
			padding-left:0px;
			margin-bottom: 5px;
			li {
				position:relative;
			}
			
			li:hover, li.active, li.drag-hover-entering{
				background: $sidebar-button-active-background-gray;
				a{
					color: $sidebar-button-active-gray;
				}
			}
			li.drag-hover-entering{
				.text{
					@include transition(padding 0.3s ease-out);
					@include transition-delay(200ms);
					padding-left:10px;
				}
			}
		}
	}


	.sub-title {
		font-size: 13.5px;
		font-family: $font-normal;
		color: $gray-labels;
		margin: 1.3em 0 1.5em;
		@include breakpoint(tablet){
			margin: 0 0 3.5em;
		}
		line-height: 1;
		text-align: center;
		letter-spacing: 2px;

		svg {
			display: inline-block;
			@include square(20px);
			fill: $gray-labels;
			vertical-align: middle;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 20px;
			text-transform: uppercase;
		}
	}

}