.sidebar {
	
	.sub-back {
		line-height: 1;
		color: #1b1e23;
		@include square(35px);
		@include centerBlock(2em, auto, auto, 2em, 0, absolute);
		margin-top: -8px;

			svg {
				@include centerBlock(0, 0, 0, 0, auto, absolute);
				fill: $nav-gray;
				@include square(26px);
			}

			&:hover svg {
				fill: $gray-labels;
			}
	}
	.sidebar-shadow{
		z-index:5001;
		position:absolute; 
		top: 0;
		height: 100%;
		left: $sidebar-width - 10;
		width: 10px;
		@include box-shadow(inset -3px 0 10px -4px $dark-background);

	}
	.sidebar-header{
		background: $sidebar-black-header;
		height: $top-bar-height + 1;
		position: absolute;
		top:0;
		left:0;
		width:$sidebar-width;
		z-index: 5000;

	}
	.sidebar-controls {
		@extend .list-unstyled;
		color: $unselected-text-color;
		padding-top: 0px;
		padding-bottom: 0px; 
		text-align: left;
		#sidebar-my-tasks{
		}
		#sidebar-settings-container{
			position:relative;
			padding-top: 20px;
			padding-bottom: 10px;
			a.settings-button{
				padding-left: 10px;
			}
			a.invite-link{
				width: 138px;
				position:absolute;
				right:12px;
				text-align:right;
				top: 27px;
				font: 13px $font-normal;
				text-decoration: underline;
			}
			a.invite-link:hover{
				text-decoration: none;
			}
			svg{
				height: 25px;
				width: 25px;
				fill: $unselected-text-color;
			}

		}
		.sidebar-section{
			position:relative;
			.more-button{
				font-size: 12px;
				display: none;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
				&.shown{
					display: block;
				}
			}
			.add-button{

				position:absolute;
				width: 25px;
				right: 2px;
				height:25px;
				top: 6px;
				opacity: 0.6;
				padding: 0;
				svg{
					height:25px;
					width:25px;
					fill: $unselected-text-color;
				}
				
				&:hover {
					opacity: 1;
				}
			}
			/*h1.title{
				display: inline-block;
				float:left;
			}*/
		}
		
		a{
			text-decoration: none;
			display:block;
			color: $unselected-text-color;
			width:100%;
			&:hover, &:active, &:visited{
				text-decoration: none;
			}
		}
		.button-container a{
			&:hover{	
				color: white;
				.icon{
					fill: white;
				}
			}
		}
		h1{
			padding-top: 10px;
			font: 14px $font-bold;
			letter-spacing: 0px;
			padding-left: 19px;
			margin-top:8px;
			margin-bottom:6px;
		}
		a{
			$block-height: 25px;
			$dot-size: 6px;
			padding-left:20px;
			height: $block-height;
			cursor: pointer;
			
			&.task {
				height: 45px;
				border-bottom: 2px solid $sidebar-black-header;
				cursor: pointer;
			}
			
			// Status icon for team members
			.status-container{
				height:$block-height;
				float:left;
				position: relative;
				display: inline-block;
				width:$dot-size*2;
				.status{
					@include border-radius(50%);
					display:inline-block;
					position: absolute;

					left: 0;
					top: 50%;
					margin-top: -$dot-size/2;
					width: $dot-size;
					height: $dot-size;
					background-color: $unselected-color;
					&.online{
						background-color: $online-green;
					}
					&.busy{
						background-color: $busy-yellow;
					}
				}
			}
			.icon-container{
				float:left;
				$icon-spacing: 8px;
				$icon-height: $block-height - 2 * $icon-spacing;
				height: $block-height;
				margin-right: $icon-spacing;
				.icon{
					margin-top: $icon-spacing - 1;
					fill: $unselected-color;
					width: $icon-height;
					height: $icon-height;
				}
			}

			
			.text{
				width: 165px;
				float:left;
				font: 13px $font-normal;
				line-height: 25px;
				letter-spacing: 1px;
				text-align: left;
				@include transition(padding 0.1s ease-out);
				padding-left:0px;
				text-overflow: ellipsis;
				white-space: nowrap;
  				overflow: hidden;
				color: rgba($unselected-text-color, .4);
				cursor: pointer;
			}
			
			.task-text {
				font: 15px $font-bold;
				line-height: 45px;
				cursor: pointer;
			}
			
			&:hover{
				.close-container{
					display:block;
				}
			}
			.close-container{
				position: absolute;
				right: 3px;
				width:20px;
				height:20px;
				top: 50%;
				margin-top: -10px;
				display:none;
				&:hover{
					svg{
						opacity: 1.0;
					}
				}
				svg{
					opacity: 0.5;
					width: 20px;
					height:20px;
				}
			}

		}

		.unread{
			a{
				.text{
					font: 14px $font-bold;
					color: $unselected-text-color;
					line-height: 25px;
				}
				$notification-size: 25px;
				.notification{
					position:absolute;
					right: 0;
					padding: 5px;
					text-align:center;
					
					&.task {
						top: 10px;
						right: 8px;
						font: 14px $font-bold;
						height: $notification-size;
						min-width: $notification-size;
						color: $sidebar-dark-color;
						background-color: $yellow;
						line-height: 15px;
						@include border-radius($notification-size/2);
					}
					
					&.chat {
						font: 12px $font-bold;
						height:25px;
						min-width:25px;
						color: $white-background;
						background-color: $orange;
						line-height: 15px;
						-webkit-animation: notification-in .3s forwards ease-in-out;
						animation: notification-in .3s forwards ease-in-out;
					}
				}
				&:hover{
					.close-container{
						display:none;
					}
				}
			}
		}
		ul{
			list-style: none;
			padding-left:0px;
			margin-bottom: 5px;
			li {
				position:relative;
			}
			
			li:hover, li.active, li.drag-hover-entering{
				background: rgba($white-background, .2);
				a{
					color: $unselected-text-color;
				}
				
				.text {
					color: $unselected-text-color;
				}
			}
			li.drag-hover-entering{
				.text{
					@include transition(padding 0.3s ease-out);
					@include transition-delay(200ms);
					padding-left:10px;
				}
			}
		}
	}


	.sub-title {
		font-size: 13.5px;
		font-family: $font-normal;
		color: $gray-labels;
		margin: 1.3em 0 1.5em;
		@include breakpoint(tablet){
			margin: 0 0 3.5em;
		}
		line-height: 1;
		text-align: center;
		letter-spacing: 2px;

		svg {
			display: inline-block;
			@include square(20px);
			fill: $gray-labels;
			vertical-align: middle;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 20px;
			text-transform: uppercase;
		}
	}

}