
// Structure holder
.sidebar {
	width: $sidebar-width;
	z-index: 5000;
	@include centerBlock(0, auto, 0, 0, 0, fixed);
	@include user-select(none);
		

		// wide desktop
		// @include breakpoint(desktop-wide) {
		// 	width: $sidebar-width-big;
		// };


		// Base content wrapper
		&_content {
			padding: 60px 10px 0;
			width: inherit;
			text-align: center;
			background-color: $sidebar-bg;
			border-right: 2px solid #e0e0e0;
			z-index: 4999;
			@include centerBlock(0, auto, 0, 0, 0, absolute);
		}

		&-sub {
			display: block;
			@include transition(all $sidebar-animation ease-in-out);
			@include translate3d( -($sidebar-sub-width), 0, 0);
			width: $sidebar-sub-width;
			background-color: $sidebar-bg;
			height: 100%;
			overflow-y: auto;
			border-right: 1px solid #e0e0e0;
			padding: 5em 2em .5em;
			@include centerBlock(0, auto, 0, $sidebar-width, 0, absolute);
			z-index: 4998;
		}
		.clickable-overlay{
			display:none;
			z-index:4997;
			height:100%;
			position:fixed;
			width:100%;
			background:#000;
			opacity:0.3;
		}
		// if the sidebar sub child is opened
		&.sub-open {
			.clickable-overlay{
				display:block;
			}
			.sidebar-sub {
				@include translate3d( 0, 0, 0);
			}

		}
}


// Body structure when sidebar is opened
// body.sidebar-opened & {
// 	padding-left: ( $sidebar-width + $sidebar-sub-width );
// }



// .sidebar > section {
// 	margin-top: 45px;

// 	@include breakpoint(min-height, emCalc(800px)) {
// 		margin-top: 75px;
// 	}
// }