.sidebar {
	
	.sub-back {
		line-height: 1;
		color: #1b1e23;
		@include square(35px);
		@include centerBlock(2em, auto, auto, 2em, 0, absolute);
		margin-top: -8px;

			svg {
				@include centerBlock(0, 0, 0, 0, auto, absolute);
				fill: $nav-gray;
				@include square(26px);
			}

			&:hover svg {
				fill: $gray-labels;
			}
	}


	.sidebar-controls {
		@extend .list-unstyled;
		color: #fff;
		padding-top: 30px;
		text-align: left;
		h1{
			padding-top: 10px;
			font: 0.8em/1 $font-normal;
			letter-spacing: 2px;
			padding-left: 32px;
		}
		ul{
			list-style: none;
			padding-left:0px;
			li {
				a{
					$block-height: 34px;
					$dot-size: 10px;
					padding-left:43px;
					text-decoration: none;
					display:block;
					color: $sidebar-button-gray;
					width:100%;
					height: $block-height;
					&:hover, &:active, &:visited{
						text-decoration: none;
					}

					// Status icon for team members
					.status-container{
						height:$block-height;
						float:left;
						position: relative;
						display: inline-block;
						width:$dot-size*2;
						.status{
							@include border-radius(50%);
							display:inline-block;
							position: absolute;

							left: 0;
							top: 50%;
							margin-top: -$dot-size/2;
							width: $dot-size;
							height: $dot-size;
							background-color: $unselected-color;
							&.online{
								background-color: $online-green;
							}
							&.busy{
								background-color: $busy-yellow;
							}
						}
					}
					.text{
						float:left;
						padding-top: 10px;
						font: 0.75em/1 $font-normal;
						letter-spacing: 1px;
						text-align: left;
						@include transition(padding 0.1s ease-out);
						padding-left:0px;
					}

				}

			}
			
			li:hover, li.active, li.drag-hover-entering{
				background: $sidebar-button-active-background-gray;
				a{
					color: $sidebar-button-active-gray;
				}
			}
			li.drag-hover-entering{
				.text{
					@include transition(padding 0.3s ease-out);
					@include transition-delay(200ms);
					padding-left:10px;
				}
			}
		}
	}


	.sub-title {
		font-size: 13.5px;
		font-family: $font-normal;
		color: $gray-labels;
		margin: 1.3em 0 1.5em;
		@include breakpoint(tablet){
			margin: 0 0 3.5em;
		}
		line-height: 1;
		text-align: center;
		letter-spacing: 2px;

		svg {
			display: inline-block;
			@include square(20px);
			fill: $gray-labels;
			vertical-align: middle;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 20px;
			text-transform: uppercase;
		}
	}

}