
// Snoozes styles

ul.snoozes {
	$row-height: emCalc(37px);

	list-style: none;
	padding: 0;

	header {
		position: relative;
		height: $row-height;

		h3 {
			font-family: $font-normal;
			text-align: left;
			margin: 0;
			line-height: $row-height;
			color: $gray-titles;
			font-size: 15px;
			@include breakpoint(tablet){
				font-size:18px;
			}
		}

		button {
			position: absolute;
			top: 0; right: 0;

			width: emCalc(125px);
			height: 100%;

			background: transparent;
			
			outline: none;
			border: thin solid #E0E0E0;
			@include border-radius(25em);
			
			color: $brand-dakrcolor;
			line-height: $row-height * 0.9;

			font-size: emCalc(14px);

			&:hover {
				background: rgba(white, 0.1);
			}
		}
	}


	> li { margin-bottom: emCalc(28px); }
	
	li > section { display: none; }
	
	> li.toggled {
		> section {
			@extend .animated;
			@extend .fadeIn;
			@include experimental(animation-duration, 0.3s);

			display: block;
			padding: 1.9em 0 1.3em;
		}

		button {
			background: $brand-dakrcolor;
			color: white;
			border-color: $brand-dakrcolor;
		}
	}
}