
// Settings - Tweaks panel

.sub-content {


	// Group build
	.group {
		position: relative;
		padding-bottom: emCalc(40px);

			&-title {
				text-transform: uppercase;
				font-size: 14px;
				border-bottom: 1px solid #e0e0e0;
				letter-spacing: 1px;
				line-height: 1;
				padding: 0 0 3px;
				margin: 0 0 3px;
				font-family: $font-bold;
			}
	}


	// Control links
	.control-link {
		display: block;
		text-decoration: none;
		font-size: 13px;
		color: $brand-dakrcolor;
		line-height: 1;
		padding: emCalc(22px) 0;
		position: relative;

			&:after {
				display: inline-block;
				content: '';
				@include square(12px);
				background-color: $gray-lighter;
				border: 1px solid transparent;
				@include border-radius(50%);
				@include centerBlock(0, 0, 0, auto, auto, absolute);
			}

			&.on:after {
				background-color: $green;
			}

			&.off:after {
				background-color: transparent;
				border-color: rgba(#000, 0.3);
			}

	}


}