.assign-modal, .invite-modal, .user-picker-modal{
	background: $sidebar-button-active-background-gray;
	@include border-radius(10px);
	padding:20px;
	.assign-scroll-container{
		overflow-y: scroll;
		max-height: 250px;
		@include breakpoint(min-height, 400px){
			max-height: 300px;
		}
		@include breakpoint(min-height, 500px){
			max-height: 400px;
		}
		@include breakpoint(min-height, 600px){
			max-height: 500px;
		}
	}
	h2{
		color: white;
		font: 14px $font-normal;
		margin-top:0;
		padding-left:5px;
		padding-right:5px;
		text-align: center;
	}
	.search-container{
		padding: 6px;
		padding-left: 10px;
		margin-top: 5px;
		margin-bottom: 10px;
		border: 1px solid white;
		@include border-radius(7px);
		position: relative;
		svg{
			height:12px;
			width:12px;
			top: 50%;
			margin-top: -6px;
			fill:white;
			position: absolute;

		}
		input{
			padding-left: 17px;
			background-color: transparent;
			color: white;
			width: 100%;
			font-size: 12px;
			@include placeholder(white);
		}
	}
	
	.message, .member, .user{
		position:relative;
		color: white;
		font: 12px $font-normal;
		padding:5px;
		.picture-container{
			padding-left:0px;
			width:30px;
			display:inline-block;
			.picture-circular{
				width:26px;
				height:26px;
				@include border-radius(13px);
			}
		}
		.name{
			position:absolute;
			top:50%;
			left:40px;
			margin-top:-8px;
			word-wrap: break-word;
		}
	}
	ul{
		margin-bottom: 0;
	}

}

.welcome-modal{
	background: url("img/swipes-ui-team-splash-screen-horizontal-medium.png") no-repeat;
	background-size: 700px 375px;
	width: 700px;
	position:relative;
	height: 375px;
	.start-button{
		background: $red;
		padding: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		@include border-radius(5px);
		color: white;
		font: 14px $font-normal;
		position: absolute;
		right: 100px;
		bottom:95px;
	}
	@include breakpoint(min-height, 700px) {
		background-size: 990px 530px;
		width: 990px;
		height: 530px;
		.start-button{
			right: 194px;
			bottom:145px;
		}
	}
}