.assign-modal{
	background: $sidebar-button-active-background-gray;
	@include border-radius(10px);
	padding:20px;

	h2{
		color: white;
		font: 18px $font-normal;
		margin-top:0;
	}
	.message, .member{
		position:relative;
		color: white;
		font: 12px $font-normal;
		padding:5px;
		.picture-container{
			padding-left:0px;
			width:30px;
			display:inline-block;
			.picture-circular{
				width:26px;
				height:26px;
				@include border-radius(13px);
			}
		}
		.name{
			position:absolute;
			top:50%;
			left:40px;
			margin-top:-8px;
		}
	}
	ul{
		margin-bottom: 0;
	}

}
.welcome-modal{
	background: url("img/swipes-ui-team-splash-screen-horizontal-medium.png") no-repeat;
	background-size: 700px 375px;
	width: 700px;
	position:relative;
	height: 375px;
	.start-button{
		background: $red;
		padding: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		@include border-radius(5px);
		color: white;
		font: 14px $font-normal;
		position: absolute;
		right: 100px;
		bottom:95px;
	}
	@include breakpoint(min-height, 700px) {
		background-size: 990px 530px;
		width: 990px;
		height: 530px;
		.start-button{
			right: 194px;
			bottom:145px;
		}
	}
	@include breakpoint(min-height, 900px) {
		background: url("img/swipes-ui-team-splash-screen-horizontal.png") no-repeat;
		background-size: 990px 670px;
		height: 670px;
		.start-button{
			bottom:230px;
		}
	}
}