$padding: 20px;
.list-action{
	
	$icon-size: 20px;
	$leftWidth: $icon-size + $padding * 2;
	position:relative;
	color: rgba($sidebar-black-header,.5);
	padding: $padding;
	font: 16px/1 $font-normal;
	transition: .1s ease-in-out;
	cursor: pointer;
	opacity: 0;
	
	-webkit-animation: fade-this-in .2s ease-in-out forwards;
	animation: fade-this-in .2s ease-in-out forwards;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	
	&:not(:last-child) {
		border-bottom: 1px solid darken($gray-background,10%);
	}
	
	&:hover{
		background: darken($gray-background,10%);
		transition: .1s ease-in-out;
	}
	&.hasIcon{
		padding-left:$leftWidth;
	}
	svg{
		position:absolute;
		left:$leftWidth/2;
		margin-left: -$icon-size/2;
		top:50%;
		margin-top: -$icon-size/2;
		width:$icon-size;
		height:$icon-size;
		fill: rgba($sidebar-black-header,.5);
	}
	min-width:180px;
}
.list-action-modal{
	overflow: hidden;
	position: relative;
	background: $gray-background;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 9999;
	
	-webkit-animation: come-in .25s ease-out forwards;
	animation: come-in .25s ease-out forwards;
}

@-webkit-keyframes come-in {
	0% {
		-webkit-transform-origin: 0% 0%;
		-webkit-transform: scale3d(0, 0, 1);
	}
	
	100% {
		-webkit-transform-origin: 0% 0%;
		-webkit-transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes fade-this-in {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes come-in {
	0% {
		transform-origin: 0% 0%;
		transform: scale3d(0, 0, 1);
	}
	
	100% {
		transform-origin: 0% 0%;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes fade-this-in {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}