.full-modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9001;
	top: 0;
	left: 0;
	background-color: rgba($sidebar-black-header, .1);
	
	.full-modal {
		width: 400px;
		min-height: 250px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $white-background;
		border-radius: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
		
		h2 {
			margin: 25px 10%;
			font: 16px $font-bold;
			color: $sidebar-black-header;
		}
		
		textarea {
			width: 80%;
			min-height: 80px;
			margin-left: 10%;
			font: 14px $font-normal;
			color: rgba($sidebar-black-header, .6);
			resize: none;
			border: none;
			cursor: text;
			outline: none;
		}
		
		.buttons {
			position: relative;
			width: 200px;
			margin-left: 50%;
			margin-top: 40px;
			height: 50px;
			display: inline-block;
			
			button {
				padding: 0;
			}
			
			button.cancel {
				width: 99px;
				height: 50px;
				font: 14px $font-bold;
				color: rgba($sidebar-black-header, .4);
				border: none;
				margin-left: -4px;
				position: relative;
				background-color: transparent;
				
				&:after {
					content: "";
					position: absolute;
					width: 2px;
					height: 15px;
					right: 0;
					background-color: rgba($sidebar-black-header, .2);
				}
			}
			
			button.submit {
				width: 100px;
				height: 50px;
				font: 14px $font-bold;
				color: $sidebar-black-header;
				border: none;
				margin-left: -4px;
				background-color: transparent;
				
			}
		}
	}
}