$edit-nav-height: 50px;
$nav-seperator-height: 20px;
$nav-icon-size: 22px;
textarea, input, .content-editable {
	color: inherit;
	text-indent: 0;
	width: 100%;
	padding:10px;

	@include transition(color 0.2s ease-out);

	&:focus, &:hover {
		color: $gray;
	}

	&:active, &:focus {
		border:none;
		outline:none;
	}
}

textarea, .content-editable {
	@include input-placeholder() {
		color: lighten($gray, 30%);
	}
}
.edit-task-container{
	display: none;
	.editMode & {
		display:block;
	}
}

$white: #fff;
$dark: #000c2f;

$mat-sha-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$mat-sha-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$mat-sha-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

%flex {
	display: -webkit-box;
	display: flex;
}

%flex-complete {
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.go-back-expanded {
	max-width: 400px;
	width: 90%;
	margin: 0 auto;
	padding: 25px 0;
	cursor: pointer;
	
	a {
		color: rgba($sidebar-black-header, .5);
		cursor: pointer;
		
		svg {
			width: 18px;
			height: 18px;
			fill: rgba($sidebar-black-header, .5);
			-webkit-transform: translateY(2px);
			transform: translateY(2px);
			-webkit-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
			cursor: pointer;
		}
	}
	
	&:hover > a > svg {
		fill: rgba($sidebar-black-header, 1);
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
	} 
	
	&:hover > a {
		color: rgba($sidebar-black-header, 1);
		text-decoration: none;
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
	} 
}

.task-card {
	max-width: 400px;
	width: 90%;
	margin: 0 auto;
	background-color: $white-background;
	box-shadow: $mat-sha-one;
	border-radius: 5px;
	overflow: hidden;
	
	&.open {
		-webkit-animation: task-full-ani .3s forwards ease-in-out;
		animation: task-full-ani .3s forwards ease-in-out;
	}
	
	.top {
		width: 100%;
		min-height: 60px;
		padding-left: 20px;
		background-color: $yellow;
		box-shadow: $mat-sha-one;
		position: relative;
		
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
		
		h1.h2.task-title {
			min-height: 60px;
			width: calc(100% - 30px);
			margin: 0;
			
			@extend %flex;
			-webkit-align-items: center;
			align-items: center;
			
			-webkit-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
			
			.input-title.content-editable {
				width: calc(100% - 100px);
				font: 16px $font-normal;
				padding: 30px 0;
				color: $sidebar-black-header;
				
				&.open {
					-webkit-animation: task-fade-ani .8s forwards ease-in-out;
					animation: task-fade-ani .8s forwards ease-in-out;
				}
				
				&:hover {
					cursor: text;
				}
			}
		}
		
		.schedule-container.info-row {
			height: 60px;
			width: 60px;
			position: absolute;
			top: calc(50% - 30px);
			padding: 0 20px;
			right: 0;
			background-color: $yellow;
			cursor: pointer;
			box-sizing: content-box;
			
			&.open {
				-webkit-animation: task-fade-ani .8s forwards ease-in-out;
				animation: task-fade-ani .8s forwards ease-in-out;
			}
			
			&:hover  {
				top: 0;
				height: 100%;
				background-color: lighten($yellow, 5%);
				-webkit-transition: .1s ease-in-out;
				transition: .1s ease-in-out;		
			}
			
			&:hover > .content-div.info-label.top-date:before {
				height: 100%;
				top: 0;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
						
			.content-div.info-label.top-date {
				height: 60px;
				width: 60px;
				position: relative;
				top: calc(50% - 30px);
				right: 0;
				text-align: center;
				cursor: pointer;
				
				@extend %flex;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-align-content: center;
				align-content: center;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				
				-webkit-transition: .1s ease-in-out;
				transition: .1s ease-in-out;
				
				&:before {
					content: '';
					position: absolute;
					width: 1px;
					height: 20px;
					background-color: rgba($sidebar-black-header, .1);
					left: -20px;
					top: calc(50% - (20px / 2));
					
					-webkit-transition: .2s ease-in-out;
					transition: .2s ease-in-out;
				}
				
				span.year {
					font: 12px $font-normal;
					color: rgba($sidebar-black-header, .5);
					cursor: pointer;
				}
				
				span.month {
					font: 17px $font-bold;
					color: $sidebar-black-header;
					cursor: pointer;
				}
				
				span.time {
					font: 12px $font-normal;
					color: rgba($sidebar-black-header, .5);
					cursor: pointer;
				}
			}
		}
		
		section.assignees-container.info-row {
			
			&.open {
				-webkit-animation: task-fade-ani .8s forwards ease-in-out;
				animation: task-fade-ani .8s forwards ease-in-out;
			}
			
			.content-div {
				position: absolute;
				width: 100%;
				height: 30px;
				left: 0;
				margin-top: -15px;
				
				ul.assignees-list {
					height: 30px;
					padding-left: 30px;
					
					@extend %flex; 
					
					li {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						box-shadow: $mat-sha-one;
						cursor: pointer;
						-webkit-transition: .2s ease-in-out;
						transition: .2s ease-in-out;
						position: relative;
						overflow: hidden;
						
						&:hover {
							-webkit-transform: scale3d(1.15,1.15,1.15);
							transform: scale3d(1.15,1.15,1.15);
							box-shadow: $mat-sha-two;
							-webkit-transition: .2s ease-in-out;
							transition: .2s ease-in-out;
						}
						
						&.assign {
							margin-right: 5px;
							background-color: $sidebar-black-header;
;
							position: relative;
							
							&:before {
								content: '';
								position: absolute;
								width: 2px;
								height: 10px;
								background-color: $white-background;
								top: calc(50% - 5px);
								left: calc(50% - 1px);
							}
							
							&:after {
								content: '';
								position: absolute;
								height: 2px;
								width: 10px;
								background-color:$white-background;
								left: calc(50% - 5px);
								top: calc(50% - 1px);
							}
						}
						
						&.assign-label {
							border-radius: 5px;
							width: auto;
							background-color: $sidebar-black-header;
							position: relative;
							overflow: visible;
							margin-left: 12px;
							z-index: 99;
							
							.arrow {
								position: absolute;
								width: 20px;
								height: 20px;
								top: 6px;
								left: -3px;
								transform: rotate(45deg);
								background-color: $sidebar-black-header;
								z-index: 1;
							}
							
							p.assign-label-text {
								position: relative;
								color: $white-background;
								font: 12px $font-normal;
								line-height: 30px;
								padding: 0 10px;
								z-index: 99;
							}
							
							&:hover {
								-webkit-transform: scale3d(1,1,1);
								transform: scale3d(1,1,1);
								box-shadow: $mat-sha-one;
							}
						}
						
						&.assignee {
							width: 40px;
							height: 40px;
							margin: 0 5px;
							margin-top: -5px;
							position: relative;
							cursor: pointer;
							
							&:hover > .assignee-hover {
								opacity: 1;
								-webkit-transform: rotate(45deg) scale(1);
								transform: rotate(45deg) scale(1);
								-webkit-transition: .25s ease-in-out;
								transition: .25s ease-in-out;
							}
							
							.picture-circular {
								width: 40px;
								height: 40px;
								background-repeat: no-repeat;
								background-size: 40px 40px;
								cursor: pointer;
							}
							
							.assignee-hover {
								width: 40px;
								height: 40px;
								position: absolute;
								top: 0;
								left: 0;
								background-color: rgba($sidebar-black-header,.7);
								opacity: 0;
								border-radius: 50%;
								cursor: pointer;
								-webkit-transform: rotate(45deg) scale(0);
								transform: rotate(45deg) scale(0);
								-webkit-transition: .25s ease-in-out;
								transition: .25s ease-in-out;
								
								&:before {
									content: '';
									position: absolute;
									width: 2px;
									height: 16px;
									background-color: $white-background;
									top: calc(50% - 8px);
									left: calc(50% - 1px);
								}

								&:after {
									content: '';
									position: absolute;
									height: 2px;
									width: 16px;
									background-color: $white-background;
									left: calc(50% - 8px);
									top: calc(50% - 1px);
								}
							}
						}
					}
				}
			}
		}
	}
	
	section.action-step-container.info-row {
		margin-top: 25px;
		
		&.open {
			-webkit-animation: task-fade-ani .8s forwards ease-in-out;
			animation: task-fade-ani .8s forwards ease-in-out;
		}
		
		.action-tab {
			.action-list-container {
				.task-list {
					.section {
						ul.section-list {
							li.action-item {
								width: 100%;
								height: 50px;
								position: relative;
								padding-left: 50px;
								
								@extend %flex;
								-webkit-align-items: center;
								align-items: center;
								
								-webkit-transition: .1s ease-in-out;
								transition: .1s ease-in-out;
								
								&:hover {
									cursor: text;
									background-color: rgba($sidebar-black-header, .05);
									-webkit-transition: .1s ease-in-out;
									transition: .1s ease-in-out;
								}
								
								&:hover > .action-step-buttons {
									opacity: 1;
									-webkit-transition: .1s ease-in-out;
									transition: .1s ease-in-out;
								}
								
								.action-step-buttons {
									height: 50px;
									position: absolute;
									width: 64px;
									top: 0;
									right: 0;
									opacity: 0;
									
									-webkit-transition: .2s ease-in-out;
									transition: .2s ease-in-out;
											
									@extend %flex;
											
									.delete {
										width: 50px;
										height: 50px;
										cursor: pointer;
										
										&:hover > svg {
											fill: $red;
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
										
										svg {
											fill: rgba($red, .5);
											margin-top: 15px;
											width: 20px;
											height: 20px;
											
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
									}
											
									.complete {
										width: 50px;
										height: 50px;
										cursor: pointer;
										
										&:hover > svg {
											fill: $online-green;
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
												
										svg {
											fill: rgba($online-green, .5);
											margin-top: 15px;
											width: 20px;
											height: 20px;
											
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
									}
								}
								
								.action-container {
									.relative-container {
										width: 100%;
										height: 50px;
										@extend %flex;
										-webkit-align-items: center;
										align-items: center;
										
										h2.title {
											padding: 0;
											font: 13px $font-bold;
											color: $sidebar-black-header;
											
											span.task-dot {
												width: 10px;
												height: 10px;
												border: 2px solid $yellow;
												border-radius: 50%;
												position: absolute;
												left: -25px;
											}
											
											.input-action-title.content-editable {
												padding: 0;
												margin-top: -4px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			
			.add-action-outer-container {
				.add-action-container.action-item {
					.action-container {
						height: 50px;
						position: relative;
						
						span.add {
							width: 10px;
							height: 10px;
							position: absolute;
							left: 20px;
							top: calc(50% - 6px);
							
							&:before {
								content: '';
								position: absolute;
								width: 2px;
								height: 10px;
								background-color: $sidebar-black-header;
								top: calc(50% - 5px);
								left: calc(50% - 1px);
							}
							
							&:after {
								content: '';
								position: absolute;
								height: 2px;
								width: 10px;
								background-color: $sidebar-black-header;
								left: calc(50% - 5px);
								top: calc(50% - 1px);
							}
						}
						
						input {
							width: calc(100% - 40px);
							height: 50px;
							margin-left: 40px;
							font: 13px $font-normal;
							color: $sidebar-black-header;
							background-color: transparent;
							
							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}
	
	.tasks-buttons-container {
		width: 100%;
		height: 70px;
		margin-top: 60px;
		border-top: 2px solid rgba($sidebar-black-header,.1);
		position: relative;
		
		@extend %flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		
		&.open {
			-webkit-animation: task-fade-ani .8s forwards ease-in-out;
			animation: task-fade-ani .8s forwards ease-in-out;
		}
		
		.btn {
			height: 70px;
			width: calc(100% / 3);
			cursor: pointer;
			position: relative;
			
			@extend %flex;
			
			-webkit-transition: .1s ease-in-out;
			transition: .1s ease-in-out;
			
			&.active {
				-webkit-transform: translate(400px);
				transform: translate(400px);
				-webkit-transition: .4s ease-in-out;
				transition: .4s ease-in-out;
			}
			
			h3 {
				width: 100%;
				padding: 0;
				padding-top: 10px;
				font: 12px $font-bold;
				color: rgba($sidebar-black-header, .4);
				text-align: center;
				cursor: pointer;
			}
			
			svg {
				width: 20px;
				height: 20px;
				fill: rgba($sidebar-black-header, .4);
				position: absolute;
				left: calc(50% - 10px);
				top: calc(33% - 10px);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.delete:hover > h3 {
				color: #e74c3c;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.delete:hover > svg {
				fill: #e74c3c;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.schedule:hover > h3 {
				color: $yellow;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.schedule:hover > svg {
				fill: $yellow;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.complete:hover > h3 {
				color: #2ecc71;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.complete:hover > svg {
				fill: #2ecc71;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.delete:hover {
				background-color: rgba($sidebar-black-header, .05);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.schedule:hover {
				background-color: rgba($sidebar-black-header, .05);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.complete:hover {
				background-color: rgba($sidebar-black-header, .05);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
		}
	}
}

p.edit-microcopy {
	width: 90%;
	margin: 25px auto;
	text-align: center;
	font: 14px $font-normal;
	color: rgba($sidebar-black-header,.6);
}

/*.edit-task{
	max-width: 400px;
	padding-top:25px;
	margin: 0 auto;
	position: relative;
	.action-step-container{
		.action-list-container{
			.section-list{
				margin-bottom: 0;
			}
		}
		.action-item{
			padding-top: 10px;
			padding-bottom: 10px;
			h2{
				margin-bottom:0;
				margin-top: 0;
				padding-left:16%;
			}
			input{
				font: 0.7em/1.8 $font-normal;
				width: 80%;
				margin-left: 16%;
			}
		}
		.add-action-container.action-item{
			padding: 0;
			input{
				margin-left:0;
				background: none;
				padding-top: 5px;
				padding-bottom: 4px;
				padding-left:16%;
			}
		}
	}
	
	.back-button{
		position:absolute;
		left:10px;
		top: 34px;
		svg{
			width: 16px;
			height: 16px;
		}
	}
	.task-title {
		position: relative;
		font-size: 16px;
		font-family: $font-normal;

		margin-bottom: 12px;
		margin-top: 0;
		margin-left:25px;

		
		// legacy code
		// input{
		// 	font-family: $font-light;
		// }
	}
	.info-label, .input-note{
		font-size:16px;
		padding-top:12px;
		padding-left:54px;
	}
	.info-row{
		position:relative;
		min-height:40px;
		.side-icon{
			position: absolute;
			left:10%;
			top: 50%;
			margin-top: -7px;
			margin-left: -7px;
			height: 14px;
			width: 14px;
			svg{
				width:14px;
				height: 14px;
				opacity: 0.6;
			}
		}
		.content-div{
			padding-left:16%;
			width:100%;	
		}
	}
	.assignees-list{
		$imageHeight:28px;
		padding-top:17px;
		padding-bottom: 10px;
		margin: 0;
		li{
			display: inline-block;
			position:relative;
			&.assignee:hover{
				.hover-lay{
					display: block;
				}
			}
			.picture-circular{
				width:$imageHeight;
				height:$imageHeight;
				@include border-radius($imageHeight/2);
				text-indent: -9999px;
				white-space: nowrap;
			}
			.hover-lay{
				position: absolute;
				display:none;
				@include border-radius($imageHeight/2);
				width: $imageHeight;
				height: $imageHeight;
				text-align:center;
				top: 0;
				left: 0;
				color: white;
				padding-top: 4px;
				background: rgba(50,50,50,0.5);
			}
			#assign-text-button{
				font: 14px $font-normal;
				line-height: 14px;
				color: $gray;
				padding-left: 10px;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	
	.has-icon {
		// Can't use em, because font-size might vary
		padding-left: 10px;
		position: relative;

		p {
			line-height: 1;
		}

		.icon-hold {
			display: inline-block;
			position: absolute;
			left: 44px;
			top: 12px;
			svg {
				fill: $gray;
				width: 12px;
				height: 12px;
			}
			border:0;
		}
	}

	> section {
		margin-bottom: 1.0em;
		min-height: 40px;
	}
}*/

@-webkit-keyframes task-full-ani {
	0% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 0, 1);
	}
	100% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 1, 1);
	}
}

@keyframes task-fade-ani {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes task-full-ani {
	0% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 0, 1);
	}
	100% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 1, 1);
	}
}

@keyframes task-fade-ani {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}