$edit-nav-height: 50px;
$nav-seperator-height: 20px;
$nav-icon-size: 22px;
textarea, input, .content-editable {
	color: inherit;
	text-indent: 0;
	width: 100%;
	padding:10px;

	@include transition(color 0.2s ease-out);

	&:focus, &:hover {
		color: $gray;
	}

	&:active, &:focus {
		border:none;
		outline:none;
	}
}

textarea, .content-editable {
	@include input-placeholder() {
		color: lighten($gray, 30%);
	}
}
.edit-task-container{
	display: none;
	.editMode & {
		display:block;
	}
}

$white: #fff;
$dark: #000c2f;

$mat-sha-one: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$mat-sha-two: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$mat-sha-three: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

%flex {
	display: -webkit-box;
	display: flex;
}

%flex-complete {
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.no-current-tasks-state {
	max-width: 400px;
	width: 90%;
	background-image: url('../styles/img/swipes-ui-team-trumpet.png') no-repeat center center fixed; 
  	background-size: cover;
}

.go-back-expanded {
	max-width: 400px;
	width: 90%;
	margin: 0 auto;
	padding: 25px 0;
	cursor: pointer;
	
	a {
		color: rgba($sidebar-black-header, .5);
		cursor: pointer;
		
		svg {
			width: 18px;
			height: 18px;
			fill: rgba($sidebar-black-header, .5);
			-webkit-transform: translateY(2px);
			transform: translateY(2px);
			-webkit-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
			cursor: pointer;
		}
	}
	
	&:hover > a > svg {
		fill: rgba($sidebar-black-header, 1);
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
	} 
	
	&:hover > a {
		color: rgba($sidebar-black-header, 1);
		text-decoration: none;
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
	} 
}
.task-card.animateIn{
	-webkit-animation: task-full-ani .3s forwards ease-in-out;
	animation: task-full-ani .3s forwards ease-in-out;
	.input-title.content-editable,
	.schedule-container.info-row,
	section.assignees-container.info-row,
	section.action-step-container.info-row,
	.tasks-buttons-container, .task-footer {
		-webkit-animation: task-fade-ani .8s forwards ease-in-out;
		animation: task-fade-ani .8s forwards ease-in-out;
	}

}
.task-card {
	max-width: 400px;
	width: 90%;
	margin: 0 auto;
	background-color: $white-background;
	box-shadow: $mat-sha-one;
	border-radius: 5px;
	overflow: hidden;
	
	.top {
		width: 100%;
		min-height: 60px;
		padding-left: 20px;
		background-color: $yellow;
		box-shadow: $mat-sha-one;
		position: relative;
		
		-webkit-transition: .2s ease-in-out;
		transition: .2s ease-in-out;
		
		h1.h2.task-title {
			min-height: 60px;
			width: calc(100% - 30px);
			margin: 0;
			
			@extend %flex;
			-webkit-align-items: center;
			align-items: center;
			
			-webkit-transition: .2s ease-in-out;
			transition: .2s ease-in-out;
			
			.input-title.content-editable {
				width: calc(100% - 70px);
				font: 16px $font-normal;
				padding: 30px 0;
				color: $sidebar-black-header;
				
				&:hover {
					cursor: text;
				}
			}
		}
		
		.schedule-container.info-row {
			height: 60px;
			width: 60px;
			position: absolute;
			top: calc(50% - 30px);
			padding: 0 20px;
			right: 0;
			background-color: $yellow;
			cursor: pointer;
			box-sizing: content-box;
			

			&:hover  {
				top: 0;
				height: 100%;
				background-color: lighten($yellow, 5%);
				-webkit-transition: .1s ease-in-out;
				transition: .1s ease-in-out;		
			}
			
			&:hover > .content-div.info-label.top-date:before {
				height: 100%;
				top: 0;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
						
			.content-div.info-label.top-date {
				height: 60px;
				width: 60px;
				position: relative;
				top: calc(50% - 30px);
				right: 0;
				text-align: center;
				cursor: pointer;
				
				@extend %flex;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-align-content: center;
				align-content: center;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				
				-webkit-transition: .1s ease-in-out;
				transition: .1s ease-in-out;
				
				&:before {
					content: '';
					position: absolute;
					width: 1px;
					height: 20px;
					background-color: rgba($sidebar-black-header, .1);
					left: -20px;
					top: calc(50% - (20px / 2));
					
					-webkit-transition: .2s ease-in-out;
					transition: .2s ease-in-out;
				}
				
				span.year {
					font: 12px $font-normal;
					color: rgba($sidebar-black-header, .5);
					cursor: pointer;
				}
				
				span.month {
					font: 17px $font-bold;
					color: $sidebar-black-header;
					cursor: pointer;
				}
				
				span.time {
					font: 12px $font-normal;
					color: rgba($sidebar-black-header, .5);
					cursor: pointer;
				}
			}
		}
		
		section.assignees-container.info-row {
			
			.content-div {
				position: absolute;
				width: 100%;
				height: 30px;
				left: 0;
				margin-top: -15px;
				
				ul.assignees-list {
					height: 30px;
					padding-left: 30px;
					
					@extend %flex; 
					
					li {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						box-shadow: $mat-sha-one;
						cursor: pointer;
						-webkit-transition: .2s ease-in-out;
						transition: .2s ease-in-out;
						position: relative;
						overflow: hidden;
						
						&:hover {
							-webkit-transform: scale3d(1.15,1.15,1.15);
							transform: scale3d(1.15,1.15,1.15);
							box-shadow: $mat-sha-two;
							-webkit-transition: .2s ease-in-out;
							transition: .2s ease-in-out;
						}
						
						&.assign {
							width: 30px;
							height: 30px;
							margin-right: 10px;
							background-color: $sidebar-black-header;
							background-image: url('../styles/img/swipes-ui-team-icon-assign.png');
							background-repeat: no-repeat;
							background-size: 25px 25px;
							background-position: center center;
							position: relative;
							
							&:hover {
								-webkit-transform: scale3d(1,1,1);
								transform: scale3d(1,1,1);
							}
						}
						
						&.assign-label {
							border-radius: 5px;
							width: auto;
							background-color: $sidebar-black-header;
							position: relative;
							overflow: visible;
							opacity: 1.0;
							margin-left: 12px;
							z-index: 99;
							&.hideAnimate{
								opacity: 0;
								@include transition(opacity 0.5s ease-out);
							}
							.arrow {
								position: absolute;
								width: 20px;
								height: 20px;
								top: 6px;
								left: -3px;
								transform: rotate(45deg);
								background-color: $sidebar-black-header;
								z-index: 1;
							}
							
							p.assign-label-text {
								position: relative;
								color: $white-background;
								font: 12px $font-normal;
								line-height: 30px;
								padding: 0 10px;
								z-index: 99;
							}
							
							&:hover {
								-webkit-transform: scale3d(1,1,1);
								transform: scale3d(1,1,1);
								box-shadow: $mat-sha-one;
							}
						}
						
						&.assignee {
							width: 40px;
							height: 40px;
							margin: 0 5px;
							margin-top: -5px;
							position: relative;
							cursor: pointer;
							
							&:hover > .assignee-hover {
								opacity: 1;
								-webkit-transform: rotate(45deg) scale(1);
								transform: rotate(45deg) scale(1);
								-webkit-transition: .25s ease-in-out;
								transition: .25s ease-in-out;
							}
							
							.picture-circular {
								width: 40px;
								height: 40px;
								background-repeat: no-repeat;
								background-size: 40px 40px;
								cursor: pointer;
							}
							
							.assignee-hover {
								width: 40px;
								height: 40px;
								position: absolute;
								top: 0;
								left: 0;
								background-color: rgba($sidebar-black-header,.7);
								opacity: 0;
								border-radius: 50%;
								cursor: pointer;
								-webkit-transform: rotate(45deg) scale(0);
								transform: rotate(45deg) scale(0);
								-webkit-transition: .25s ease-in-out;
								transition: .25s ease-in-out;
								
								&:before {
									content: '';
									position: absolute;
									width: 2px;
									height: 16px;
									background-color: $white-background;
									top: calc(50% - 8px);
									left: calc(50% - 1px);
								}

								&:after {
									content: '';
									position: absolute;
									height: 2px;
									width: 16px;
									background-color: $white-background;
									left: calc(50% - 8px);
									top: calc(50% - 1px);
								}
							}
						}
					}
				}
			}
		}
	}
	
	section.action-step-container.info-row {
		margin-top: 25px;
		
		.action-tab {
			.action-list-container {
				.task-list {
					.section {
						ul.section-list {
							li.action-item {
								.relative-container{
									width:100%;
									height:100%;
								}
								width: 100%;
								position: relative;
								padding: 10px 0;
								padding-left: 50px;
								padding-right:40px;
								
								@extend %flex;
								-webkit-align-items: center;
								align-items: center;
								
								-webkit-transition: .1s ease-in-out;
								transition: .1s ease-in-out;
								
								&:hover {
									cursor: text;
									background-color: rgba($sidebar-black-header, .05);
									-webkit-transition: .1s ease-in-out;
									transition: .1s ease-in-out;
								}
								
								&:hover > .action-step-buttons {
									opacity: 1;
									-webkit-transition: .1s ease-in-out;
									transition: .1s ease-in-out;
								}
								
								.action-step-buttons {
									height: 100%;
									position: absolute;
									width: 40px;
									top: 0;
									right: 0;
									opacity: 0;
									
									-webkit-transition: .2s ease-in-out;
									transition: .2s ease-in-out;
											
									@extend %flex;
											
									.delete {
										width: 50px;
										height: 50px;
										cursor: pointer;
										
										&:hover > svg {
											fill: $red;
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
										
										svg {
											fill: rgba($red, .5);
											margin-top: 15px;
											width: 20px;
											height: 20px;
											
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
									}
											
									.complete {
										width: 50px;
										height: 100%;
										position: relative;
										margin-top: 0;
										cursor: pointer;
										
										&:hover > svg {
											fill: $online-green;
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
												
										svg {
											fill: rgba($online-green, .5);
											width: 20px;
											height: 20px;
											position: relative;
											margin-left: 10px;
											top: calc(50% - 10px);
											
											-webkit-transition: .1s ease-in-out;
											transition: .1s ease-in-out;
										}
									}
								}
								
								.action-container {
									width: 100%;
									@extend %flex;
									-webkit-align-items: center;
									align-items: center;
									h2.title {
										padding: 0;
										font: 13px $font-bold;
										color: $sidebar-black-header;
										&.complete{
											color: $unselected-color;
										}
										
										width: 100%;
										span.task-dot {
											width: 10px;
											height: 10px;
											border: 2px solid $yellow;
											&.complete{
												border: 2px solid $green;
											}
											border-radius: 50%;
											position: absolute;
											left: -25px;
										}
										
										.input-action-title.content-editable {
											padding: 0;
											margin-top: -3px;
										}
									}
								}
							}
						}
					}
				}
			}
			
			.add-action-outer-container {
				.add-action-container.action-item {
					.action-container {
						height: 50px;
						position: relative;
						
						span.add {
							width: 10px;
							height: 10px;
							position: absolute;
							left: 20px;
							top: calc(50% - 6px);
							
							&:before {
								content: '';
								position: absolute;
								width: 2px;
								height: 10px;
								background-color: $sidebar-black-header;
								top: calc(50% - 5px);
								left: calc(50% - 1px);
							}
							
							&:after {
								content: '';
								position: absolute;
								height: 2px;
								width: 10px;
								background-color: $sidebar-black-header;
								left: calc(50% - 5px);
								top: calc(50% - 1px);
							}
						}
						
						input {
							width: calc(100% - 40px);
							height: 50px;
							margin-left: 40px;
							font: 13px $font-normal;
							color: $sidebar-black-header;
							background-color: transparent;
							
							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}
	
	.tasks-buttons-container {
		width: 100%;
		height: 70px;
		margin-top: 60px;
		border-top: 2px solid rgba($sidebar-black-header,.1);
		position: relative;
		
		@extend %flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		
		
		.btn {
			height: 70px;
			width: 50%;
			cursor: pointer;
			position: relative;
			
			@extend %flex;
			
			-webkit-transition: .1s ease-in-out;
			transition: .1s ease-in-out;
			
			&.active {
				-webkit-transform: translate(400px);
				transform: translate(400px);
				-webkit-transition: .4s ease-in-out;
				transition: .4s ease-in-out;
			}
			
			h3 {
				width: 100%;
				padding: 0;
				padding-top: 10px;
				font: 12px $font-bold;
				color: rgba($sidebar-black-header, .4);
				text-align: center;
				cursor: pointer;
			}
			
			svg {
				width: 20px;
				height: 20px;
				fill: rgba($sidebar-black-header, .4);
				position: absolute;
				left: calc(50% - 10px);
				top: calc(33% - 10px);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.delete-task:hover > h3 {
				color: #e74c3c;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.delete-task:hover > svg {
				fill: #e74c3c;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.schedule:hover > h3 {
				color: $yellow;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.schedule:hover > svg {
				fill: $yellow;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.complete:hover > h3 {
				color: #2ecc71;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.complete:hover > svg {
				fill: #2ecc71;
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.delete-task:hover {
				background-color: rgba($sidebar-black-header, .05);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.schedule:hover {
				background-color: rgba($sidebar-black-header, .05);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
			
			&.complete:hover {
				background-color: rgba($sidebar-black-header, .05);
				-webkit-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
			}
		}
	}
}
.task-footer{
	position: relative;
	max-width: 400px;
	width: 90%;
	margin: 0 auto;
	.delete-task-button {
		padding: 10px 20px;
		color: rgba($sidebar-black-header, .7);
		border: 1px solid rgba($sidebar-black-header, .2);
		font: 12px $font-normal;
		width: 150px;
		text-align: center;
		border-radius: 5px;
		margin: 25px auto;
		cursor: pointer;
		transition: .1s linear;

		&:hover {
			background-color: rgba($sidebar-black-header, .7);
			color: $white-background;
			transition: .1s linear;
		}
	}
	
	p.edit-microcopy {
		width: 90%;
		margin: 40px auto;
		text-align: center;
		font: 14px $font-normal;
		color: rgba($sidebar-black-header,.6);
	}
}

@-webkit-keyframes task-full-ani {
	0% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 0, 1);
	}
	100% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 1, 1);
	}
}

@keyframes task-fade-ani {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes task-full-ani {
	0% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 0, 1);
	}
	100% {
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: scale3d(1, 1, 1);
	}
}

@keyframes task-fade-ani {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}