$edit-nav-height: 50px;
$nav-seperator-height: 20px;
$nav-icon-size: 22px;
textarea, input, .content-editable {
	color: inherit;
	text-indent: 0;
	width: 100%;
	padding:10px;

	@include transition(color 0.2s ease-out);

	&:focus, &:hover {
		color: $gray;
	}

	&:active, &:focus {
		border:none;
		outline:none;
	}
}

textarea, .content-editable {
	@include input-placeholder() {
		color: lighten($gray, 30%);
	}
}
.edit-task-container{
	display: none;
	.editMode & {
		display:block;
	}
}
.edit-task{
	max-width: 400px;
	padding-top:25px;
	margin: 0 auto;
	position: relative;
	.back-button{
		position:absolute;
		left:10px;
		top: 34px;
		svg{
			width: 16px;
			height: 16px;
		}
	}
	.task-title {
		position: relative;
		font-size: 16px;
		font-family: $font-normal;

		margin-bottom: 12px;
		margin-top: 0;
		margin-left:25px;

		
		// legacy code
		// input{
		// 	font-family: $font-light;
		// }
	}
	.info-label, .input-note{
		font-size:16px;
		padding-top:12px;
		padding-left:54px;
	}
	.info-row{
		position:relative;
		min-height:40px;
		.side-icon{
			position: absolute;
			left:30px;
			top: 50%;
			margin-top: -7px;
			height: 14px;
			width: 14px;
			svg{
				width:14px;
				height: 14px;
				opacity: 0.6;
			}
		}
		.content-div{
			padding-left:60px;
			width:100%;	
		}
	}
	.assignees-list{
		$imageHeight:28px;
		padding-top:17px;
		padding-bottom: 10px;
		margin: 0;
		li{
			display: inline-block;
			position:relative;
			&.assignee:hover{
				.hover-lay{
					display: block;
				}
			}
			.picture-circular{
				width:$imageHeight;
				height:$imageHeight;
				@include border-radius($imageHeight/2);
				text-indent: -9999px;
				white-space: nowrap;
			}
			.hover-lay{
				position: absolute;
				display:none;
				@include border-radius($imageHeight/2);
				width: $imageHeight;
				height: $imageHeight;
				text-align:center;
				top: 0;
				left: 0;
				color: white;
				padding-top: 4px;
				background: rgba(50,50,50,0.5);
			}
			#assign-text-button{
				font: 14px $font-normal;
				line-height: 14px;
				color: $gray;
				padding-left: 10px;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	
	.has-icon {
		// Can't use em, because font-size might vary
		padding-left: 10px;
		position: relative;

		p {
			line-height: 1;
		}

		.icon-hold {
			display: inline-block;
			position: absolute;
			left: 44px;
			top: 12px;
			svg {
				fill: $gray;
				width: 12px;
				height: 12px;
			}
			border:0;
		}
	}

	> section {
		margin-bottom: 1.0em;
		min-height: 40px;
	}
}