$task-new-task-height: 61px;
.add-task-container{
	position: absolute;
	width:100%;
	height: $task-new-task-height;
	bottom: 0;
	padding-top: 2px;
}
.task-list-view-controller{
	width:100%;
	height:100%;
	.scroll-container{
		width:100%;
		height:100%;
		padding-bottom: $task-new-task-height;
	}
	.scroller{
		width:100%;
		height: 100%;
		overflow-y: scroll;
		position:relative;
		padding-bottom: 20px;
	}
	
	position:relative;
	&.drag-message-show{
		.drag-overlay{
			display:block;
		}
	}
	&.drag-hover-entering{
		.drag-overlay{
			display:block;
			opacity: 0.7;
		}
	}
	.drag-overlay{
		position:absolute;
		display: none;
		left:0;
		width:100%;
		height:100%;
		top:0;
		opacity: 0.4;
		background-color: $sidebar-dark-color;
		span{
			position:absolute;
			left:0;
			text-align: center;
			right:0;
			top:25%;
			font:32px $font-normal;
			color: white;
		}
	}
}
.task-column{
	max-width:400px;
	width:90%;
	margin: 0 auto;
	.editMode & {
		display: none;
	}
	.section-header{
		margin-top: 40px;
	}
	.completeted-toggle-wrapper {
		width: 200px;
		margin-left: 20px;
		margin-top: 30px;
		display: -webkit-box;
		display: flex;
	
		.onoffswitch {
			width: 35px;
			position: relative;
			user-select: none;
			
			.onoffswitch-checkbox {
				display: none;
			}
		
			.onoffswitch-label {
				display: block;
				overflow: hidden;
				border: 1px solid $sidebar-button-gray;
				border-radius: 20px;
			
				.onoffswitch-inner {
					display: block;
					width: 200%;
					margin-left: -100%;
					cursor: pointer;
					transition: .2s ease-in-out;
				
					&:before, &:after {
						content: "";
						padding-right: 10px;
						display: block; 
						float: left;
						width: 50%; 
						height: 15px; 
						padding: 0; 
						line-height: 30px;
						box-sizing: border-box;
						transition: 0.2s ease-in-out; 
					}
				}
			
				.onoffswitch-switch {
					display: block; 
					width: 21px; 
					margin: -2px;
					height: 21px;
					background: $white-background;
					position: absolute; 
					top: 0; 
					bottom: 0;
					right: 20px;
					border: 1px solid $sidebar-button-gray; 
					border-radius: 20px;
					transition: 0.2s ease-in-out; 
					cursor: pointer;
				}
			}
		
			.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
				margin-left: 0;
			}
			
			.onoffswitch-checkbox:checked + .onoffswitch-label {
				border: 1px solid $online-green;
			}
			
			.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner:before {
				background-color: $online-green;
				transition: 0.2s ease-in-out;
			}
			
			.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
				right: 0px; 
			}
		}
		
		.toggle-text {
			height: 21px;
			overflow: hidden;
			box-sizing: border-box;
			margin-left: 15px;
		
			.toggle-text-one, .toggle-text-two {
				font: 12px $font-bold;
				color: rgba($sidebar-dark-color, .6);
				height: 21px;
				transition: .2s ease-in-out;
			
				&.active {
					transform: translateY(-21px);
					transition: .2s ease-in-out;
				}
			}
		}
	}
}
.task-list{
	.animate-in {
		@extend .animated;
		@extend .fadeInDown;
		@include experimental(animation-duration, 0.3s);
	}
	.empty-text{
		padding-top: 30px;
		opacity: 0.4;
		.title{
			font-size: 18px;
			text-align: center;
		}
		.subtitle{
			text-align: center;
		}
		.description{
			text-align: center;
			font-style:italic;
			font-size: 14px;
			margin-top: 24px;
		}
		// Animate-in when adding new tasks
	}
}
$spacingBetweenTasks:6px;
$left-padding: 40px;

$margin-to-card: 15px;

$meta-bottom-spacing: 6px;
$meta-margin: 10px;
.card-container, .action-container{
	
	position: relative;
	.relative-container{
		position: relative;	
	}
	h2{
		// + 2 because of the font
		margin-top:$margin-to-card + 2;
		margin-bottom:$margin-to-card;
		font: 0.8em/1 $font-normal;
	}
	.meta{
		margin-bottom: $margin-to-card - 2;
	}
	&.has-meta{
		h2{
			margin-top:$meta-margin + 2;
			margin-bottom:$meta-bottom-spacing;
		}
		.meta{
			margin-bottom: $meta-margin - 2;
		}
	}
	.selected & {
		background: #EFEFEF;
		@include card-shadow(6px, 1px, 0.4);
	}
	.priority{
		left:$left-padding/2;
	}
	.task-dot{
		$action-dot-size: 10px;
		$action-dot-border-size: 2px;
		$action-dot-calendar-height: 26px;
		
		position: absolute;
		left:10%;
		top:50%;
		margin-left: - $action-dot-size/2;
		margin-top: - $action-dot-size/2;
		border: 2px solid $yellow;
		@include border-radius($action-dot-size/2);

		width: $action-dot-size;
		height: $action-dot-size;
		&.black{
			border: 2px solid $sidebar-dark-color;
		}
		&.calendar-event{
			h2{
				height:30px;
			}
			height: $action-dot-calendar-height;
			margin-top: - $action-dot-calendar-height/2;
		}
	}
}
// Design for cards
.card-container{
	background:#fff;
	.main-info-container{
		padding:5px;
		padding-left: $left-padding;
		
		.title {
			width: 90%;
		}
		
		.priority{
			margin-top: -3px;
		}
	}
	.expanding{
		margin-top:-10px;
		display:none;
		.editMode & {
			display:block;
		}
	}
	@include card-shadow(6px, 1px);
	@include transition(all 0.1s ease-out);
	@include border-radius(10px);
	
}

// Add task card
.add-task-card-container {
	.editMode & {
		display: none;
	}
	margin-bottom:20px;
	max-width: 400px;

	width:90%;
	margin: 0 auto;
	padding-top: 0px;
	.card-container{
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 0px 5px rgba(0,0,0,0.1);
		background: transparent;
		border: 2px solid rgba(27,30,35,0.1);
		padding: 0px;
		.inner-container{
			padding: 8px;
			padding-left: 14px;
			margin-right: 35px;
			border-right: 2px solid rgba(27,30,35,0.1);
		}
		.right-button-container{
			position: absolute;
			width: 34px;
			height: 100%;
			top:0;
			right:0;
			svg{
				height: 24px;
				width: 24px;
				position:absolute;
				right: 6px;
				fill: rgba(27,30,35,0.5);
				top: 50%;
				margin-top: -11px;
			}
			&:hover{
				svg{
					fill: rgba(27,30,35,0.8);
				}
			}
		}
		input {
			background-color: transparent;
			$height: 32px;
			$font-size: 12px;
			
			font-family: $font-normal;
			font-size: $font-size;
			width: 100%;
			height:$height;
			padding-top: ($height - $font-size)/2;
			padding-bottom: ($height - $font-size)/2;
		}
	}
}


// Items inside - tasks
.task-list{
	.task-item{
		//max-height: 100px;
		padding-top:$spacingBetweenTasks;
		padding-bottom:$spacingBetweenTasks;
		
		.progress-label{
			position:absolute;
			font: 12px $font-normal;
			right: 10px;
			top: 50%;
			margin-top: -7px;
			color: $unselected-color;
		}
		.meta{
			line-height:13px;
			height:16px;
			// - 2 
			$icon-size: 12px;
			> div{
				height:15px;
				float:left;
				margin-right:10px;
			}
			.meta-text{
				color: $unselected-color;
				font-size:12px;
				&.tags{
					margin-top: -1px;
					a{
						color: $unselected-color;
					}
				}
			}
			.meta-text.with-icon{
				position:relative;
				padding-left:$icon-size + 2;
				svg{
					position:absolute;
					left:0;
					width:$icon-size;
					height:$icon-size;
					fill: $unselected-color;
				}
			}
		}

		.action-container{
			position: relative;
		}
		// Show action buttons on hover
		.main-info-container:hover{
			.actions{
				opacity: 1.0;
				@include transition(opacity 0.2s ease-out);
			}
		}
		// Action buttons that appear on hover

		$button-size: 20px;
		$padding: 1px;
		$spacing-between-buttons: 8px;
		.actions{
			
			opacity: 0;
			
			position:absolute;
			//@include transition(opacity 0.1s ease-in);
			
			background-color: white;
			padding: $padding;
			right: 3px;
			bottom: 3px;
			height:$button-size+2*$padding;
			@include border-radius(($button-size + 2*$padding) / 2);
			margin-top:-($button-size + 2*$padding )/2;
			a{
				cursor: pointer;
				opacity: 0.6;
				text-align:center;
				line-height: 1;
				float:left;
				margin-right: $spacing-between-buttons / 2;
				margin-left: $spacing-between-buttons / 2;
				@include square($button-size);
				@include border-radius(50%);
				
				padding:0;
				position: relative;
				
				&:hover{
					text-decoration:none;
					opacity: 1;
				}

				svg {
					@include square($button-size);
					@include centerBlock(0, 0, 0, 0, auto, absolute);
				}

				&.delete-button{
					border-color: $red;
					svg { fill: $red; }
				}
				&.schedule-button{
					border-color: $yellow;
					svg { fill: $yellow; }
				}
				&.complete-button{
					border-color: $green;
					svg { fill: $green; }
				}
			}
		}
	}
}


// Drag and drop handling
.task-list{
	// Seperator for reordering
	.insert-seperator{
		height:0px;
		position:relative;
		div{
			position: absolute;
			height:0px;
			@include card-shadow(6px, 1px, 0.3);
			width:100%;
			top: 0px;
			background: $sidebar-dark-color;
			
		}
	}

	// Drag and drop is on top of a task
	.task-item.drag-hover-entering{
		.card-container{
			@include card-shadow(6px, 6px);
			@include transition(all 0.3s ease-out);
			@include transition-delay(200ms);
			padding-top:7px;
			padding-bottom:7px;

		}
	}
}