.task-list-view-controller{
	width:100%;
	height:100%;
	
	.scroller{
		width:100%;
		height: 100%;
		overflow-y: scroll;
		padding: 10px;
		position:relative;
	}
	
	position:relative;
	&.drag-hover-entering{
		.drag-overlay{
			display:block;
		}
	}
	.drag-overlay{
		position:absolute;
		display: none;
		left:0;
		width:100%;
		height:100%;
		top:0;
		opacity: 0.7;
		background-color: $sidebar-dark-color;
		span{
			position:absolute;
			left:0;
			text-align: center;
			right:0;
			top:25%;
			font:32px $font-normal;
			color: white;
		}
	}
}
.task-column{
	max-width:400px;
	margin: 40px auto;
}
.task-list{
	.animate-in {
		@extend .animated;
		@extend .fadeInDown;
		@include experimental(animation-duration, 0.3s);
	}
		// Animate-in when adding new tasks
	.animated{
		@extend .animated;
		@include experimental(animation-duration, 0.3s);
	}
}
$spacingBetweenTasks:6px;
$left-padding: 40px;

$margin-to-card: 15px;

$meta-bottom-spacing: 6px;
$meta-margin: 10px;

// Design for cards
.card-container{
	position: relative;
	padding:5px;
	.main-info-container{
		padding-left: $left-padding;
		position: relative;
		.priority{
			margin-top: -5px;
		}
	}
	.expanding{
		display:none;
		.editMode & {
			display:block;
		}
		img{
			width:100%;
		}
	}
	@include card-shadow(6px, 1px);
	@include transition(all 0.1s ease-out);
	@include border-radius(10px);
	background:#fff;
	
	h2{
		// + 2 because of the font
		margin-top:$margin-to-card + 2;
		margin-bottom:$margin-to-card;
		font: 0.8em/1 $font-normal;
	}
	.meta{
		margin-bottom: $margin-to-card - 2;
	}
	&.has-meta{
		h2{
			margin-top:$meta-margin + 2;
			margin-bottom:$meta-bottom-spacing;
		}
		.meta{
			margin-bottom: $meta-margin - 2;
		}
	}
	.selected & {
		background: #EFEFEF;
		@include card-shadow(6px, 1px, 0.4);
	}
	.priority{
		left:$left-padding/2;
	}
}
// Add task card
.add-task-card-container {
	margin-bottom:20px;
	.card-container{
		input {
			$height: 32px;
			$font-size: 14px;
			
			font-family: $font-normal;
			font-size: $font-size;
			width: 100%;
			height:$height;
			padding-top: ($height - $font-size)/2;
			padding-bottom: ($height - $font-size)/2;
		}
	}
}


// Items inside - tasks
.task-list{
	.task-item{
		//max-height: 100px;
		cursor: pointer;
		padding-top:$spacingBetweenTasks;
		padding-bottom:$spacingBetweenTasks;
		
		.progress-label{
			position:absolute;
			font: 12px $font-normal;
			right: 10px;
			top: 50%;
			margin-top: -7px;
			color: $unselected-color;
		}
		.meta{
			height:16px;
			// - 2 
			$icon-size: 12px;
			> div{
				height:15px;
				float:left;
				margin-right:10px;
			}
			.meta-text{
				color: $unselected-color;
				font-size:12px;
				&.tags{
					margin-top: -1px;
					a{
						color: $unselected-color;
					}
				}
			}
			.meta-text.with-icon{
				position:relative;
				padding-left:$icon-size + 2;
				svg{
					position:absolute;
					left:0;
					width:$icon-size;
					height:$icon-size;
					fill: $unselected-color;
				}
			}
		}

		
		// Show action buttons on hover
		&:hover{
			.actions{
				opacity: 1.0;
				@include transition(opacity 0.2s ease-out);
			}
		}
		// Action buttons that appear on hover

		$button-size: 20px;
		$padding: 3px;
		$spacing-between-buttons: 8px;
		.actions{
			
			opacity: 0;
			
			position:absolute;
			//@include transition(opacity 0.1s ease-in);
			
			background-color: white;
			padding: $padding $padding 0 $padding;
			right: 0;
			bottom: 0;
			height:$button-size+2*$padding;
			@include border-radius(($button-size + 2*$padding) / 2);
			margin-top:-($button-size + 2*$padding )/2;
			a{
				&:hover{
					text-decoration:none;
					opacity: 0.8;
				}
				text-align:center;
				line-height: 1;
				float:left;
				margin-right: $spacing-between-buttons / 2;
				margin-left: $spacing-between-buttons / 2;
				@include square($button-size);
				@include border-radius(50%);
				
				padding:0;
				position: relative;

				svg {
					@include square($button-size);
					@include centerBlock(0, 0, 0, 0, auto, absolute);
				}

				&.schedule-button{
					border-color: $red;
						svg { fill: $red; }
				}
				&.complete-button{
					border-color: $green;
						svg { fill: $green; }
				}
			}
		}
	}
}


// Drag and drop handling
.task-list{
	// Seperator for reordering
	.insert-seperator{
		height:0px;
		position:relative;
		div{
			position: absolute;
			height:0px;
			@include card-shadow(6px, 1px, 0.3);
			width:100%;
			top: 0px;
			background: $sidebar-dark-color;
			
		}
	}

	// Drag and drop is on top of a task
	.task-item.drag-hover-entering{
		.card-container{
			@include card-shadow(6px, 6px);
			@include transition(all 0.3s ease-out);
			@include transition-delay(200ms);
			padding-top:7px;
			padding-bottom:7px;

		}
	}
}