.task-list{
	max-width:400px;
}
.task-section{
	list-style:none;
	padding-left:0;
	max-width:400px;
	$spacingBetweenTasks:7px;
	.task-item{
		cursor: pointer;

		padding-top:$spacingBetweenTasks;
		padding-bottom:$spacingBetweenTasks;
		.card-container{
			padding:5px;
			@include card-shadow(6px, 1px);
			@include transition(all 0.1s ease-out);
			@include border-radius(10px);
			background:#fff;
			h2{
				margin-top:10px;
				margin-bottom:10px;
				font: 0.8em/1 $font-normal;
			}
		}
		.progress-bar{

		}
	}
}


// Add task card
.task-section .task-item .card-container{
	input {
		$height: 32px;
		$font-size: 14px;
		border:0;
		font-family: $font-normal;
		font-size: $font-size;
		width: 100%;
		height:$height;
		padding-top: ($height - $font-size)/2;
		padding-bottom: ($height - $font-size)/2;
	}
	input:focus{
		border:0;
		outline: 0;
		outline-offset: 0;
	}
}


// Pointer for drag & drop - added in body element (base.html)
.drag-mouse-pointer{
	display:none;
	&.shown{
		display:block;
	}
	opacity: 0.7;
	position: fixed;
	z-index: 10000;
	top:0;
	left:0;
	color: white;
	background: $red;
	width: 30px;
	height:30px;
	@include border-radius(50%);
	.counter{
		font: 0.8em/0.6 $font-normal;
		padding-top: 12px;
		text-align:center;
	}
}


// Drag and drop handling
.task-section{
	// Seperator for reordering
	.insert-seperator{
		height:0px;
		position:relative;
		div{
			position: absolute;
			height:0px;
			@include card-shadow(6px, 1px, 0.3);
			width:100%;
			top: 0px;
			background: $sidebar-dark-color;
			
		}
	}

	// Drag and drop is on top of a task
	.task-item.drag-hover-entering{
		.card-container{
			@include card-shadow(6px, 6px);
			@include transition(all 0.3s ease-out);
			@include transition-delay(200ms);
			padding-top:7px;
			padding-bottom:7px;

		}
	}
	// The original selected element that's being dragged
	.task-item.drag-hover-moving-item{
		.card-container{
			opacity: 0.5;
			@include card-shadow(6px, 2px, 0.1);
			@include transition(opacity 0.3s ease-out);
		}
	}
}