<nav>
	<div class="previous">
		<svg class="icon icon-settingsFeedback">
			<use xlink:href="#icon-back"></use>
		</svg>
	</div>
	<div class="month">
		<span class="selected-date"></span>
		<time>9:00AM</time>
	</div>
	<div class="next">
		<svg class="icon icon-settingsFeedback">
			<use xlink:href="#icon-back"></use>
		</svg>
	</div>
</nav>

<section class="calendar-grid">
	<header class="day-names">

		<% _.each(daysOfTheWeek, function(day) { %>
			<div class="header-day"><%= day %></div>
		<% }); %>

	</header>
	<div class="days">

		<% _.each(days, function(day) { %>
			<div class="<%= day.classes %>">
				<div class="number">
					<%= day.day %>
				</div>
			</div>
		<% }); %>

	</div>
</section>