<h1>Tasks</h1>

<section class="editor-content">
	<h2><%= title %></h2>
	

	<% if (scheduleStr) { %>
		<time class="icon-schedule"><%= scheduleStr %><% if (timeStr) print(", " + timeStr); %></time>
	<% } %>

	<div class="repeat icon-repeat">
		<p>Repeat every &hellip;</p>
		<ul>
			<li><a href="JavaScript:void(0);">never</a></li>
			<li><a class="selected" href="JavaScript:void(0);">day</a></li>
			<li><a href="JavaScript:void(0);">sat+sun</a></li>
			<li><a href="JavaScript:void(0);">week</a></li>
			<li><a href="JavaScript:void(0);">month</a></li>
			<li><a href="JavaScript:void(0);">year</a></li>
		</ul>
	</div>
	
	<ul class="tags icon-tags">
	
		<% if (tags && tags.length) { %>	
			<% _.each(tags, function(tag) { %>
				<li><%= tag %></li>
			<% }); %>
		<% } %>

		<li class="add-new-tag">+</li>
	</ul>

	<div class="notes icon-note">
		<p>Bacon ipsum dolor sit amet sausage strip steak doner, short ribs turkey bresaola tri-tip short loin ribeye filet mignon boudin ground round prosciutto pork chop.</p>
	</div>

</section>

<nav>
	<a href="JavaScript:void(0);" class="round-btn">
		<span class="icon-cancel"></span>
	</a>
	<a href="JavaScript:void(0);" class="round-btn">
		<span class="icon-checkmark"></span>
	</a>
</nav>