<% 
function cmdOrCtrl(isMac){
	if(isMac){
		return "&#8984;";
	}
	else{
		return "CTRL";
	}
}
%>

<div class="overlay-bg"></div>
<div class="overlay-content">
	<h1>Keyboard Shortcuts</h1>
	<div class="section col-md-6">
		<h1>Handle task list</h1>
		<div class="shortcuts">
			<div class="shortcut">
				<div class="description">Navigate between tasks</div>
				<div class="keys">
					<span class="key">&#8593;</span>
					<span class="key">&#8595;</span>
				</div>
			</div>
			<div class="shortcut">
				<div class="description">Swipe tasks</div>
				<div class="keys">
					<span class="key">&#8592;</span>
					<span class="sign">or</span>
					<span class="key">&#8594;</span>
				</div>
			</div>
			<div class="shortcut">
				<div class="description">Long swipe</div>
				<div class="keys">
					<span class="sign no-left">Hold</span>
					<span class="key">&#8592;</span>
					<span class="sign">or</span>
					<span class="key">&#8594;</span>
				</div>
			</div>
			<div class="shortcut">
				<div class="description">Select multiple tasks</div>
				<div class="keys">
					<span class="sign no-left">Hold</span>
					<span class="key"><%= cmdOrCtrl(isMac) %></span>
					<span class="sign">or</span>
					<span class="key">&#8679;</span>
				</div>
			</div>
		</div>
	</div>
	<div class="section col-md-6">
		<h1>Menus</h1>
		<div class="shortcuts">
			<div class="shortcut">
				<div class="description">Add new task or action step</div>
				<div class="keys">
					<span class="key">SPACE</span>
				</div>
			</div>
			<div class="shortcut">
				<div class="description">Later / Now / Done</div>
				<div class="keys">
					<span class="key"><%= cmdOrCtrl(isMac) %></span>
					<span class="sign">+</span>
					<span class="key">1 / 2 / 3</span>
				</div>
			</div>
			<div class="shortcut">
				<div class="description">Search</div>
				<div class="keys">
					<span class="key"><%= cmdOrCtrl(isMac) %></span>
					<span class="sign">+</span>
					<span class="key">F</span>
				</div>
			</div>
			<div class="shortcut">
				<div class="description">Workspaces</div>
				<div class="keys">
					<span class="key"><%= cmdOrCtrl(isMac) %></span>
					<span class="sign">or</span>
					<span class="key">D</span>
				</div>
			</div>
			<div class="shortcut">
				<div class="description">Settings</div>
				<div class="keys">
					<span class="key"><%= cmdOrCtrl(isMac) %></span>
					<span class="sign">or</span>
					<span class="key">,</span>
				</div>
			</div>
		</div>
	</div>
	
	<div style='clear:both;'>&nbsp;</div>
	<div class="section col-md-6">
		<h1>Snoozing & completion</h1>
		<div class="shortcuts">
			<div class="shortcut">
				<div class="description">Navigate between tasks</div>
				<div class="keys">
					<span class="key">&#8593;</span>
					<span class="key">&#8595;</span>
				</div>
			</div>

			<div class="shortcut">
				<div class="description">Navigate between tasks</div>
				<div class="keys">
					<span class="key">&#8593;</span>
					<span class="key">&#8595;</span>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- Shortcut section 
<div class="section col-md-4">
	<h1></h1>
	<ul class="shortcuts">
		<li class="shortcut">
			<span class="description"></span>
			<div class="keys">
				<span class="key"></span>
			</div>
		</li>
	</ul>
</div>
-->