<div class="overlay-bg"></div>
<div class="overlay-content">
	
	<nav class="grid">
		
		<!-- Later Today -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-later-today"></div>
				<p>Later Today</p>
			</div>
		</a>
		
		<!-- This evening / Tomorrow evening -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-this-evening"></div>
				<p>*DYNAMIC*</p>
			</div>
		</a>
		
		<!-- Tomorrow -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-tomorrow"></div>
				<p>Tomorrow</p>
			</div>
		</a>
		
		<!-- The Day after Tomorrow -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-day-after-tomorrow"></div>
				<p>*DYNAMIC*</p>
			</div>
		</a>
		
		<!-- This Weekend -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-this-weekend"></div>
				<p>This Weekend</p>
			</div>
		</a>
		
		<!-- Next Week -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-next-week"></div>
				<p>Next Week</p>
			</div>
		</a>
		
		<!-- Unspecified -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-unspecified"></div>
				<p>Unspecified</p>
			</div>
		</a>
		
		<!-- At Location -->
		<!-- Empty for now ... -->
		<a class="disabled" href="JavaScript:void(0);">
			<div class="option">
				
			</div>
		</a>
		
		<!-- Pick A Date -->
		<a href="JavaScript:void(0);">
			<div class="option">
				<div class="icon-snooze-date"></div>
				<p>Pick A Date</p>
			</div>
		</a>
		
	</nav>

</div>