<header>
	<div class="icon-settings-snooze"></div>
	<h2 class="h4">Snoozes</h2>
</header>

<%
	function formatTime(hour, minute, addAmPm) {
		if (addAmPm == null) {
			addAmPm = true
		}

		hour = parseInt( hour, 10 )

		if ( minute < 10 ) {
			minute = "0" + minute
		}

		if ( addAmPm ) {
			if ( hour === 0 ) {
				return "12:" + minute + " AM"
			} else if (hour <= 11) {
				return hour + ":" + minute + " AM"
			} else if (hour === 12) {
				return "12:" + minute + " PM"
			} else {
				return (hour - 12) + ":" + minute + " PM"
			}
		} else {
			return hour + ":" + minute
		}

	}
%>

<section>
	<ul class="snoozes">
		<li class="day">
			<header>
				<h3 class="h5">Start my day at</h3>
				<button><%= formatTime( snoozes.weekday.morning.hour, snoozes.weekday.morning.minute ) %></button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>
		<li class="evening">
			<header>
				<h3 class="h5">Start my evening at</h3>
				<button><%= formatTime( snoozes.weekday.evening.hour, snoozes.weekday.evening.minute ) %></button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>
		<li class="weekends">
			<header>
				<h3 class="h5">Start my weekend at</h3>
				<button><%= formatTime( snoozes.weekend.morning.hour, snoozes.weekend.morning.minute ) %></button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>
		<li class="week-start-day">
			<header>
				<h3 class="h5">My week starts</h3>
				<button><%= snoozes.weekday.startDay.name %></button>
			</header>
			<section>
				<ol class="day-picker">
					<!-- Make dynamic -->
					<li class="selected" data-name="Monday" data-num="1">Mon</li>
					<li data-name="Tuesday" data-num="2">Tue</li>
					<li data-name="Wednesday" data-num="3">Wed</li>
					<li data-name="Thursday" data-num="4">Thu</li>
					<li data-name="Friday" data-num="5">Fri</li>
					<li data-name="Saturday" data-num="6">Sat</li>
					<li data-name="Sunday" data-num="0">Sun</li>
				</ol>
			</section>
		</li>
		<li class="later-today">
			<header>
				<h3 class="h5">Snooze Later Today</h3>
				<button>+<%=formatTime(snoozes.laterTodayDelay.hours, snoozes.laterTodayDelay.minutes, false) %>h</button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>

	</ul>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
	</nav>
</footer>
