<header>
	<div class="icon icon-policy"></div>
	<h2 class="h4">Policies</h2>
</header>

<section>
	<h3 class="h4">Privacy Policy</h3>
	<p>You can download and read our privacy policy <a target="_blank" href="http://swipesapp.com/privacypolicy.pdf">here</a>.</p>

	<h3 class="h4">Terms of use</h3>
	<p>You can download and read our terms of use <a target="_blank" href="http://swipesapp.com/termsofuse.pdf">here</a>.</p>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
	</nav>
</footer>
