<div class="overlay-bg"></div>
<div class="overlay-content">
	
	<nav class="grid">
		<a href="#settings/snoozes">
			<div class="option">
				<div class="icon-clock"></div>
				<p>Snoozes</p>
			</div>
		</a>
		<a href="#settings/faq">
			<div class="option">
				<div class="icon-questionmark-circle"></div>
				<p>FAQ</p>
			</div>
		</a>
		<a href="#settings/subscription">
			<div class="option">
				<div class="icon-swipes-plus"></div>
				<p>Subscription</p>
			</div>
		</a>
		<a href="#settings/support">
			<div class="option">
				<div class="icon-support"></div>
				<p>Support</p>
			</div>
		</a>
		<a href="#settings/policy">
			<div class="option">
				<div class="icon-policy"></div>
				<p>Policy</p>
			</div>
		</a>

		<a class="disabled"></a>
	</nav>

	<a href="#list/todo" class="back" title="Back to my tasks"><span class="icon-arr-left-long"></span></a>
</div>