<header>
	<div class="icon icon-clock"></div>
	<h2 class="h4">Snoozes</h2>
</header>

<section>
	<ul class="snoozes">
		<li class="day">
			<header>
				<h3 class="h5">Start my day at</h3>
				<button>9:00 AM</button>
			</header>
			<section>
				<div class="slider">
					<input type="range">
				</div>
			</section>
		</li>
		<li class="evening toggled">
			<header>
				<h3 class="h5">Start my evening at</h3>
				<button>6:00 PM</button>
			</header>
			<section>
				<div class="slider">
					<input type="range">
				</div>
			</section>
		</li>
		<li class="weekends">
			<header>
				<h3 class="h5">Start my weekend at</h3>
				<button>10:00 AM</button>
			</header>
			<section>
				<div class="slider">
					<input type="range">
				</div>
			</section>
		</li>
		<li class="week-start-day">
			<header>
				<h3 class="h5">My week starts</h3>
				<button>Monday</button>
			</header>
			<section>
				<ol>
					<li class="selected">Mon</li>
					<li>Tue</li>
					<li>Wed</li>
					<li>Thu</li>
					<li>Fri</li>
					<li>Sat</li>
					<li>Sun</li>
				</ol>
			</section>
		</li>
		<li class="later-today">
			<header>
				<h3 class="h5">Snooze Later Today</h3>
				<button>+3:00h</button>
			</header>
			<section>
				<div class="slider">
					<input type="range">
				</div>
			</section>
		</li>
		
	</ul>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
		<a href="JavaScript:void(0);" class="save round-btn">
			<span class="icon-checkmark"></span>
		</a>
	</nav>
</footer>
