<div class="overlay-bg"></div>
<div class="overlay-content">
	
	<nav class="grid">
		<a href="#settings/snoozes">
			<div class="option">
				<div class="icon-clock"></div>
				<p>Snoozes</p>
			</div>
		</a>
		<a href="#settings/faq">
			<div class="option">
				<div class="icon-clock"></div>
				<p>FAQ</p>
			</div>
		</a>
		<a href="#settings/subscription">
			<div class="option">
				<div class="icon-clock"></div>
				<p>Subscription</p>
			</div>
		</a>
		<a href="#settings/support">
			<div class="option">
				<div class="icon-clock"></div>
				<p>Support</p>
			</div>
		</a>
		<a href="#settings/policy">
			<div class="option">
				<div class="icon-clock"></div>
				<p>Policy</p>
			</div>
		</a>
		
	</nav>

</div>