<header>
	<div class="icon icon-swipes-plus"></div>
	<h2 class="h4">Subscription</h2>
</header>

<section>
	<h3 class="h4">Hooray! You are a Swipes Plus user.</h3>
	<p>This gives you access to this web app, seamless synchronisation between devices and task sharing.</p>
	<p>You can manage your subscription through App Store. If you’re in doubt on how to do that, follow the instructions <a target="_blank" href="http://support.apple.com/kb/HT4098">here</a></p>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
	</nav>
</footer>
