<div class="overlay-bg"></div>
<div class="overlay-content">

	<nav class="grid">
		<a href="#settings/snoozes">
			<div class="option">
				<div class="icon-settings-snooze"></div>
				<p>Snoozes</p>
			</div>
		</a>
		<a href="http://support.swipesapp.com/hc/en-us" target="_blank">
			<div class="option">
				<div class="icon-questionmark-circle"></div>
				<p>FAQ</p>
			</div>
		</a>

<!--		<a href="#settings/subscription">
			<div class="option">
				<div class="icon-swipes-plus"></div>
				<p>Subscription</p>
			</div>
		</a>-->
		<a href="#settings" id="support-button" onClick="Intercom('show')">
			<div class="option">
				<div class="icon-support"></div>
				<p>Support</p>
			</div>
		</a>
		<a href="#settings/policies">
			<div class="option">
				<div class="icon-policy"></div>
				<p>Policies</p>
			</div>
		</a>

		<a class="disabled"></a>
		<a class="disabled"></a>
	</nav>

	<a href="#list/todo" class="back" title="Back to my tasks">
		<span class="icon-arr-left"></span>
	</a>
</div>