<header>
	<div class="icon icon-questionmark-circle"></div>
	<h2 class="h4">FAQ</h2>
</header>

<section>
	<ul class="faq">
		<li>
			<header>
				<h4>How often do you synchronise the data?</h4>
			</header>
			<section>
				<p>All content changes are synced constantly.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>Can I quickly assign tags to a task?</h4>
			</header>
			<section>
				<p>While adding a task, write the tag you want to assign it with a hashtag sign (#). Eg. Buy new ink cartridge #shopping #office</p>
			</section>
		</li>
		<li>
			<header>
				<h4>How do I snooze a task for a specific time?</h4>
			</header>
			<section>
				<p>To snooze a task for a specific time, you need to swipe it to the left and access the scheduler. Then you choose the “Pick a Date” option, you select a date and move the slider below it to adjust the time.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>How can I use the web app on my iPad?</h4>
			</header>
			<section>
				<p>Open the web app on the browser of your iPad, log in and you’re ready to go. To have a quick access to it, you can create an icon on the home screen. Here’s a short video on how you can do that: <a href="http://www.youtube.com/watch?v=8_vASkxYUMU">Link to video</a>
				</p>
			</section>
		</li>
		
		<li>
			<header>
				<h4>Why am I not able to use keyboard shortcuts to manage tasks on the Web app?</h4>
			</header>
			<section>
				<p>At the moment shortcuts are not available for the web app. We will introduce them in the updates to make your experience faster and smoother.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>How do I delete my account?</h4>
			</header>
			<section>
				<p>If you want to delete your account, please inform us at <a href="mailto:support@swipesapp.com">support@swipesapp.com</a>. We will also delete all data associated to your account. We’ll be grateful if you add the reasons for leaving us, so we can constantly improve the service.</p>
			</section>
		</li>
	</ul>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
	</nav>
</footer>
