<header>
	<div class="icon icon-questionmark-circle"></div>
	<h2 class="h4">FAQ</h2>
</header>

<section>
	<ul class="faq">
		<li>
			<header>
				<h4>State your status</h4>
			</header>
			<section>
				<p>We’re not out to hurt anyone’s feelings, but more people think that this website is necessary than not. Plus it’s a reminder that maybe you shouldn’t have posted it on the internet in the first place. Internet etiquette, people.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>How often do you update?</h4>
			</header>
			<section>
				<p>We’re not out to hurt anyone’s feelings, but more people think that this website is necessary than not. Plus it’s a reminder that maybe you shouldn’t have posted it on the internet in the first place. Internet etiquette, people.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>This is really mean. Why?</h4>
			</header>
			<section>
				<p>We’re not out to hurt anyone’s feelings, but more people think that this website is necessary than not. Plus it’s a reminder that maybe you shouldn’t have posted it on the internet in the first place. Internet etiquette, people.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>Wait. Why isn’t everything on this website lame?</h4>
			</header>
			<section>
				<p>We’re not out to hurt anyone’s feelings, but more people think that this website is necessary than not. Plus it’s a reminder that maybe you shouldn’t have posted it on the internet in the first place. Internet etiquette, people.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>What is Lamebook? What is it all about?</h4>
			</header>
			<section>
				<p>We’re not out to hurt anyone’s feelings, but more people think that this website is necessary than not. Plus it’s a reminder that maybe you shouldn’t have posted it on the internet in the first place. Internet etiquette, people.</p>
			</section>
		</li>
		<li>
			<header>
				<h4>Wait. Why isn’t everything on this website lame?</h4>
			</header>
			<section>
				<p>We’re not out to hurt anyone’s feelings, but more people think that this website is necessary than not. Plus it’s a reminder that maybe you shouldn’t have posted it on the internet in the first place. Internet etiquette, people.</p>
			</section>
		</li>
	</ul>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
	</nav>
</footer>
