<header>
	<div class="icon icon-support"></div>
	<h2 class="h4">Support</h2>
</header>

<section>
	<h3 class="h4">We’d love to hear from you!</h3>
	<p>Send us your feedback, suggestions and bug reports to: <a href="mailto:support@swipesapp.com?subject=Support for Swipes">support@swipesapp.com</a></p>
	<p>Thank you for taking the time to help us make Swipes better!</p>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
	</nav>
</footer>
