<header>
	<div class="icon icon-clock"></div>
	<h2 class="h4">Snoozes</h2>
</header>

<section>
	<h3 class="h4">What is Lamebook? What is it all about?</h3>
	<p>Lamebook is for fun and the name says it all: We post lame and funny pictures, status updates, and other gems found on your favorite social networking site. Lamebook started in April of 2009 by two Austin Texas based graphic designers and has been rapidly growing since then.</p>

	<h3 class="h4">Wait. Why isn’t everything on this website lame?</h3>
	<p>The point of the site is to gather pretty much anything and everything lame AND funny, but we know the name can be confusing.</p>

	<h3 class="h4">This is really mean. Why?</h3>
	<p>We’re not out to hurt anyone’s feelings, but more people think that this website is necessary than not. Plus it’s a reminder that maybe you shouldn’t have posted it on the internet in the first place. Internet etiquette, people.</p>

	<h3 class="h4">How often do you update?</h3>
	<p>We update every weekday, about 6 times daily. Yeah, that is a lot of lame.</p>

	<h3 class="h4">What is “State Your Status?”</h3>
	<p>This feature allows you to write on our wall! Tell us what you are up to, how you feel about something, really whatever the hell you want. If we find it site worthy, we will put it up.</p>
</section>

<footer>
	<nav>
		<a href="#settings" class="cancel round-btn">
			<span class="icon-arr-left"></span>
		</a>
		<a href="JavaScript:void(0);" class="save round-btn">
			<span class="icon-checkmark"></span>
		</a>
	</nav>
</footer>
