<div class="overlay-bg"></div>
<div class="overlay-content">
	
	<div class="wrap">
		<ol class="rounded-tags">
			
			<% _.each(allTags, function(tag) { %>
				
				<% if ( _.contains( tagsAppliedToAll, tag.title ) ) { %>
					<li class="selected"><%= tag.title %></li>
				<% } else { %>
					<li><%= tag.title %></li>
				<% } %>

			<% }) %>

		</ol>
	</div>

	<nav class="text-center">
		<a href="JavaScript:void(0);" class="save round-btn inverted">
			<span class="icon-checkmark"></span>
		</a>
	</nav>

</div>