<!--<div class="divider">
	<h2>Tasks</h2>
</div>-->
<ul class="edit-action-bar top">
	<li class="back-button">
		<a href="#" class="go-back">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-back"></use>
			</svg>
		</a>
	</li>
	<li class="snooze">
		<a class="action-snooze" href="JavaScript:void(0);" data-toggle="tooltip" data-placement="top" title="Snooze for later">
			<svg class="icon icon-snooze">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-later"></use>
			</svg>
		</a>
	</li>
	<li class="today">
		<a class="action-today" href="JavaScript:void(0);" data-toggle="tooltip" data-placement="top" title="Send to now">
			<svg class="icon icon-today">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-today"></use>
			</svg>
		</a>
	</li>
	<li class="complete">
		<a class="action-complete" href="JavaScript:void(0);" data-toggle="tooltip" data-placement="top" title="Complete">
			<svg class="icon icon-done">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-done"></use>
			</svg>
		</a>
	</li>
	<li class="spacer"></li>
	<li>
		<a href="JavaScript:void(0);" class="delete" data-toggle="tooltip" data-placement="top" title="Delete">
			<svg class="icon icon-actionDelete">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-actionDelete"></use>
			</svg>
		</a>
	</li>
	<li>
		<a href="JavaScript:void(0);" class="share" data-toggle="tooltip" data-placement="top" title="Share">
			<svg class="icon icon-actionShare">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-actionShare"></use>
			</svg>
		</a>
	</li>
</ul>
<div class="editor-content <% if (priority === 1) print(" is-priority") %>">

	

	

</div>