<% if (!completionDate) { %>
<a href="JavaScript:void(0);" class="action complete" title="Mark todo as completed">
	<span class="icon-checkmark"></span>
</a>
<% } else { %>
<a href="JavaScript:void(0);" class="action todo" title="Move task to todo list">
	<span class="icon-todo"></span>
</a>
<% } %>

<a href="JavaScript:void(0);" class="action schedule" title="Schedule todo">
	<span class="icon-schedule"></span>
</a>

<div class="todo-content">
	<h2><span class="priority"></span><%= title %></h2>
	
	<% if (completionDate) { %>
		<time><%= completionTimeStr %></time>
	<% } else if (timeStr) { %>
		<time><%= timeStr %></time>
	<% } %>
	
	<% if (tags && tags.length) { %>
	<ul class="tags">
		
		<% _.each(tags, function(tag) { %>
		
		<li><%= tag %></li>
		
		<% }); %>
	
	</ul>
	<% } %>

</div>