<% if (state === "active") { %>
<a href="JavaScript:void(0);" class="action complete" title="Mark todo as completed">
	<span class="icon-checkmark"></span>
</a>
<% } else { %>
<a href="JavaScript:void(0);" class="action todo" title="Move task to todo list">
	<span class="icon-todo"></span>
</a>
<% } %>

<a href="JavaScript:void(0);" class="action schedule" title="Schedule todo">
	<span class="icon-schedule"></span>
</a>
<% var centerTitle = !(tags && tags.length || repeatDate || notes) %>
<div class="todo-content<% if (centerTitle) print(" center-title") %>">
	<h2><span class="priority"></span><%= title %></h2>

	<% if (state === "completed") { %>
		<time><%= completionTimeStr %></time>
	<% } else if (state === "scheduled") { %>
		<time><%= timeStr %></time>
	<% } %>

	<% if (tags && tags.length) { %>
	<ul class="tags">

		<%
			tagStrings = _.invoke(tags, "get", "title")
			tagStrings = _.sortBy( tagStrings, function(tag) {
				return tag.toLowerCase()
			})

			_.each(tagStrings, function(tag) {
		%>

		<% if ( _.contains(swipy.filter.tagsFilter, tag) ) { %>
			<li><strong><%= tag %></strong></li>
		<% } else { %>
			<li><%= tag %></li>
		<% } %>

		<% }); %>

	</ul>
	<% } %>

</div>