<% if (state === "active") { %>
<a href="JavaScript:void(0);" class="action complete" title="Mark todo as completed">
	<span class="icon-checkmark-act"></span>
</a>
<% } else { %>
<a href="JavaScript:void(0);" class="action todo" title="Move task to todo list">
	<span class="icon-todo-act"></span>
</a>
<% } %>

<a href="JavaScript:void(0);" class="action schedule" title="Schedule todo">
	<span class="icon-schedule-act"></span>
</a>
<%
	var centerTitle, isPriority, classList

	isPriority = (priority === 1)
	classList = "todo-content"

	if ( !( tags && tags.length || repeatDate || notes || state === "completed") ) {
		classList += " center-title"
	}

	if (priority === 1) {
		classList += " is-priority"
	}
%>
<div class="<%= classList %>">
	<h2><span class="priority"></span><%= title %></h2>


	<ul class="meta">
		<% if (notes) { %>
			<li title="<%= notes %>"><span class="icon-note"></span></li>
		<% } %>

		<% if (repeatDate) { %>
			<li title="This task will repeat on <%= repeatDate %>"><span class="icon-repeat"></span></li>
		<% } %>

		<% if (notes || repeatDate) { %>
			<% if (tags && tags.length) { %>
				<li class="seperator"></li>
			<% } %>
		<% } %>

		<li>
			<% if (state === "completed") { %>
				<time><%= completionTimeStr %></time>
			<% } else if (state === "scheduled") { %>
				<time><%= timeStr %></time>
			<% } %>
		</li>

		<% if (state === "completed" || state === "scheduled") { %>
			<% if (tags && tags.length) { %>
				<li class="seperator"></li>
			<% } %>
		<% } %>

		<% if (tags && tags.length) { %>
			<ul class="tags">
				<%
					tagStrings = _.invoke(tags, "get", "title")
					tagStrings = _.sortBy( tagStrings, function(tag) {
						return tag.toLowerCase()
					})

					_.each(tagStrings, function(tag) {
				%>

				<% if ( _.contains(swipy.filter.tagsFilter, tag) ) { %>
					<li><strong><%= tag %></strong></li>
				<% } else { %>
					<li><%= tag %></li>
				<% } %>

				<% }); %>
			</ul>
		<% } %>
	</ul>
</div>