<span class="priority bigger"></span>
<h1 class="h2 title">
	
	<div class="input-title content-editable" contenteditable="true"><%= title %></div>
	<!--<input class="borderless" type="text" placeholder="Add a title" value="<%= title %>">-->
</h1>
<section class="action-steps">
	<div id="current-steps-container">
	</div>
	<div class="step add-step">
		<input class="borderless" type="text" placeholder="Add action step" value="">
		<span class="dot"></span>
	</div>
</section>
<% if (typeof completionStr !== "undefined") { %>
	<section>
		<div class="schedule-label has-icon no-select">
			<span class="icon-hold">
				<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-done"></use></svg>
			</span>
			<p class="link-style info-label">Completed <%= completionStr %>
			<% if (completionTimeStr) print(", " + completionTimeStr); %></p>
		</div>
	</section>
<% } %>
<% if (typeof completionStr == "undefined" && scheduleStr) { %>
	<section>
		<div class="schedule-label has-icon no-select">
			<span class="icon-hold">
				<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-editSchedule"></use></svg>
			</span>
			<p class="link-style info-label"><%= scheduleStr %>
			<% if (timeStr && schedule !== null) print(", " + timeStr); %></p>
		</div>
	</section>
<% } %>

<% if ( schedule !== null ) { %>
	<section>
		<div class="repeat-picker has-icon">
			<span class="icon-hold">
				<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-editRepeat"></use></svg>
			</span>
			<p class="repeat-button info-label">Repeat every &hellip;</p>
			<ul>
				<li><a <% if (repeatOption === "never") print("class='selected'") %> href="JavaScript:void(0);" data-option="never">never</a></li>
				<li><a <% if (repeatOption === "every day") print("class='selected'") %> href="JavaScript:void(0);" data-option="every day">day</a></li>
				<li><a <% if (repeatOption === "mon-fri or sat+sun") print("class='selected'") %> href="JavaScript:void(0);" data-option="mon-fri or sat+sun">
					<%
						date = schedule
						if ( repeatDate && repeatOption === "mon-fri or sat+sun" ) {
							date = repeatDate
						}
						if ( typeof date === "string" ) date = new Date( date )
						if( date ){
							print( ( date.getDay() === 0 || date.getDay() === 6 ) ? "sat+sun" : "mon-fri" )
						}
					%>
				</a></li>
				<li><a <% if (repeatOption === "every week") print("class='selected'") %> href="JavaScript:void(0);" data-option="every week">week</a></li>
				<li><a <% if (repeatOption === "every month") print("class='selected'") %> href="JavaScript:void(0);" data-option="every month">month</a></li>
				<li><a <% if (repeatOption === "every year") print("class='selected'") %> href="JavaScript:void(0);" data-option="every year">year</a></li>
			</ul>
		</div>
	</section>
<% } %>
<% if (attachments !== null) { 
	for( var i = 0 ; i < attachments.length ; i++){
		var attachment = attachments[i];
		var iconString;
		var title = attachment.title;
		if( attachment.service == "evernote" ){
			iconString = "editEvernote";
		}
		if( attachment.service == "gmail" ){
			iconString = "editMail";
		}
		if( attachment.service == "url" ){
			iconString = "editURL";
		}
		if(!iconString)
			continue;
		%>
		<section>
			<div class="attachment <%= attachment.service %> has-icon">
				<span class="icon-hold">
					<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-<%= iconString %>"></use></svg>
				</span>
				<% if(attachment.service == "url"){ %><a target="_blank" href="<%= attachment.identifier %>"><% } %>
				<p class="attachment-string info-label"><%= title %></p>
				<% if(attachment.service == "url"){ %></a><% } %>
			</div>
		</section>
	<% }  
}  %>
<section>
	<div class="icon-tag-container has-icon">
		<span class="icon-hold">
			<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-editTags"></use></svg>
		</span>
		<p class="tag-string info-label"></p>
	</div>
</section>

<section>
	<div class="notes has-icon">
		<span class="icon-hold">
			<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-editNotes"></use></svg>
		</span>
		<div class="input-note content-editable" contenteditable="true"><%= notes %></div>
	</div>
</section>