<header class="app-header no-progress red">
	<h1><%= title %></h1>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
			<span class="sr-only">60% Complete</span>
		</div>
	</div>
	<span class="shapeline">
		<svg class="icon icon-actionTag">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#progressbar-shape"></use>
		</svg>
	</span>
</header>
<li class="" style="margin-top: -15px; position: relative; z-index: 1;">
	<ol>
		
	</ol>
</li>