html {
	height:100%;
	overflow: hidden;
	body{
		height:100%;
		overflow: hidden;
	}
}
* {
	cursor:default;
	@include no-select;
}
input{
	cursor: text;
	border:0;
}
input:focus{
	border:0;
	outline: 0;
	outline-offset: 0;
}
html.touch body {
	@include breakpoint(tablet-horizontal) {
		min-width: 1180px;
	}
}
ul{
	list-style:none;
	padding-left:0;
	li{
		list-style:none;
	}
}
.row {
	margin-left:0px;
	margin-right:0px;
}

#main-content {
	padding-bottom:5em;
}
// Whole page
.total-container{
	height:100%;
	width:100%;
	// Sidebar
	.left-side-container{
		height:100%;
	}
	// Topbar + Content
	.right-side-container {
		.right-side-inner-container{
			width:100%;
			height:100%;
			position:relative;
		}
		position:relative;
		margin: auto;
		padding: 0;
		max-width: none;
		//overflow:hidden;
		height:100%;
		width:100%;

		padding-left: $sidebar-slide-width;
		@include transition(padding $sidebar-animation ease);
		@include breakpoint(tablet){
			padding-left: $sidebar-width;
			.sidebar-open & {
				padding-left: $sidebar-width + $sidebar-sub-width-large;
			}
		}
		.right-sidebar-outer-container{
			width: $right-sidebar-width;
			position: absolute;
			right:0;
			top: 0;
			padding-top: $top-bar-height;
			height:100%;
			.right-sidebar-container{
				height:100%;
				width: $right-sidebar-width;
				position:relative;
			}
			
		}
		.content-container{
			@include transition(padding $sidebar-animation ease);
			// padding to make topbar work
			padding-top:$top-bar-height;
			padding-right:$right-sidebar-width;

			height:100%;

			.scroll-container{
				&::-webkit-scrollbar { 
				    display: none; 
				}
				height:100%;
				width:100%;
				overflow-y:scroll;
				position: relative;
				z-index: 4;
				padding-right: 5px;

			}
		}
	
	}
}
svg {
	pointer-events: none;
}
a:focus { 
    outline: none; 
}
button::-moz-focus-inner {
  border: 0;
}
div[role=main] {
	margin: auto;
	max-width: emCalc(685px);
	position: relative;
	height:100%;

	@include breakpoint(desktop) {
		
		@include transition(max-width 0.5s ease-in-out);
	}


	padding-top: 1.0em;
	@include transition(padding-top 0.4s ease-in-out);
	> nav {
		margin-bottom: 0.0em;
		@include transition(margin-bottom 0.4s ease-in-out);
	}
	@include breakpoint(tablet, height){
		padding-top: 1.4em;
		> nav {
			margin-bottom: 0.4em;
			
		}
	}
	@include breakpoint(desktop, height){
		padding-top:1.8em;
		> nav {
			margin-bottom: 0.8em;
		}
	}
	/*> nav {
		margin-bottom: emCalc(10px);
		

		@include breakpoint(min-height, emCalc(1024px)) { margin-bottom: emCalc(20px); }
	}*/

	//padding-bottom: 3em;
}



// Pointer for drag & drop - added in body element (base.html)
.drag-mouse-pointer{
	display:none;
	&.shown{
		display:block;
	}
	border: 1px solid white;
	@include border-radius(10px);
	position: fixed;
	z-index: 10000;
	opacity: 0.6;
	top:0;
	left:0;
	background: $sidebar-dark-color;

	color: white;
	ul{
		margin:0;
		padding:7px;
		li{
			font: 12px $font-normal;
			padding:3px;
			white-space: nowrap;
			max-width: 200px;
			text-overflow: ellipsis;
  			overflow: hidden;
			//border-bottom: 1px solid white;
			&:last-child{
				border-bottom:0;
			}
		}
	}
}


// Tooltips updating animation
.tooltip.right {
	display: block !important;
	@include opacity(0);
	visibility: hidden;
	@include transition(transform 300ms ease, opacity 350ms ease);
	@include translate3d(-8px, 0, 0);

		&.in {
			visibility: visible;
			@include opacity(0.9);
			@include translate3d(0, 0, 0);
		}
}


.tooltip-inner {
	white-space: nowrap;
	font-size: 14px;
}