html.touch body {
	@include breakpoint(tablet-horizontal) {
		min-width: 1180px;
	}
}

.container {
	margin: 0;
	padding: 0;
	max-width: none;

	.sidebar-open & {
		padding-left: $sidebar-width + 15px;

		@include breakpoint(desktop) {
			left: $sidebar-width-big + 30px;
		}
	}
}

div[role=main] {
	margin: auto;
	max-width: emCalc(685px);
	position: relative;

	@include breakpoint(desktop) {
		@include transition(max-width 0.5s ease-in-out);
	}

	@include breakpoint(desktop-wide) {
		max-width: emCalc(850px);
	}

	header.add-new {
		margin: emCalc(25px) 0 emCalc(10px);

		@include breakpoint(max-width, emCalc(400px)) {
			margin-top: emCalc(5px);
		}

		@include transition(margin 0.4s ease-in-out);
		@include breakpoint(min-height, emCalc(768px)) { margin: emCalc(58px) 0 emCalc(43px); }

		body.edit-mode & {
			margin: emCalc(5px) 0 emCalc(10px);
		}
	}

	> nav {
		margin-bottom: emCalc(10px);
		@include transition(margin-bottom 0.4s ease-in-out);

		@include breakpoint(min-height, emCalc(768px)) { margin-bottom: emCalc(40px); }
	}

	padding-bottom: 11em;
}