html {
	height:100%;
	overflow: hidden;
	body{
		height:100%;
		overflow: hidden;
	}
}

html.touch body {
	@include breakpoint(tablet-horizontal) {
		min-width: 1180px;
	}
}

.row {
	margin-left:0px;
	margin-right:0px;
}

#main-content {
	padding-bottom:5em;
}

.container {
	margin: auto;
	padding: 0;
	max-width: none;
	overflow:hidden;
	height:100%;
	width:100%;

		.scroll-container{
			height:100%;
			width:100%;
			overflow-y:scroll;
			position: relative;
			z-index: 4;
			padding-left: $sidebar-slide-width + 5px;
			padding-right: 5px;

			@include transition(padding $sidebar-animation ease);
			@include breakpoint(tablet){
				padding-left: $sidebar-width;
				.sidebar-open & {
					padding-left: $sidebar-width + $sidebar-sub-width-large;
				}
			}
			
		}

		
}
svg {
	pointer-events: none;
}
a:focus { 
    outline: none; 
}
button::-moz-focus-inner {
  border: 0;
}
div[role=main] {
	margin: auto;
	max-width: emCalc(685px);
	position: relative;
	height:100%;

	@include breakpoint(desktop) {
		
		@include transition(max-width 0.5s ease-in-out);
	}


	padding-top: 1.0em;
	@include transition(padding-top 0.4s ease-in-out);
	> nav {
		margin-bottom: 0.0em;
		@include transition(margin-bottom 0.4s ease-in-out);
	}
	@include breakpoint(tablet, height){
		padding-top: 1.4em;
		> nav {
			margin-bottom: 0.4em;
			
		}
	}
	@include breakpoint(desktop, height){
		padding-top:1.8em;
		> nav {
			margin-bottom: 0.8em;
		}
	}
	/*> nav {
		margin-bottom: emCalc(10px);
		

		@include breakpoint(min-height, emCalc(1024px)) { margin-bottom: emCalc(20px); }
	}*/

	//padding-bottom: 3em;
}

// Tooltips updating animation
.tooltip.right {
	display: block !important;
	@include opacity(0);
	visibility: hidden;
	@include transition(transform 300ms ease, opacity 350ms ease);
	@include translate3d(-8px, 0, 0);

		&.in {
			visibility: visible;
			@include opacity(0.9);
			@include translate3d(0, 0, 0);
		}
}


.tooltip-inner {
	white-space: nowrap;
	font-size: 14px;
}