html {
	width: 100%;
	height:100%;
	overflow: hidden;
	body{
		width: 100%;
		height:100%;
		overflow: hidden;
	}
}
* {
	cursor:default;
	@include no-select;
}
input{
	cursor: text;
	border:0;
	@include select;
}
div[contentEditable=true]{
	@include select;
}
textarea{
	@include select;
}
input:focus{
	border:0;
	outline: 0;
	outline-offset: 0;
}
html.touch body {
	@include breakpoint(tablet-horizontal) {
		min-width: 1180px;
	}
}
ul{
	list-style:none;
	padding-left:0;
	li{
		list-style:none;
	}
}
.row {
	margin-left:0px;
	margin-right:0px;
}
::-webkit-scrollbar { 
	width: 10px;
	background-color: rgba(black,0);
	border-radius: 50px;
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(black,.1);
  	border-radius: 50px;
}

.main-view-controller{
	width:100%;
	height:100%;
}

#main-content {
	padding-bottom:5em;
}
// Whole page
.total-container{
	height:100%;
	width:100%;
	// Sidebar
	.left-side-container{
		height:100%;
	}
	// Topbar + Content
	.right-side-container {
		.right-side-inner-container{
			width:100%;
			height:100%;
			position:relative;
		}
		position:relative;
		margin: auto;
		padding: 0;
		max-width: none;
		//overflow:hidden;
		height:100%;
		width:100%;

		padding-left: $sidebar-slide-width;
		@include transition(padding $sidebar-animation ease);
		@include breakpoint(tablet){
			padding-left: $sidebar-width;
			.sidebar-open & {
				padding-left: $sidebar-width + $sidebar-sub-width-large;
			}
		}
		.right-sidebar-outer-container{
			display:none;
			width: $right-sidebar-width;
			position: absolute;
			right:0;
			top: 0;
			padding-top: $top-bar-height;
			height:100%;
			.right-sidebar-container{
				height:100%;
				width: $right-sidebar-width;
				position:relative;
			}
			
		}
		.content-container{
			//@include transition(padding $sidebar-animation ease);
			// padding to make topbar work
			padding-top:$top-bar-height;
			padding-right:$right-sidebar-width;

			height:100%;

		}
	
	}
}
svg {
	pointer-events: none;
}
a:focus { 
    outline: none; 
}
button::-moz-focus-inner {
  border: 0;
}


// Pointer for drag & drop - added in body element (base.html)
.drag-mouse-pointer{
	display:none;
	&.shown{
		display:block;
	}
	border: 1px solid white;
	@include border-radius(10px);
	position: fixed;
	z-index: 10000;
	opacity: 0.6;
	top:0;
	left:0;
	background: $sidebar-dark-color;

	color: white;
	ul{
		margin:0;
		padding:7px;
		li{
			font: 12px $font-normal;
			padding:3px;
			white-space: nowrap;
			max-width: 200px;
			text-overflow: ellipsis;
  			overflow: hidden;
			//border-bottom: 1px solid white;
			&:last-child{
				border-bottom:0;
			}
		}
	}
}

.animated-short{
	@extend .animated;
	@include experimental(animation-duration, 0.1s);
}
.animated{
	@extend .animated;
	@include experimental(animation-duration, 0.3s);
}
.animated-long{
	@extend .animated;
	@include experimental(animation-duration, 0.5s);
}

// Tooltips updating animation
.tooltip.right {
	display: block !important;
	@include opacity(0);
	visibility: hidden;
	@include transition(transform 300ms ease, opacity 350ms ease);
	@include translate3d(-8px, 0, 0);

		&.in {
			visibility: visible;
			@include opacity(0.9);
			@include translate3d(0, 0, 0);
		}
}


.tooltip-inner {
	white-space: nowrap;
	font-size: 14px;
}

.hidden {
	display: none;
}

.lightbox-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.6);
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
	
	.close-container {
		width: 32px;
		height: 32px;
		top: 32px;
		right: 32px;
		opacity: 1;
		border-radius: 50%;
		border: 2px solid white;
		cursor: pointer;
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
			-ms-flex-pack: center;
				justify-content: center;
		
		.close {
			width: 18px;
			height: 2px;
			transform: rotate(45deg);
			position: relative;
			background-color: white;
			opacity: 1;
			
			&:before {
				content: "";
				display: block;
				position: relative;
				height: 18px;
				width: 2px;
				transform: rotate(0deg);
				background-color: white;
				opacity: 1;
				margin-left: 8px;
				margin-top: -8px;
			}

		}
		
		&:hover {
			opacity: 1;
		}
	}
	
	.lightbox {
		height: 70%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
			-ms-flex-pack: center;
				justify-content: center;
		
		img {
			max-width: 90%;
			max-height: 100%;
			position: relative
		}
	}
}