html {
	height:100%;
	overflow: hidden;
	body{
		height:100%;
		overflow: hidden;
	}
}

html.touch body {
	@include breakpoint(tablet-horizontal) {
		min-width: 1180px;
	}
}

.row {
	margin-left:0px;
	margin-right:0px;
}

#main-content {
	padding-bottom:5em;
}

.container {
	margin: auto;
	padding: 0;
	max-width: none;
	overflow:hidden;
	height:100%;
	width:100%;

		.scroll-container{
			height:100%;
			width:100%;
			overflow-y:scroll;
			padding-left: $sidebar-width;
			@include transition(padding $sidebar-animation ease);

				.sidebar-open & {
					padding-left: $sidebar-width + $sidebar-sub-width;
				}
		}

		
}

div[role=main] {
	margin: auto;
	max-width: emCalc(685px);
	position: relative;
	height:100%;
	@include breakpoint(desktop) {
		@include transition(max-width 0.5s ease-in-out);
	}

	@include breakpoint(desktop-wide) {
		max-width: emCalc(850px);
	}

	header.add-new {
		margin: emCalc(18px) 0 emCalc(10px);

		@include breakpoint(max-width, emCalc(400px)) {
			margin-top: emCalc(5px);
		}

		@include transition(margin 0.4s ease-in-out);
		@include breakpoint(min-height, emCalc(1024px)) { margin: emCalc(26px) 0 emCalc(26px); }

		body.edit-mode & {
			margin: emCalc(5px) 0 emCalc(10px);
		}
	}

	> nav {
		margin-bottom: emCalc(10px);
		@include transition(margin-bottom 0.4s ease-in-out);

		@include breakpoint(min-height, emCalc(1024px)) { margin-bottom: emCalc(20px); }
	}

	//padding-bottom: 3em;
}