html.touch body {
	@include breakpoint(tablet-horizontal) {
		min-width: 1180px;
	}
}

.container {
	max-width: emCalc(685px);

	@include breakpoint(desktop) {
		@include transition(max-width 0.5s ease-out);
	}

	@include breakpoint(desktop-wide) {
		max-width: emCalc(850px);
	}

	header.add-new {
		margin: emCalc(5px) 0 emCalc(10px);
		@include breakpoint(tablet) { margin: emCalc(58px) 0 emCalc(43px); }

		body.edit-mode & {
			margin: 0;
		}
	}

	> nav {
		margin-bottom: emCalc(10px);
		@include breakpoint(tablet) { margin-bottom: emCalc(40px); }
	}

	padding-bottom: 11em;
}