$fonts-url: 'fonts/';

/*
	====================
	Normal fonts
	====================
 */
/*$font_name: 'opensans-bold-webfont';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.woff');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font_name: 'opensans-semibold-webfont';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.woff');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font_name: 'opensans-regular-webfont';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.woff');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

$font-bold: "Open Sans", sans-serif;
$font-normal: "Open Sans", sans-serif;
$font-light: "Open Sans", sans-serif;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

/*
	====================
	Icon font
	====================
 */
$font_name: 'swipes';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.woff');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'swipes';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin icon($iconString) {
	@extend .icon;
	content: $iconString;
}

.icon-todo:before { @include icon("\e603"); }
.icon-todo-bold:before { @include icon("\e662"); }
.icon-checkmark:before { @include icon("\e602"); }
.icon-checkmark-bold:before { @include icon("\e660"); }
.icon-clock:before { @include icon("\e604"); }
.icon-clock-bold:before { @include icon("\e699"); }


.icon-snooze-unspecified:before { @include icon("\e612"); }
.icon-snooze-unspecified-act:before { @include icon("\e614"); }
.icon-snooze-tomorrow:before { @include icon("\e643"); }
.icon-snooze-tomorrow-act:before { @include icon("\e64c"); }
.icon-snooze-this-weekend:before { @include icon("\e641"); }
.icon-snooze-this-weekend-act:before { @include icon("\e64a"); }
.icon-snooze-this-evening:before { @include icon("\e638"); }
.icon-snooze-this-evening-act:before { @include icon("\e61c"); }
.icon-snooze-pick-a-date:before { @include icon("\e63d"); }
.icon-snooze-pick-a-date-act:before { @include icon("\e646"); }
.icon-snooze-next-week:before { @include icon("\e640"); }
.icon-snooze-next-week-act:before { @include icon("\e649"); }
.icon-snooze-location:before { @include icon("\e63e"); }
.icon-snooze-location-act:before { @include icon("\e647"); }
.icon-snooze-later-today:before { @include icon("\e645"); }
.icon-snooze-later-today-act:before { @include icon("\e64e"); }
.icon-snooze-day-after-tomorrow:before { @include icon("\e652"); }
.icon-snooze-day-after-tomorrow-act:before { @include icon("\e64b"); }

.icon-settings-snooze:before{ @include icon("\e653"); }
.icon-settings-snooze-act:before{ @include icon("\e608"); }


.icon-note:before { @include icon("\e609"); }
.icon-repeat:before { @include icon("\e60a"); }
.icon-trashcan:before { @include icon("\e635"); }
.icon-trashcan-act:before { @include icon("\e63b"); }

.icon-tags:before { @include icon("\e634"); }
.icon-tags-act:before { @include icon("\e63a"); }
.icon-tag-bold:before { @include icon("\e60b"); }

.icon-share:before { @include icon("\e633"); }
.icon-share-act:before { @include icon("\e639"); }


.icon-cog:before { @include icon("\e601"); }
.icon-cog-act:before { @include icon("\e605"); }
.icon-support:before { @include icon("\e619"); }
.icon-support-act:before { @include icon("\e621"); }
.icon-policy:before { @include icon("\e616"); }
.icon-policy-act:before { @include icon("\e61f"); }


.icon-plus:before { @include icon("\e65f"); }
.icon-minus:before { @include icon("\e625"); }


.icon-cross:before { @include icon("\e629"); }
.icon-cross-act:before { @include icon("\e62e"); }

.icon-log-out:before { @include icon("\e617"); }
.icon-log-out-act:before { @include icon("\e620"); }

.icon-triangle-right:before { @include icon("\e628"); }
.icon-triangle-right-act:before { @include icon("\e62d"); }

.icon-arr-left:before { @include icon("\e63f"); }



.icon-swipes-logo-square:before { @include icon("\e64f"); }
.icon-swipes-logo-square-act:before { @include icon("\e654"); }

.icon-questionmark-circle:before { @include icon("\e627"); }
.icon-questionmark-circle-act:before { @include icon("\e636"); }

.icon-pencil:before { @include icon("\e63c"); }

// To be fixed:
.icon-triangle-left:before { @include icon("\e628"); direction: rtl; }
.icon-triangle-left-act:before { @include icon("\e62d"); direction: rtl; }












