$fonts-url: 'fonts/';

/*
	====================
	Normal fonts
	====================
 */
$font_name: 'ProximaNova-Semibold';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.eot');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font_name: 'ProximaNova-Regular';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.eot');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font_name: 'ProximaNova-Light';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.eot');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-bold: "ProximaNova-Semibold", sans-serif;
$font-normal: "ProximaNova-Regular", sans-serif;
$font-light: "ProximaNova-Light", sans-serif;

/*
	====================
	Icon font
	====================
 */
$font_name: 'swipes';
@font-face {
	font-family: $font-name;
	src: url($fonts-url + $font-name + '.eot');
	src: url($fonts-url + $font-name + '.eot?#iefix') format('embedded-opentype'),
		 url($fonts-url + $font-name + '.woff') format('woff'),
		 url($fonts-url + $font-name + '.ttf') format('truetype'),
		 url($fonts-url + $font-name + '.svg#' + 'font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'swipes';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-triangle-right, .icon-triangle-right-act, .icon-triangle-left, .icon-triangle-left-act, .icon-trashcan, .icon-trashcan-act, .icon-todo, .icon-todo-act, .icon-tags, .icon-tags-act, .icon-tag-bold, .icon-swipes-plus, .icon-swipes-logo-square, .icon-swipes-logo-square-act, .icon-support, .icon-support-act, .icon-snooze-unspecified, .icon-snooze-unspecified-act, .icon-snooze-tomorrow, .icon-snooze-tomorrow-act, .icon-snooze-this-weekend, .icon-snooze-this-weekend-act, .icon-snooze-this-evening, .icon-snooze-this-evening-act, .icon-snooze-pick-a-date, .icon-snooze-pick-a-date-act, .icon-snooze-next-week, .icon-snooze-next-week-act, .icon-snooze-location, .icon-snooze-location-act, .icon-snooze-later-today, .icon-snooze-later-today-act, .icon-snooze-day-after-tomorrow, .icon-snooze-day-after-tomorrow-act, .icon-share, .icon-share-act, .icon-schedule, .icon-schedule-act, .icon-repeat, .icon-repeat-bold, .icon-questionmark-circle, .icon-questionmark-circle-act, .icon-policy, .icon-policy-act, .icon-plus, .icon-pencil, .icon-pencil-act, .icon-note, .icon-note-bold, .icon-minus, .icon-log-out, .icon-log-out-act, .icon-cross, .icon-cross-act, .icon-cog, .icon-cog-act, .icon-clock, .icon-clock-bold, .icon-clock-alt, .icon-clock-alt-act, .icon-clock-act, .icon-checkmark, .icon-checkmark-nav, .icon-checkmark-alt, .icon-checkmark-alt-act, .icon-checkmark-act, .icon-arr-right, .icon-arr-left {
	@extend .icon;
}

.icon-triangle-right:before { content: "\e600"; }
.icon-triangle-right-act:before { content: "\e601"; }
.icon-triangle-left:before { content: "\e602"; }
.icon-triangle-left-act:before { content: "\e603"; }
.icon-trashcan:before { content: "\e604"; }
.icon-trashcan-act:before { content: "\e605"; }
.icon-todo:before { content: "\e606"; }
.icon-todo-act:before { content: "\e607"; }
.icon-tags:before { content: "\e608"; }
.icon-tags-act:before { content: "\e609"; }
.icon-tag-bold:before { content: "\e60a"; }
.icon-swipes-plus:before { content: "\e60b"; }
.icon-swipes-logo-square:before { content: "\e60c"; }
.icon-swipes-logo-square-act:before { content: "\e60d"; }
.icon-support:before { content: "\e60e"; }
.icon-support-act:before { content: "\e60f"; }
.icon-snooze-unspecified:before { content: "\e610"; }
.icon-snooze-unspecified-act:before { content: "\e611"; }
.icon-snooze-tomorrow:before { content: "\e612"; }
.icon-snooze-tomorrow-act:before { content: "\e613"; }
.icon-snooze-this-weekend:before { content: "\e614"; }
.icon-snooze-this-weekend-act:before { content: "\e615"; }
.icon-snooze-this-evening:before { content: "\e616"; }
.icon-snooze-this-evening-act:before { content: "\e617"; }
.icon-snooze-pick-a-date:before { content: "\e618"; }
.icon-snooze-pick-a-date-act:before { content: "\e619"; }
.icon-snooze-next-week:before { content: "\e61a"; }
.icon-snooze-next-week-act:before { content: "\e61b"; }
.icon-snooze-location:before { content: "\e61c"; }
.icon-snooze-location-act:before { content: "\e61d"; }
.icon-snooze-later-today:before { content: "\e61e"; }
.icon-snooze-later-today-act:before { content: "\e61f"; }
.icon-snooze-day-after-tomorrow:before { content: "\e620"; }
.icon-snooze-day-after-tomorrow-act:before { content: "\e621"; }
.icon-share:before { content: "\e622"; }
.icon-share-act:before { content: "\e623"; }
.icon-schedule:before { content: "\e624"; }
.icon-schedule-act:before { content: "\e625"; }
.icon-repeat:before { content: "\e626"; }
.icon-repeat-bold:before { content: "\e627"; }
.icon-questionmark-circle:before { content: "\e628"; }
.icon-questionmark-circle-act:before { content: "\e629"; }
.icon-policy:before { content: "\e62a"; }
.icon-policy-act:before { content: "\e62b"; }
.icon-plus:before { content: "\e62c"; }
.icon-pencil:before { content: "\e62d"; }
.icon-pencil-act:before { content: "\e62e"; }
.icon-note:before { content: "\e62f"; }
.icon-note-bold:before { content: "\e630"; }
.icon-minus:before { content: "\e631"; }
.icon-log-out:before { content: "\e632"; }
.icon-log-out-act:before { content: "\e633"; }
.icon-cross:before { content: "\e634"; }
.icon-cross-act:before { content: "\e635"; }
.icon-cog:before { content: "\e636"; }
.icon-cog-act:before { content: "\e637"; }
.icon-clock:before { content: "\e638"; }
.icon-clock-bold:before { content: "\e639"; }
.icon-clock-alt:before { content: "\e63a"; }
.icon-clock-alt-act:before { content: "\e63b"; }
.icon-clock-act:before { content: "\e63c"; }
.icon-checkmark:before { content: "\e63d"; }
.icon-checkmark-nav:before { content: "\e63e"; }
.icon-checkmark-alt:before { content: "\e63f"; }
.icon-checkmark-alt-act:before { content: "\e640"; }
.icon-checkmark-act:before { content: "\e641"; }
.icon-arr-right:before { content: "\e642"; }
.icon-arr-left:before { content: "\e643"; }