@mixin breakpoint($point, $size: 0) {
	@if $point == mobile {
		@media (min-width: 0) { @content; }
	}

	@else if $point == mobile-horizontal {
		@media (min-width: 480px) and (orientation: landscape) { @content; }
	}

	@else if $point == tablet {
		@media (min-width: 768px) { @content; }
	}

	@else if $point == tablet-horizontal {
		@media (min-width: 768px) and (orientation: landscape) { @content; }
	}

	@else if $point == desktop {
		@media (min-width: 1170px) { @content; }
	}

	@else if $point == desktop-wide {
		@media (min-width: 1500px) { @content; }
	}

	@else {
		@media($point: $size) { @content; }
	}
}

@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

@mixin divider-triangle($color: $green, $size: 1.4em) {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 ($size * 0.7) $size 0;
	border-color: transparent $color transparent transparent;
}

@mixin triangle($width: 20px, $height: 20px, $direction: up, $color: red) {
	width: 0; height: 0;

	// Right
	@if $direction == right {
		border-top: ($height / 2) solid transparent;
		border-bottom: ($height / 2) solid transparent;
		border-left: $width solid $color;
	}
	
	// Left
	@if $direction == left {
		border-top: ($height / 2) solid transparent;
		border-bottom: ($height / 2) solid transparent;
		border-right: $width solid $color;
	}

	// Up
	@if $direction == up {
		border-left: ($width / 2) solid transparent;
		border-right: ($width / 2) solid transparent;
		border-bottom: $height solid $color;
	}

	// Down
	@if $direction == down {
		border-left: ($width / 2) solid transparent;
		border-right: ($width / 2) solid transparent;
		border-top: $height solid $color;
	}
}


.no-select {
	cursor: default;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	  /* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}