//
// Custom Variables
// --------------------------------------------------
$yellow: #FFC85E; //#E4CA5C;
// $lobster: #F55A53;
$green: #86D36E; //#45DB86;
$red: #FF5637; //#d31e2b;
$lobster: $red;
$brand-swipes: $red;
$orange: #ffc107;
$unselected-color: #9E9E9E;

$sidebar-dark-color: #1B1E23;
$sidebar-button-gray: #8d8f91;
$sidebar-button-active-gray: #999a9c;
$sidebar-button-active-background-gray: #323539;
$breakpointSmallHeight: 500px;



// Sidebar varialbes
// -------------------------
$sidebar-width: 240px;
$sidebar-sub-width: 300px;
$sidebar-sub-width-large: 400px;
$sidebar-slide-width: 25px;
$sidebar-bg: #fff;
$sidebar-animation: 230ms;
$sidebar-buttons-size: 40px;

