//
// Custom Variables
// --------------------------------------------------

$yellow: #fcc956; //#E4CA5C;
$dark-yellow: #E2B65B;
$green: #66cc8f; //#45DB86;
$online-green: #66cc8f;
$busy-yellow: #FF512F;
$orange: #e85c41;

$red: #FF5637; //#d31e2b;
$orange: #e85c41;
$unselected-color: #9E9E9E;
$small-seperator-color: #DDDDDD;

$sidebar-dark-color: #1B1E23;
$sidebar-button-gray: #8d8f91;
$sidebar-button-active-gray: #999a9c;
$sidebar-button-active-background-gray: #323539;
$breakpointSmallHeight: 500px;

$light-background: #fffff5;
$white-background: #ffffff;
$gray-background: #eeeeee;
$dark-background: #252d51;

$sidebar-black-header: #000C2F;
$unselected-text-color: #ffffff;
$unread-text-color: #010D2E;
$selected-overlay-background: #F2F3EB;


// Topbar variables
$top-bar-height: 44px;

// Sidebar variables
// -------------------------
$sidebar-width: 210px;
$sidebar-sub-width: 300px;
$sidebar-sub-width-large: 400px;
$sidebar-slide-width: 25px;
$sidebar-bg: #fff;
$sidebar-animation: 230ms;
$sidebar-buttons-size: 40px;

$right-sidebar-width: 55px;