// Compass imports
@import "compass/css3";
@import "compass/typography/text";

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import "vars";
@import "functions";
@import "mixins";
@import "fonts";

@import "settings";
@import 'sass-bootstrap/lib/bootstrap';

// @import "typography";
@import "animation";

// Base page styles
@import "base";

// Modules
@import "module/forms";
@import "module/list/task";
@import "module/task-editor";
@import "module/action-steps";
@import "module/task-input";
@import "module/priority-indicator";
@import "module/progress-header";
@import "module/buttons";
@import "module/grid";
@import "module/rounded-tags";

@import "module/tag-pool";
@import "module/action-bar";
@import "module/organise-bar";
@import "module/range-slider";
@import "module/load-indicator";
@import "module/sync-indicator";
@import "module/search-result";
@import "module/all-done";

@import "module/overlay/overlay";
@import "module/overlay/scheduler-overlay";
@import "module/overlay/tags-editor-overlay";
@import "module/overlay/request-work-overlay";
@import "module/overlay/work-mode-overlay";
@import "module/overlay/keyboard-overlay";

@import "module/calendar";
@import "module/pickers";
@import "module/section";

// Modals
@import "modal/list-action";
@import "modal/assign";

// Task List
@import "tasklist/task-list";

// Chat List
@import "chatlist/chat-list";

// Sidebar
@import "sidebar/right-sidebar";
@import "sidebar/sidebar-base";
@import "sidebar/sidebar-actions";
@import "sidebar/sidebar-search";
@import "sidebar/sidebar-tags";
@import "sidebar/sidemenu-settings";
@import "sidebar/sidemenu-settings-snoozes";
@import "sidebar/_sidemenu-settings-tweaks.scss";

// Views
@import "view/login";
@import "view/topbar";

// Other modules
@import "module/browsehappy";