// Compass imports
@import "compass/css3";
@import "compass/typography/text";

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import "vars";
@import "functions";
@import "mixins";
@import "fonts";

@import "settings";
@import 'sass-bootstrap/lib/bootstrap';

// @import "typography";
@import "animation";

// Base page styles
@import "base";

// Modules
@import "module/forms";
@import "module/todo-list";
@import "module/list/task";
@import "module/list/touch-task-overrides";
@import "module/task-editor";
@import "module/action-steps";
@import "module/task-input";
@import "module/list-nav";
@import "module/priority-indicator";
@import "module/buttons";
@import "module/grid";
@import "module/rounded-tags";
@import "module/repeat-picker";
@import "module/day-picker";
@import "module/tag-pool";
@import "module/snoozes";
@import "module/action-bar";
@import "module/range-slider";
@import "module/load-indicator";
@import "module/sync-indicator";
@import "module/search-result";
@import "module/all-done";

@import "module/overlay/overlay";
@import "module/overlay/scheduler-overlay";
@import "module/overlay/tags-editor-overlay";

@import "module/calendar";
@import "module/datepicker";

// Sidebar
@import "sidebar/sidebar-base";
@import "sidebar/sidebar-actions";
@import "sidebar/sidebar-search";
@import "sidebar/sidebar-tags";

// Views
@import "view/login";
@import "view/settings/base";
@import "view/settings/policies";
@import "view/settings/snoozes";


// Other modules
@import "module/browsehappy";