// Compass imports
@import "compass/css3";
@import "compass/typography/text";

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "functions";
@import "mixins";
@import "fonts";
@import "colors";

@import "settings";
@import 'sass-bootstrap/lib/bootstrap';

// @import "typography";
@import "animation";

// Base page styles
@import "base";

// Modules
@import "module/forms";
@import "module/todo-list";
@import "module/list/task";
@import "module/task-editor";
@import "module/todo-input";
@import "module/list-nav";
@import "module/priority-indicator";
@import "module/divider";
@import "module/buttons";
@import "module/rounded-tags";
@import "module/repeat-picker";

// Other modules
@import "module/browsehappy";