[submodule "webapp/app/scripts/js/plugins/jwerty"]
	path = webapp/app/scripts/js/plugins/jwerty
	url = git://github.com/keithamus/jwerty
[submodule "webapp/app/styles/animate"]
	path = webapp/app/styles/animate
	url = git@github.com:Ahrengot/animate.sass.git
[submodule "webapp/app/scripts/plugins/js/slider-control"]
	path = webapp/app/scripts/plugins/js/slider-control
	url = git@github.com:Ahrengot/Simple-Slider-Control.git
[submodule "webapp/app/bower_components/clndr"]
	path = webapp/app/bower_components/clndr
	url = git@github.com:Ahrengot/CLNDR.git
[submodule "backend"]
	path = backend
	url = git@heroku.com:swipes-test.git
