[submodule "app/scripts/plugins/jwerty"]
	path = app/scripts/plugins/jwerty
	url = git://github.com/keithamus/jwerty
[submodule "app/styles/animate"]
	path = app/styles/animate
	url = git@github.com:Ahrengot/animate.sass.git
[submodule "app/bower_components/clndr"]
	path = app/bower_components/clndr
	url = git@github.com:Ahrengot/CLNDR.git
[submodule "app/scripts/plugins/swipes-js-sdk"]
	path = app/scripts/plugins/swipes-js-sdk
	url = https://github.com/swipesapp/swipes-js-sdk.git
