<% 
var type;
var prefix = "";
var name = data.channel.get("name");
var showName = name;
var title = data.channel.get("title");
if(title)
	showName = title;
var numberOfNotifications = 0;
var showClose = false;
var showAction = true;
var starClass = "";
var hideStatus = false;
if(data.channel.get("type") == "public"){
	type = "channel";
}


if(data.channel.get("is_app")){
	type = "app";
}
if(data.channel.get("type") == "direct"){
	type = "im";
	name = showName = data.user.get("username");
	numberOfNotifications = data.channel.get("unread_count_display");
}
if(data.channel.get("type") == "private"){
	type = "group";
}
if(data.channel.get("is_starred")){
	starClass = "isStarred";
	hideStatus = true;
}
%>
<a href="#<%= type %>/<%= name %>">
	<% if(type == "im" && !hideStatus){ %>
	<div class="status-container">
		<span class="status statusToggle"></span>
	</div>
	<% } %>
	<div class="text">
		<%= prefix + showName %>
	</div>
	<% if(numberOfNotifications){ %>
		<span class="notification chat"><%= numberOfNotifications %></span>
	<% }%>
	<% if(showClose) { %>
		<div class="close-container">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-materialClose"></use>
			</svg>
		</div>
	<% } %>
	<% if(showAction) { %>
		<div class="action-container statusToggle <%= starClass %>">
			&#9733;
		</div>
	<% } %>
</a>