<% 
var type;
var prefix = "";
var presenceClass = "";
var name = data.channel.get("name");
var showName = name;
var numberOfNotifications = 0;
var showClose = false;
if(data.channel.get("is_channel")){
	type = "channel";
	prefix = "# ";
}
if(data.channel.get("is_im")){
	type = "im";
	showClose = true;
	name = showName = data.user.get("name");
	if(name == "slackbot")
		showName = "slackbot & sofi";
	numberOfNotifications = data.channel.get("unread_count_display");
}
if(data.channel.get("is_group")){
	type = "group";
}
%>
<a href="#<%= type %>/<%= name %>">
	<% if(type == "im"){ %>
	<div class="status-container">
		<span class="status <%= presenceClass %>"></span>
	</div>
	<% } %>
	<div class="text">
		<%= prefix + showName %>
	</div>
	<% if(numberOfNotifications){ %>
		<span class="notification"><%= numberOfNotifications %></span>
	<% }%>
	<% if(showClose) { %>
		<div class="close-container">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-materialClose"></use>
			</svg>
		</div>
	<% } %>
</a>