<% 
_.each(data.ims, function(im) { 
	var unreadClass = "";
	var hasNotificationClass = "";
	var presenceClass = "";
	var numberOfUnread = im.unread_count;
	var numberOfNotifications = im.unread_count_display;
	if(numberOfUnread)
		unreadClass = "unread";
	if(numberOfNotifications)
		hasNotificationClass = "hasNotification";
	if(im.user.presence == "active")
		presenceClass = "online";
%>
	<li class="member <%= unreadClass %> <%= hasNotificationClass %>" id="sidebar-im-<%= im.user.name %>">
		<a href="#im/<%= im.user.name %>">
			<div class="status-container">
				<span class="status <%= presenceClass %>"></span>
			</div>
			<div class="text">
				<%= im.user.name %>
			</div>
			<% if(numberOfNotifications){ %>
				<span class="notification"><%= numberOfNotifications %></span>
			<% }%>
		</a>
	</li>
<% }); %>