<% 
_.each(data.channels, function(channel) { 
	var unreadClass = "";
	var hasNotificationClass = "";
	var numberOfUnread = channel.unread_count_display;
	var numberOfNotifications = 0;//channel.unread_count_display;
	if(numberOfUnread)
			unreadClass = "unread";
	if(numberOfNotifications)
		hasNotificationClass = "hasNotification";
%>
	<li class="project <%= unreadClass %> <%= hasNotificationClass %>" id="sidebar-channel-<%= channel.name %>">
		<a href="#channel/<%= channel.name %>">
			<span class="text"># <%= channel.name %></span>
			<% if(numberOfNotifications){ %>
				<span class="notification"><%= numberOfNotifications %></span>
			<% }%>
		</a>
	</li>
<% }); %>
<!--<input type="text" placeholder="Add project">-->