<nav class="settings-links">

	<a id="tweaks-button" href="#">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-actionMenuSettings"></use>
			</svg>
			<p>Tweaks</p>
		</div>
	</a>


	<a id="snoozes-button" href="#">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsSchedule"></use>
			</svg>
			<p>Snoozes</p>
		</div>
	</a>

	<!--<a id="help-button" href="#">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsFeedback"></use>
			</svg>
			<p>Help</p>
		</div>
	</a>-->

	<!--<a id="integrations-button" href="#">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsIntegrations"></use>
			</svg>
			<p>Integrations</p>
		</div>
	</a>-->

	<a id="sync-button" href="#">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsSync"></use>
			</svg>
			<p>Sync</p>
		</div>
	</a>

	<a id="faq-button" href="http://support.swipesapp.com/hc/en-us" target="_blank">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsFAQ"></use>
			</svg>
			<p>FAQ</p>
		</div>
	</a>

	<a id="support-button" href="#" onClick="Intercom('show')">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsFeedback"></use>
			</svg>
			<p>Support</p>
		</div>
	</a>
	<a id="shortcut-button" href="#">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsFAQ"></use>
			</svg>
			<p>Shortcuts</p>
		</div>
	</a>
	<a id="policy-button" target="_blank" href="http://swipesapp.com/policies.pdf">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsPolicy"></use>
			</svg>
			<p>Policies</p>
		</div>
	</a>


	<a id="logout-button" href="#">
		<div class="option">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-settingsLogout"></use>
			</svg>
			<p>Logout</p>
		</div>
	</a>
	
	
</nav>