<div class="tweak-settings">
	
	<div class="group">
		<h3 class="group-title">TWEAKS</h3>
		<a href="#" class="control-link on">Add new tasks to bottom</a>
	</div><!-- group -->

	<div class="group">
		<h3 class="group-title">SOUNDS</h3>
		<a href="#" class="control-link on">In-app sounds</a>
	</div><!-- group -->

	<div class="group">
		<h3 class="group-title">NOTIFICATIONS</h3>
		<a href="#" class="control-link on">Tasks snoozed for later</a>
		<a href="#" class="control-link off">Daily reminder to plan the day</a>
		<a href="#" class="control-link off">Weekly reminder to plan the week</a>
	</div><!-- group -->

</div><!-- tweak settings end -->