<div class="group">
	<h3 class="group-title">Linked Accounts</h3>
	TODO: Add linked account dynamically
</div>
<div class="group">
	<h3 class="group-title">Add Account</h3>
	<div class="integrations-settings settings-links">
		<a id="evernote-button" href="#">
			<div class="option">
				<svg class="icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-integrationEvernote"></use>
				</svg>
				<p>Evernote</p>
			</div>
		</a>


		<a id="email-button" href="#">
			<div class="option">
				<svg class="icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-integrationMail"></use>
				</svg>
				<p>Email</p>
			</div>
		</a>
	</div><!-- integrations-settings end -->
</div><!-- group -->