<%
	function formatTime(hour, minute, addAmPm) {
		if (addAmPm == null) {
			addAmPm = true
		}

		hour = parseInt( hour, 10 )

		if ( minute < 10 ) {
			minute = "0" + minute
		}

		if ( addAmPm ) {
			if ( hour === 0 ) {
				return "12:" + minute + " AM"
			} else if (hour <= 11) {
				return hour + ":" + minute + " AM"
			} else if (hour === 12) {
				return "12:" + minute + " PM"
			} else {
				return (hour - 12) + ":" + minute + " PM"
			}
		} else {
			return hour + ":" + minute
		}

	}
	function dayStringForNumber( number ){
		switch(number){
			case 0:
				return "Sunday";
			case 1:
				return "Monday";
			case 2:
				return "Tuesday";
			case 3:
				return "Wednesday";
			case 4:
				return "Thursday";
			case 5:
				return "Friday";
			case 6:
				return "Saturday";

		}
	}
	function numberOfHoursFromSetting( setting ){
		return setting / 3600
	}
	function numberOfMinutesFromSetting( setting ){
		return (setting % 3600) / 60
	}
%>

<section>
	<ul class="snoozes">
		<li class="day">
			<header>
				<h3 class="h5">Start my day at</h3>
				<button><%= formatTime( numberOfHoursFromSetting(settings.SettingWeekStartTime), numberOfMinutesFromSetting(settings.SettingWeekStartTime) ) %></button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>
		<li class="evening">
			<header>
				<h3 class="h5">Start my evening at</h3>
				<button><%= formatTime( numberOfHoursFromSetting(settings.SettingEveningStartTime), numberOfMinutesFromSetting(settings.SettingEveningStartTime) ) %></button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>
		<li class="weekends">
			<header>
				<h3 class="h5">Start my weekend at</h3>
				<button><%= formatTime( numberOfHoursFromSetting(settings.SettingWeekendStartTime), numberOfMinutesFromSetting(settings.SettingWeekendStartTime) ) %></button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>
		<li class="week-start-day">
			<header>
				<h3 class="h5">My week starts</h3>
				<button><%= dayStringForNumber(settings.SettingWeekStart) %></button>
			</header>
			<section>
				<ol class="day-picker">
					<!-- Make dynamic -->
					<li data-name="Monday" data-num="1">Mon</li>
					<li data-name="Tuesday" data-num="2">Tue</li>
					<li data-name="Wednesday" data-num="3">Wed</li>
					<li data-name="Thursday" data-num="4">Thu</li>
					<li data-name="Friday" data-num="5">Fri</li>
					<li data-name="Saturday" data-num="6">Sat</li>
					<li data-name="Sunday" data-num="0">Sun</li>
				</ol>
			</section>
		</li>
		<li class="weekend-start-day">
			<header>
				<h3 class="h5">My weekend starts</h3>
				<button><%= dayStringForNumber(settings.SettingWeekendStart) %></button>
			</header>
			<section>
				<ol class="day-picker">
					<li data-name="Monday" data-num="1">Mon</li>
					<li data-name="Tuesday" data-num="2">Tue</li>
					<li data-name="Wednesday" data-num="3">Wed</li>
					<li data-name="Thursday" data-num="4">Thu</li>
					<li data-name="Friday" data-num="5">Fri</li>
					<li data-name="Saturday" data-num="6">Sat</li>
					<li data-name="Sunday" data-num="0">Sun</li>
				</ol>
			</section>
		</li>
		<li class="later-today">
			<header>
				<h3 class="h5">Snooze Later Today</h3>
				<button>+<%=formatTime(numberOfHoursFromSetting(settings.SettingLaterToday), numberOfMinutesFromSetting(settings.SettingLaterToday), false) %>h</button>
			</header>
			<section>
				<div class="range-slider">
					<div class="track"></div>
					<div class="handle"></div>
				</div>
			</section>
		</li>

	</ul>
</section>