body.scheduler-open {

	.overlay.scheduler {
		visibility: visible;
		.overlay-bg { opacity: 1; }
	}

	&.hide-scheduler .overlay.scheduler {
		.overlay-bg {
			opacity: 0;
			@include transition(opacity 0.35s ease-out 0.1s);
		}

		.overlay-content { display: none; }
	}
}

.overlay.scheduler {
	color: white;
	.overlay-bg { background: rgba($lobster, 0.8); }
}

.overlay {
	.date-picker {
		display: none;
		margin: 0 auto;
		width: 96%;
		@include breakpoint(min-width, emCalc(425px)) {
			max-width: emCalc(405px);
			.content {
				padding: emCalc(58px) emCalc(20px);
			}

			.calendar-wrap {
				padding: 0 emCalc(24px);
			}
		}
	}

	&.show-datepicker {
		.date-picker {
			display: block;
		}

		.grid {
			display: none !important;
		}
	}

}