body.scheduler-open {

	.overlay.scheduler {
		visibility: visible;
		.overlay-bg { opacity: 1; }
	}

	&.hide-scheduler .overlay.scheduler {
		.overlay-bg {
			opacity: 0;
			@include transition(opacity 0.35s ease-out 0.1s);
		}

		.overlay-content { display: none; }
	}
}

.overlay.scheduler {
	color: white;
	.overlay-bg { background: rgba($lobster, 0.8); }


}