$breakWidthSnoozer: 500px;
$breakHeightSnoozer: 500px;
body.scheduler-open {

	.overlay.scheduler {
		visibility: visible;
		.overlay-bg { opacity: 1; }
	}

	&.hide-scheduler .overlay.scheduler {
		.overlay-bg {
			opacity: 0;
			@include transition(opacity 0.35s ease-out 0.1s);
		}

		.overlay-content { display: none; }
	}
}

.overlay.scheduler {
	.overlay-content{
		width: 250px;
		@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
			width:350px;
		}
	}
	
	// color: white;
	// .overlay-bg { background: rgba($lobster, 0.9); }

	.round-btn.inverted:hover {
		color: $lobster;
	}
}

// overlay inned elements
.overlay {

	.date-picker {
		display: none;
		margin: 0 auto;
		padding-bottom: emCalc(60px);

		@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer) {
			padding-bottom: emCalc(80px);
			max-width: emCalc(405px);
			.content {
				padding: emCalc(58px) emCalc(20px) emCalc(33px);
			}

			.calendar-wrap,
			.range-slider {
				margin: 0 emCalc(16px);
			}

			.calendar-wrap {
				margin-bottom: emCalc(25px);
			}
		}


	}

	.time-picker {
		text-align: center;
		padding: 2em 0.5em 0;

		@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
			padding: 4em 2em 0;
		}
		line-height: 1;

		h1, h2, h3, h4, h5 {
			line-height: 1;
		}
		
		.day-label {
			margin: 0 0 .3em;
			color: #505966;

			font-size: 16.5px;
		}

		.time-label {
			font-size: 2.6em;
			margin: 0 0 2rem;
			@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
				font-size: 3.6em;
				margin: 0 0 3rem;
			}
			
			color: $gray-dark;
			
			position: relative;
			display: block;
			font-family: $font-light;

				small {
					color: #888;
					font-size: 3rem;
					line-height: 1;
					vertical-align: middle;
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto 0;
					height: 3rem;
				}
		}

		.time-slider {
			margin: 0;
			line-height: 1;
			font-weight: normal;

				.range-slider {
					margin: 0 0 1.2em;
				}
		}

		.am-button,
		.pm-button {
			display: none;
		}
		@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
			.done-button,
			.back-button {
				bottom: 2.3em;
			}
			.back-button {
				left:2em;
			}
			.done-button{
				right: 2em;
			}
		}

	}


	.done-button,
	.save-button {
		display: inline-block;
		@extend .ca-button;
		@include centerBlock(auto, 1em, 1.0em, auto, auto, absolute);
		@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
			bottom: 1.3em;
		}

	}


	.back-button {
		display: inline-block;
		color: $gray;
		background-color: transparent;
		border: none;
		outline: none;
		@extend .icon;
		@extend .icon-arr-left;
		@include centerBlock(auto, auto, 1.0em, 1em, auto, absolute);
		@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
			bottom: 1.3em;
		}
	}

}


// customizing slider structure
.overlay .range-slider {

	.track {
		margin-top: -6px;
		background-color: transparent;
		border: 2px solid #e0e0e0;
		height: 15px;
		@include border-radius(25px);
	}

	.handle {
		@include square(1.6em);
		border-width: 1px;
		margin-left: -( 1.6em / 2);
		margin-top: -( 1.6em / 2);
	}

}


.snooze-options {
	display: inline-block;
	text-align: left;
	position: relative;
	background-color: #fff;
	max-width: 100%;
	min-height: 250px;
	width: 250px;
	@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
		min-height: 350px;
		width: 350px;
	}
	
	height: auto;
	border-radius: $border-radius-base;
	border-bottom: 2px solid rgba(#000, 0.23);
	@include drop-shadow(0, 0, 7px, rgba(#000, 0.20));
	overflow: hidden;

	> nav {
		@include size(inherit, inherit);
		display: none;
		background-color: transparent;

			svg {
				display: inline-block;
				margin: 5px 0 2px;

				@include square(40px);
				@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
					@include square(45px);
					margin: 8px 0 6px;
				}
				fill: $brand-dakrcolor;
				
			}

			a:hover svg {
				fill: $red;
			}

			&.active {
				display: block;
				@extend .animated;
				@extend .fadeIn;
				@include experimental(animation-duration, 0.35s);
			}
	}
	.grid{
		.option{
			p{
				font-size: 0.6em;
				@include breakWidthHeight($breakWidthSnoozer, $breakHeightSnoozer){
					font-size: 0.7em;
				}
			}
			padding: 10% 0 0;
		}
	}

}