
body.settings-open {

	.overlay.settings {
		visibility: visible;
		.overlay-bg { opacity: 1; }
	}

	&.hide-settings .overlay.settings {
		.overlay-bg {
			opacity: 0;
			@include transition(opacity 0.35s ease-out 0.1s);
		}

		.overlay-content { display: none; }
	}
}

.overlay.settings {
	color: white;
	.overlay-bg { background: $gray-light; }
}

// Grid lines
.overlay.settings .grid a {
	&:nth-child(4), &:nth-child(5), &:nth-child(6) {
		border-bottom: none;
	}
}