	
body.tags-editor-open {

	.overlay.tags-editor {
		visibility: visible;
		.overlay-bg { opacity: 1; }
	}
	
	&.hide-tags-editor .overlay.tags-editor {
		.overlay-bg {
			opacity: 0;
			@include transition(opacity 0.35s ease-out 0.1s);
		}

		.overlay-content { display: none; }
	}
}

.overlay.tags-editor {
	.overlay-bg { background: rgba( $gray-md-dark, 0.6 ); }

	.overlay-content {

	}

	.wrap {
		max-width: 95%;
		@include breakpoint(min-width, emCalc(400px)) { max-width: 85%; }
		@include breakpoint(min-width, emCalc(550px)) { max-width: emCalc(486px); }

		background: white;
		
		margin: 0 auto 2.5em;
		
		padding: 1em 1em 0.4em;
		border-radius: 0.5em;
	}
}

