

<div class="go-back-expanded go-back back-button">
	<a href="#" class="go-back back-button">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowLeftThick"></use>
		</svg>
		
		Go back
		
	</a>
</div>

<div class="task-card open">
	<!-- Header -->
	<div class="top">

		<!-- Title -->

		<h1 class="h2 task-title">
			<div class="input-title content-editable  open" contenteditable="true"><%= data.task.get("title") %></div>
		</h1>

		<!-- Title End -->

		<!-- Date -->

		<div class="schedule-container info-row open-schedule">
			<div class="content-div info-label top-date">
				<span class="year"><%= data.task.get("scheduleDateObj").year %></span>
				<span class="month"><%= data.task.get("scheduleDateObj").date %> <%= data.task.get("scheduleDateObj").month %></span>
				<span class="time"><%= data.task.get("timeStr") %></span>
			</div>
		</div>

		<!-- Date end -->

		<!-- Assignees -->

		<section class="assignees-container info-row open">
			<div class="content-div">
				<ul class="assignees-list">

					

					<%
						var hiddenClass = "hidden";
					%>


					<% var assignText = "Assign People";
						_.each(data.task.get("assignees"), function(userId){
						assignText = "Assign more";
						var user = swipy.slackCollections.users.get(userId);
						
						console.log(user)
					%>
					
					<li class="assignee" data-href="<%= userId %>" title="<%= user.get('name') %>">

						<div class="picture-circular" style="background: url(<%= user.get("profile").image_48 %>) no-repeat; background-size: 40px 40px;"></div>
						<div class="assignee-hover"></div>
					</li>
					<% });

					%>
					<li class="assign" id="assign-text-button"></li>
					<li class="assign-label <%= hiddenClass %>">
						<div class="arrow"></div>
						<p class="assign-label-text">Click here to assign this task</p>
					</li>

				</ul>
			</div>
		</section>

		<!-- Assignees end -->

	</div>

	<!-- Header end -->

	<!-- Action steps -->

	<section class="action-step-container info-row open">

	</section>

	<!-- Action steps end -->

	<!-- Buttons -->

	<div class="tasks-buttons-container open">
		<div class="btn delete-task">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-navbarDelete"></use>
			</svg>
			<h3>DELETE</h3>
		</div>
		<div class="btn schedule open-schedule">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
			</svg>
			<h3>SCHEDULE</h3>
		</div>
		<div class="btn complete comlete-task">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarComplete"></use>
			</svg>
			<h3>COMPLETE</h3>
		</div>
	</div>

	<!-- Buttons end -->

</div>

<div class="task-footer">
	<p class="edit-microcopy">Click on task name to edit</p>
</div>
