<ul class="nav-container">
	<li class="nav-item">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
		</svg>
	</li>
	<li class="nav-item">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
		</svg>
	</li>
	<li class="nav-item">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
		</svg>
	</li>
	<li class="nav-item">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
		</svg>
	</li>
</li>
<div class="tab-container">
<!-- Tab content will be loaded here -->
</div>