<a href="#" class="go-back back-button">
	<svg class="icon">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrowLeftThick"></use>
	</svg>
</a>
<h1 class="h2 task-title">
	<div class="input-title content-editable" contenteditable="true"><%= data.task.get("title") %></div>
</h1>


<div class="action-step-container">
</div>
<!--
<section>
	<div class="notes has-icon">
		<span class="icon-hold">
			<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-editNotes"></use></svg>
		</span>
		<div class="input-note content-editable" contenteditable="true"></div>
	</div>
</section>-->