<%

	var hasMetaClass = "";
	var sourceOfTask, timeString, numberOfTags;
	if(data.showSource){
		var currentUserId = swipy.slackCollections.users.me().id
		if(data.task.get("projectLocalId")){
			var channel = swipy.slackCollections.channels.get(data.task.get("projectLocalId"));
			if(channel){
				var srcName = channel.getName();
				if(channel.get("is_channel"))
					srcName = "# "+ srcName;
				sourceOfTask = "From: " + srcName;
			}
		}
		else{
			sourceOfTask = "Personal";
		}
	}
	var numberOfMetaInfos = 0;
	if (sourceOfTask)
		numberOfMetaInfos++;

	if( data.task.get("completionTimeStr") ){
		timeString = data.task.get("completionTimeStr")
		numberOfMetaInfos++;
	}
	else if( data.showSchedule && data.task.get("timeStr") ){
		timeString = data.task.get("timeStr")
		numberOfMetaInfos++;
	}


	if (data.task.get('tags') && data.task.get('tags').length){
		numberOfMetaInfos++;
		numberOfTags = data.task.get('tags').length;
	}

	var numberOfAssignees = 0;
	if (!data.showSource && data.task.get("assignees") && data.task.get("assignees").length ){
		numberOfAssignees = data.task.get("assignees").length;
		if(numberOfAssignees == 1){
			assignee = swipy.slackCollections.users.get(data.task.get("assignees")[0]);
			numberOfAssignees = assignee.escape("name");
		}
		numberOfMetaInfos++;
	}
	if (numberOfMetaInfos > 0)
		hasMetaClass = "has-meta";


	var assignedClass = "";
	if(data.task.get("isAssigned"))
		assignedClass = "assigned";
	if(data.task.get("completionDate"))
		assignedClass = "completed";
%>
<div class="card-container <%= hasMetaClass %> <%= assignedClass %>">
	<div class="relative-container">
		<div class="main-info-container">
			<h2 class="title"><span class="priority"></span><%= data.task.escape('title') %></h2>

			<!--<span class="progress-label">50%</span>-->

			<% if (numberOfMetaInfos > 0) { %>
				<div class="meta">
				<% if (timeString) { %>
					<div class="meta-text"><%= timeString %></div>

				<% } if (sourceOfTask) { %>
					<div class="meta-text"><%= sourceOfTask %></div>

				<% } if(numberOfAssignees) { %>
					<!-- <div class="meta-text with-icon" title="This task has been assigned to 3 people"> -->
					<div class="meta-text with-icon">
						<svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-taskIconAssigned"></use></svg><%= numberOfAssignees %>
					</div>
				<% } if (numberOfTags) { %>

						<div class="meta-text tags">
							<%
							tagStrings = _.invoke(data.task.get('tags'), "get", "title")
							tags = _.sortBy( data.task.get('tags'), function(tag) {
								return tag.get("title").toLowerCase()
							})

							_.each(data.task.get('tags'), function(tag, i) {
								isInFilter = _.contains(swipy.filter.tagsFilter, tag.get("title") )

								if ( isInFilter ) { %><strong> <% } %>

									<a href="#" data-href="<%= tag.id %>" class="clickable-tag"><%= tag.get("title") %></a><% if ( i+1 < numberOfTags ) print(",&nbsp;"); %>

								<% if ( isInFilter ) { %></strong> <% }


							}); %>
						</div><!-- .meta-text .tags -->
				<% } %>
				</div><!-- .meta -->
			<% } %>

			<% numberOfButtons = 2
			var state = data.task.get("state");
			%>

			<div class="actions">
				<div>
					<a href="#" class="delete-button" title="Delete todo">
						<svg class="icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
						</svg>
					</a>
				<% if( state !== "scheduled") { %>
					<a href="#" class="schedule-button" title="Schedule todo">
						<svg class="icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
						</svg>
					</a>
				<% }else { %>
					<a href="#" class="now-button" title="Move todo to current">
						<svg class="icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarNow"></use>
						</svg>
					</a>
				<% }
					if (state !== "completed"){ %>
					<a href="#" class="complete-button" title="Mark task as completed">
						<svg class="icon">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarComplete"></use>
						</svg>
					</a>
				<% } %>
				</div>
			</div>
		</div>
	</div>
	<div class="expanding">
	</div>
</div><!-- .card-container -->
