<!-- T_TODO make this template reusable. Something tells me that we will use toggles somewhere else -->
<div class="completeted-toggle-wrapper">
	<div class="onoffswitch">
		
		<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
		
		<label class="onoffswitch-label" for="myonoffswitch">
			<span class="onoffswitch-inner"></span>
			<span class="onoffswitch-switch"></span>
		</label>
		
	</div>
	
	<div class="toggle-text">
		<div class="toggle-text-one">show completed</div>
		<div class="toggle-text-two">hide completed</div>
	</div>
</div>