html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inbox-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 34px;
  background-color: #eee;
}

.inbox-wrapper *, .inbox-wrapper *:before, .inbox-wrapper *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: default;
  min-height: 0px;
}

.checkbox .check {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
          transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
}

.checkbox .check.checked {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
          transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
}

.checkbox .check:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #333;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  left: -webkit-calc(50% - (8px / 2));
  left: calc(50% - (8px / 2));
  -webkit-transform: rotate(40deg) translate(-2px, 5px);
      -ms-transform: rotate(40deg) translate(-2px, 5px);
          transform: rotate(40deg) translate(-2px, 5px);
}

.checkbox .check:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 18px;
  background-color: #333;
  left: -webkit-calc(50% - 1px);
  left: calc(50% - 1px);
  top: -webkit-calc(50% - (18px / 2));
  top: calc(50% - (18px / 2));
  -webkit-transform: rotate(35deg) translate(2px, -3px);
      -ms-transform: rotate(35deg) translate(2px, -3px);
          transform: rotate(35deg) translate(2px, -3px);
}

.btn {
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

.btn.unread {
  margin-left: 50px;
}

.btn.new-message {
  margin-left: 50px;
}

.nav {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  width: 80px;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.select .more-checkboxes {
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
  cursor: pointer;
}

.select .dropdown {
  width: 250px;
  left: 0;
  top: 50px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale3d(0, 0, 1);
          transform: scale3d(0, 0, 1);
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.select .dropdown.dropped {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

.select .dropdown.dropped > ul > li {
  opacity: 1;
  -webkit-transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
          transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.select .dropdown ul {
  width: 100%;
}

.select .dropdown ul li {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  opacity: 0;
  -webkit-transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
          transition: 0.1s cubic-bezier(0.25, -0.25, 0.63, 1.46);
}

.select .dropdown ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.select .dropdown ul li span.option {
  padding: 0 20px;
}

.email-list-wrap {
  width: 100%;
  padding-top: 50px;
  background-color: white;
}

.email-list-wrap ul.emails {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-list-wrap ul.emails li.email {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.email-list-wrap ul.emails li.email .checkbox {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.email-list-wrap ul.emails li.email .preview {
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
