.round-btn {
	$size: emCalc(60px);

	width: $size;
	height: $size;
	border-radius: $size;
	border: 2px solid $gray;

	display: inline-block;
	text-align: center;
	line-height: $size;

	text-decoration: none;
	color: $gray;

	@include transition(all 0.17s ease-in-out);

	&:hover {
		color: white;
		text-decoration: none;
		background: $gray;
		border-color: $gray
	}

	// span { font-size: 1em; }


	// Some icons have fucked up vertical alignment, so we need to manually adjust.
	.icon-cross { position: relative; top: 0.1em; }
	.icon-arr-left { position: relative; top: 0.1em; }

	&.inverted {
		color: white;
		border-color: white;

		&:hover {
			color: $gray;
			background: white;
			border-color: transparent;
		}
	}
}

nav.centered-buttons {
	text-align: center;

	a { margin-left: 4.7em; }
	a:first-child { margin-left: 0 !important; }

	@include breakpoint(tablet) {
		a { margin-left: 8em; }
	}
}

@include breakpoint(max-height, 40em) {
	.sticky-if-small {
		position: fixed;
		bottom: 1em;

		left: 50%;
		margin-left: 0 - emCalc(30px);

		&:before {
			content: "";
			@include background-image( linear-gradient( rgba(white, 0), white 35% ) );
			position: fixed;
			bottom: 0; left: 0; right: 0;
			height: emCalc(90px);
		}

		.round-btn {
			z-index: 1;
			position: relative;
		}
	}
}