.date-picker {
	.content {
		background: white;
		border-radius: 0.4em;
		color: $gray;

		padding: 0.8em;
	}

	.range-slider {
		margin-top: emCalc(33px);
	}

	nav.centered-buttons {
		margin-top: 1.8em;

		@include breakpoint(tablet) {
			a { margin-left: 5.5em; }
		}
	}
}