.priority {
	$size: 12px;
	$big-size: 16px;
	$border-size: 4px;

	// Normalize size independent of container
	font-size: 18px;

	position: absolute;

	width: $size;
	height: $size;

	border-radius: $size;
	left: 0; top: 50%;
	cursor: pointer;

	background: $yellow;
	&:after {
		$inner-size: 18px;
		position: absolute;
		display: none;
		left: 50%; top: 50%;
		margin-top: 0 - ($inner-size / 2);
		margin-left: 0 - ($inner-size / 2);
		width: $inner-size;
		height: $inner-size;
		border-radius: $inner-size;
		background: $yellow;
		border: $border-size solid white;
		content: "";
	}

	.scheduled & {
		background: $lobster;
		&:after { background: $lobster; }
	}
	.completed & {
		background: $green;
		&:after { background: $green; }
	}

	.is-priority & {
		$big-size: 22px;
		width: $big-size;
		height: $big-size;
		left: -3px;
		margin-top: -11px;

		border-radius: $big-size;

		&:after { display: block; }
	}

	@include box-sizing(content-box);

	margin-top: -0.28em;
}

