.task-editor {
	$padding: 66px;
	$action-step-dot-size: 12px;
	$action-step-height: 40px;
	$action-step-cell-x: 26px;
	$placeholder-color: #333;
	$unselected-color: #ccc;
	color: $gray;
	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $placeholder-color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    $placeholder-color;
	    opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    $placeholder-color;
	    opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    $placeholder-color;
	}
	.title {
		position: relative;
		font-size: emCalc(20px);
		padding-left: $padding;

		margin-bottom: emCalc(12px);
		margin-top: 0.8em;

		@include breakpoint(tablet) {
			margin-bottom: emCalc(20px);
			margin-top: emCalc(25px);
		}
	}

	.editor-content {
		width: 84%;
		margin: auto;
		.action-steps{
			position:relative;
			.step{
				height:$action-step-height;
				position:relative;
				.action{
					display:none;
					$icon-size: 15px;
					$closure-size: 30px;
					$border-width: 1px;
					
					color: $unselected-color;
					position:absolute;
					top: $action-step-height/2 - $closure-size/2;
					width:$closure-size;
					height:$closure-size;
					border-radius: 5px;
					border: $border-width solid $unselected-color;
					font-size: $icon-size;
					line-height: 1;
					span{
						text-align:center;
						display:block;
						margin-top:($closure-size/2 - $icon-size/2 - $border-width);
					}
					&:hover{
						text-decoration:none;
					}

				}

				input{
					margin-top:8px;
					margin-left:$padding;
				}
			}
			.step:hover{
				.action{
					display:block;
				}
				.action:hover{
					&.complete{
						color:$green;
						border: 1px solid $green;
					}
					&.todo{
						color: $yellow;
						border: 1px solid $yellow;
					}
				}
			}
			.step.complete{
				.dot{
					border: 2px solid $green;
				}
				input{
					color: $unselected-color;
				}
			}
			.dot{
				position:absolute;
				left:$padding - $action-step-cell-x;//$action-step-cell-x/2;
				margin-top: -($action-step-dot-size/2);
				top:50%;
				width:$action-step-dot-size;
				height:$action-step-dot-size;
				border: 2px solid $yellow;
				border-radius: $action-step-dot-size/2;
				
			}
			.add-step{
				.dot{
					border: 2px solid $gray;
				}

			}
			
		}
		.has-icon {
			// Can't use em, because font-size might vary
			padding-left: $padding;
			position: relative;

			&:before {
				position: absolute;
				left: 0; top: 0;
				font-size: 1.3em;
				color: $gray;
			}
		}

		> section {
			margin-bottom: 1em;

			@include breakpoint(tablet) {
				margin-bottom: emCalc(36px);
			}
		}
	}

	> nav {
		text-align: center;

		a { margin-left: 4.7em; }
		a:first-child { margin-left: 0; }

		@include breakpoint(tablet) {
			a { margin-left: 8em; }
		}
	}

	textarea, input {
		color: inherit;
		text-indent: 0;
		width: 100%;

		@include transition(color 0.2s ease-out);

		&:focus, &:hover {
			color: $gray;
		}

		&:active, &:focus {
			border:none;
			outline:none;
		}
	}

	textarea {
		min-height: 6em;
		@include input-placeholder() {
			color: lighten($gray, 30%);
		}
	}
}