<div class="search-field-container">
	<img class="loading" src="styles/img/ajax-loader.gif"/>
	<svg class="icon search-icon">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-materialSearch"></use>
	</svg>
	<input type="text" id="global-search-field" placeholder="Search for messages and files"/>
</div>
<div class="search-filter-container">
	<div class="filter-options">
		<div class="filter-option files">
			Files
		</div>
		<div class="filter-option messages selected">
			Messages
		</div>
	</div>
</div>
<div class="search-result-container">
</div>

<!-- <div class="search-loading-container">
</div> -->