<div class="scroll-container">
	<div class="scroller">
		<div class="task-column">
			<div class="completeted-toggle-wrapper">
				<div class="onoffswitch">
					
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
					
					<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
					
				</div>
				
				<div class="toggle-text">
					<div class="toggle-text-one">show completed</div>
					<div class="toggle-text-two">hide completed</div>
				</div>
			</div>
			<div class="task-list-container">
			</div>
		</div>
	</div>
</div>
<div class="add-task-container">
</div>
<div class="drag-overlay">
	<span>Add as task</span>
</div>