<div class="inbox-wrapper">
	
	<div class="nav">
		
		<div class="select">
			<div class="checkbox">
				<div class="check"></div>
			</div>
			<span class="more-checkboxes">More</span>
			<div class="dropdown">
				<ul>
					<li>
						<div class="checkbox">
							<div class="check"></div>
						</div>
						<span class="option">All</span>
					</li>
					<li>
						<div class="checkbox">
							<div class="check"></div>
						</div>
						<span class="option">None</span>
					</li>
					<li>
						<div class="checkbox">
							<div class="check"></div>
						</div>
						<span class="option">Read</span>
					</li>
					<li>
						<div class="checkbox">
							<div class="check"></div>
						</div>
						<span class="option">Unread</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="btn unread">List Unread</div>
		<div class="btn add-task">Add as a task</div>
		<div class="btn archive">Archive</div>
		<div class="btn new-message">New Message</div>
	</div>
	
	
	<div class="email-list-wrap">
		<ul class="emails">
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, enim, incidunt! Aspernatur quia modi eum earum odit debitis cumque voluptas, atque cupiditate natus illo ipsum ducimus nulla nemo est ipsam!</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quo illum quis consectetur explicabo accusantium esse ducimus modi, at dicta quas tenetur dignissimos optio ut. Ipsa nulla alias corporis aspernatur!</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam esse illo, vel numquam maiores dolorum at ullam odio libero, incidunt dolore dolores ipsam quasi doloremque eveniet impedit quos sint consequatur!</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis tempore iste voluptates quas, at quidem, consequatur pariatur ea voluptas inventore libero nobis consequuntur dicta vitae, enim optio doloremque totam alias?</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolores deleniti non esse consectetur explicabo vero facilis ad nemo recusandae laboriosam maiores laudantium commodi ipsa, tempore quae eum iusto molestiae!</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eaque beatae, delectus dolore repellat quos sequi cum incidunt quae in asperiores odio eveniet unde eius commodi non? Nulla, voluptatem est.</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dignissimos blanditiis rerum, sapiente architecto. Numquam eos commodi, iusto quaerat sit hic, aperiam ut omnis illo et neque voluptas voluptatibus architecto.</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eaque, laboriosam ipsam porro veniam eligendi voluptatem deserunt ducimus placeat nulla velit earum repellendus asperiores, consequatur ullam quia, aliquam quae et!</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus repellat non, et similique in odit, dolorum, molestiae aspernatur sit dolor aliquam doloremque labore dolores amet perspiciatis quam fuga rerum eius!</div>
			</li>
			<li class="email">
				<div class="checkbox">
					<div class="check"></div>
				</div>
				<div class="name">John Doe</div>
				<div class="subject">subject line thing</div>
				<div class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ullam porro autem saepe recusandae laudantium, repellat ducimus tenetur, velit, molestias et ratione quidem, quasi vitae reiciendis dolore veniam. Modi, praesentium?</div>
			</li>
		</ul>
	</div>

</div>