<% var completeClass = "";
if(data.task.get("completionDate")) completeClass = "complete"; %>

<div class="action-step-buttons">
	<!--<div class="delete" title="Delete">
		<svg class="icon icon-actionDelete">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-navbarDelete"></use>
		</svg>
	</div>-->
	<div class="complete" title="Complete">
		<svg class="icon">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarComplete"></use>
		</svg>
	</div>
</div>

<div class="relative-container">
	<div class="action-container">
		
			<h2 class="title <%= completeClass %>">
				<span class="task-dot <%= completeClass %>"></span>
				<div class="input-action-title content-editable" contenteditable="false">
					<%= data.task.get('title') %>
				</div>
			</h2>
		
	</div><!-- .card-container -->
</div>