/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap.min";
@import "bootstrap-responsive.min";
@import "jquery-ui";
//@import "compass_twitter_bootstrap";
$colorRed: #ff378c;
$colorDarkBlue:#000862;
$colorLightBlue:#4297ff;
$colorBlue1:#2813db;
$colorBlue2:#1925ff;
$mainWidth:1040px;
$menuWidth:140px;
$activitiesWidth:880px;

@mixin answerThumbnails{
	.thumbnails{
		margin-left:0px;
	}
	.span3 {
		width:18%;
		margin-left:0.5%;
	}
	.thumbnail{

		padding:2px;
		height:190px;
		.text{
			width:100%;
			height:132px;
			
			margin:10px auto;
		}
		.image{
			border-radius: 2px;
		}
	}
}

.test{
	color:$colorRed;
}
#mainContainer{
	margin:20px auto;
	width:$mainWidth;
	#loadingScreen{
		display:none;
		opacity: 0.8;
		background:#FFF;
		position:absolute;
		width:100%;
		height:100%;
		img{
			position:absolute;
			left:50%;
			top:50%;
			margin-left:-33px;
			margin-top:-33px;
		}
		#loadingText{
			position:absolute;
			left:50%;
			top:50%;
			color:#FFF;
			text-align: center;
			width:100px;
			margin-left:-55px;
			height:20px;
			margin-top:40px;
			background:#2813DB;
			padding:5px;
			border: 1px solid #c3c3c3;
			border-radius:5px;
			font-weight: bold;
		}
	}
}
#leftMenu{
	max-width: $menuWidth; 
	.nav-list{
		padding-left:10px;
		padding-right:10px;
	}
	float:left;
	.well{
		padding: 8px 0;
	}
}

#activities{
	float:left;
	width:$activitiesWidth;
	margin-left:15px;
	.statTable{
		width:340px;
	}
	#actUsers,#actGames,#actChats,#actChat,#actGame{
		.table th, .table td{
			padding:0;
		}
	}
	.loaderContainer{
		position:relative;
		.loaderImg{
			position:absolute;
			left:50%;
			margin-top:200px;
			margin-left:-50px;
		}
	}
	
	.userRow{
		cursor:pointer;
	}
	#actFaq{
		.openAddFaq{margin-bottom:10px;}
		#addFaqContainer{
			margin-top:20px;
			margin-bottom:20px;
			display:none;
			textarea,input[type=text]{
				width:400px;
			}
			input[type=text]#faqOrder{
				width:50px;
			}
		}
		.table{
			.edit{
				width:50px;
				.btn{
					margin-top:20px;
				}
			}
		}
	}
	#actTasks{
		.openAddTask{margin-bottom:10px;}
		#addTaskContainer{
			margin-top:20px;
			margin-bottom:20px;
			display:none;
			textarea,input[type=text]{
				width:400px;
			}
			input[type=text]#faqOrder{
				width:50px;
			}
		}
		.table{
			.btn{
				padding:3px;
				margin-top:0px;
			}
			.edit{
				width:50px;
			}
		}
	}
	#actChats{
		h5{
			margin-top:13px;
		}
		.girlImage,.boyImage{
			width:58px;
			
		}
		.boyImage{
			img{
				margin-left:8px;
			}
		}
		.btn{
			margin-top:10px;
		}
		.boyName{
			
			h5{
				text-align:right;
			}
		}

	}
	#actChat{
		.table.users{ width:300px; margin-left:25px; }
		.picture{ width: 50px;}
		.message h5{ padding-left:10px; padding-top:4px;}
		.time {width: 150px;}
		.time h5 { text-align:right; }

	}
	#actUsers{
		
		h5{
			text-align: center;
			padding-top:6px;
		}
		.profile{
			width:60px;
			
		}
		.name{
			width:200px;
			h5{
				text-align:left;
			}
		}
		.age{
			width:40px;
		}
		.place{
			width:300px;
		}
		.timeAgo{
			width:200px;
		}
		.gender{
			width:40px;
		}
		.points{
			width:50px;
			h5{
				text-align: right;
			}
		}
		
	}
	#actUser{
		#addCoins{
			.coins{
				width:60px;
			}
			.pushMessage{
				width:350px;
			}
		}
	}
	#actGames{
		
		.table{
			margin-bottom: 0px;
			h5{
				padding-top:5px;
			}
			.gameButton{
				margin-top:15px;
			}
			.userRow{
				width:60px;

			}
			.boys{
				width:200px;
			}
			.table {
				td,td{
					border:none;
				}
				margin-top:5px;
				margin-bottom:5px;
			}
			.boyImage{
				height:25px;
			}
		}
		
	}
	#actGame{
		h5{
			padding-left:4px;
			margin-bottom:10px;
		}
		.answerRowContainer{
			@include answerThumbnails;
			.thumbnail{

				line-height: 14px;
				.text{
					margin:3px auto;
					height:158px;
				}
			}
		}
		.userRow{
			img{
				height:100px;
			}
		}
		.answerStatus{
			img{ width:50px; }
		}	
	}
	#actAnswers{
		.blocked{
			background:#f2dede;
		}
		.btn{
			margin-left:10px;
			margin-top:7px;
			margin-bottom:7px;
			padding: 2px 5px;
		}
		@include answerThumbnails;
	}
	
}
#activeView{
	margin:20px auto;
	max-width:1200px;
	min-width:800px;
	.loginContainer{
		position:absolute;
		left:50%;
	}
	
	
}
