@font-face {
	font-family: 'swipes';
	src:url('fonts/swipes.eot');
	src:url('fonts/swipes.eot?#iefix') format('embedded-opentype'),
		url('fonts/swipes.woff') format('woff'),
		url('fonts/swipes.ttf') format('truetype'),
		url('fonts/swipes.svg#swipes') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'swipes';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-triangle-right, .icon-triangle-left, .icon-trashcan, .icon-todo, .icon-tags, .icon-swipes-plus, .icon-swipes-logo, .icon-swipes-logo-square, .icon-support, .icon-snooze-unspecified, .icon-snooze-tomorrow, .icon-snooze-this-weekend, .icon-snooze-this-evening, .icon-snooze-next-week, .icon-snooze-location, .icon-snooze-later-today, .icon-snooze-day-after-tomorrow, .icon-snooze-date, .icon-share, .icon-schedule, .icon-repeat, .icon-questionmark-circle, .icon-policy, .icon-plus, .icon-pencil, .icon-note, .icon-log-out, .icon-facebook-logo, .icon-facebook-btn, .icon-cross, .icon-cog, .icon-clock, .icon-checkmark, .icon-arr-right, .icon-arr-right-long, .icon-arr-left, .icon-arr-left-long, .icon-minus {
	font-family: 'swipes';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-triangle-right:before {
	content: "\e000";
}
.icon-triangle-left:before {
	content: "\e001";
}
.icon-trashcan:before {
	content: "\e002";
}
.icon-todo:before {
	content: "\e003";
}
.icon-tags:before {
	content: "\e004";
}
.icon-swipes-plus:before {
	content: "\e005";
}
.icon-swipes-logo:before {
	content: "\e006";
}
.icon-swipes-logo-square:before {
	content: "\e007";
}
.icon-support:before {
	content: "\e008";
}
.icon-snooze-unspecified:before {
	content: "\e009";
}
.icon-snooze-tomorrow:before {
	content: "\e00a";
}
.icon-snooze-this-weekend:before {
	content: "\e00b";
}
.icon-snooze-this-evening:before {
	content: "\e00c";
}
.icon-snooze-next-week:before {
	content: "\e00d";
}
.icon-snooze-location:before {
	content: "\e00e";
}
.icon-snooze-later-today:before {
	content: "\e00f";
}
.icon-snooze-day-after-tomorrow:before {
	content: "\e010";
}
.icon-snooze-date:before {
	content: "\e011";
}
.icon-share:before {
	content: "\e012";
}
.icon-schedule:before {
	content: "\e013";
}
.icon-repeat:before {
	content: "\e014";
}
.icon-questionmark-circle:before {
	content: "\e015";
}
.icon-policy:before {
	content: "\e016";
}
.icon-plus:before {
	content: "\e017";
}
.icon-pencil:before {
	content: "\e018";
}
.icon-note:before {
	content: "\e019";
}
.icon-log-out:before {
	content: "\e01a";
}
.icon-facebook-logo:before {
	content: "\e01b";
}
.icon-facebook-btn:before {
	content: "\e01c";
}
.icon-cross:before {
	content: "\e01d";
}
.icon-cog:before {
	content: "\e01e";
}
.icon-clock:before {
	content: "\e01f";
}
.icon-checkmark:before {
	content: "\e020";
}
.icon-arr-right:before {
	content: "\e021";
}
.icon-arr-right-long:before {
	content: "\e022";
}
.icon-arr-left:before {
	content: "\e023";
}
.icon-arr-left-long:before {
	content: "\e024";
}
.icon-minus:before {
	content: "\e025";
}
