body {
	font: 16px/1.25 "Helvetica Neue", Helvetica, sans-serif;
	color: $text-color;
	background: $primary-color;
}

nav {
	border-bottom: thick solid lighten($primary-color, 30%);
	color: white;

	ul {
		margin: 0; padding: 0;
		overflow: hidden;
	}

	li {
		display: block;
		float: left;
		width: 33.3%;
		text-align: center;
	}

	a {
		display: block;
		
		padding: 1.5em 0;
		&.active { background: lighten($primary-color, 30%); }
		
		text-decoration: none;
		color: inherit;
	}
}