body {
	font: 13px/1.25 "Helvetica Neue", Helvetica, sans-serif;
	color: $text-color;
	background: $dark-gray;
}

nav {
	border-bottom: thick solid $light-gray;
	color: white;

	ul {
		margin: 0; padding: 0;
		overflow: hidden;
	}

	li {
		display: block;
		float: left;
		width: 33.3%;
		text-align: center;
	}

	a {
		display: block;
		
		padding: 1.5em 0;
		&.active { background: $light-gray; }
		
		text-decoration: none;
		color: inherit;
	}
}