<% if( data.leftTitle || data.rightTitle ) { %>
	<div class="section-header">
		<% if( data.expandClass ) { %>
			<a href="#" class="expandable" data-href="<%= data.expandClass %>">
		<% } if( data.leftTitle ) { %>
			<h2 class="left"><%= data.leftTitle %></h2>
		<% } if( data.centerTitle ) { %>
			<h2 class="center"><%= data.centerTitle %></h2>
		<% } if( data.rightTitle ) { %>
			<h2 class="right"><%= data.rightTitle %></h2>
		<% } 
		if(data.expandClass) print("</a>");
		%>
		<div class="seperator-container"><div class="seperator"></div></div>

	</div>
<% } %>
<ul class="section-list">
	<!-- All task will be loaded in here on render (TaskList.coffee) -->
</ul>