.login-wrapper {
  width: 100%;
  height: 100%;
  background-color: $studioGray-20;
  
  p {
    text-align: center;
    padding: 0 30px;
    font: 14px $font-light;
    color: $deepBlue-40;
    margin-top: 25px;
    
    span.bold {
      color: $deepBlue-100;
      position: relative;
      cursor: pointer;
      transition: .1s linear;
      
      &:hover {
        color: $blue-100;
        transition: .1s linear;  
      }
    }
  }
}

.login-logo {
  width: 70px;
  margin: 0 auto;
  padding-top: 70px;
  
  img {
    width: 70px;
  }
}

form {
  width: 300px;
  margin: 0 auto;
  margin-top: 70px;
  
  input:not([type="submit"]) {
    padding: 0;
    font: 14px $font-light;
    color: $deepBlue-40;
    height: 50px;
    margin: 15px 0;
    border-bottom: 1px solid $studioGray-40;
    transition: .1s linear; 
    
    &:focus, &:hover {
      border-bottom: 1px solid $studioGray-100;
      transition: .1s linear; 
    }
  }
  
  input[type="submit"] {
    height: 50px;
    background-color: transparent;
    border: 2px solid $blue-100;
    font: 16px $font-light;
    color: $blue-100;
    border-radius: 5px;
    margin-top: 70px;
    transition: .2s ease-in-out;     
    
    &:hover {
      background-color: $blue-100;
      color: $studioGray-20;
      transition: .2s ease-in-out;      
    }
  }
}

