html.login, html.login body {
	min-height: 100%;
}
$text-gray: #9e9e9e;
html.login {
	body {
		background: #fff;
		color: white;
	}

	.container {
		width: 84%;
		margin: auto;
		text-align: center;
		height:100%;
		overflow-y: scroll;
	}

	header.logo {
		$src: "swipes-logo.png";
		width: image-width($src) / 3;
		height: image-height($src) / 5;
		//margin: 0.5em auto 1.5em;
		margin: 0 auto 30px;

		@include breakpoint(min-height, 600px) {
			//height: image-height($src) / 4;
			//margin: 5em auto 3em;
		}
		@include breakpoint(min-height, 800px){
			//margin-bottom:6em;
		}

		background: image-url($src) no-repeat top center;
		background-size: contain;

		h1, h2 {
			@include squish-text();
		}
	}
	#login{
		margin: 0 auto;
		background: url("img/swipes-ui-team-splash-screen-horizontal-medium.png") no-repeat;
		background-size: 700px 375px;
		width: 700px;
		position:relative;
		height: 375px;
		input[type=submit]{
			padding: 1.0em;
			background: $red; //#1B1E23;
			border: 0px solid #424448;
			border-top: 2px solid $red;
			outline: none;
			
			@include border-radius(emCalc(10px));
			color: white;
			font: 0.7em/1 $font-bold;
			text-transform: uppercase;
			position: absolute;
			bottom:66px;
			right: 73px;
			max-width: 160px;

			@include breakpoint(min-height, 800px) {
//				padding: 0.65em;
				margin-top: emCalc(32px);
//				font-size: 1.4em;
			}

			@include transition(background 0.15s ease-out);

			&:hover {
				opacity:0.85;
			}
		}
	}

/*	input {
		padding: emCalc(20px);
		padding-top: emCalc(28px);
		margin-bottom: emCalc(13px);
		text-align: center;
		color: $text-gray;

		width: 400px;
		background: #EEEEEE;
		font: 0.6em/1 $font-bold;
		letter-spacing: 2px;
		@include border-radius(emCalc(4px));

		&[type=submit] {
			padding: 1.0em;
			background: $red; //#1B1E23;
			border: 0px solid #424448;
			border-top: 2px solid $red;
			outline: none;
			

			color: white;
			font: 0.7em/1 $font-bold;
			text-transform: uppercase;

			max-width: 100px;

			@include breakpoint(min-height, 800px) {
//				padding: 0.65em;
				margin-top: emCalc(32px);
//				font-size: 1.4em;
			}

			@include transition(background 0.15s ease-out);

			&:hover {
				opacity:0.85;
			}
		}
	}
*/
	form {
		margin-bottom: emCalc(5px);
	}

	.reset-password {
		display: block;
		color: $text-gray;
		font-size:0.7em;
		font-family: $font-light;
		margin-bottom: emCalc(10px);
		text-align:right;
		//@include breakpoint(min-height, 730px) { margin-bottom: emCalc(55px); }
		//@include breakpoint(min-height, 1130px) { margin-bottom: emCalc(115px); }
		@include transition(opacity 0.15s ease-out);

		&:hover {
			opacity: 0.85;
			text-decoration: none;
		}
	}

	.facebook {
		margin-top:30px;
		@include breakpoint(min-height, 800px){ margin-top:80px; }
		h3 {
			margin-bottom: 1.30em;
			font-family: $font-normal;
			font-size:0.6em;
			color: $text-gray;
			letter-spacing:1px;
			//@include breakpoint(max-height, 600px) { font-size: 85%; }
			@include breakpoint(min-height, 600px) { margin-bottom: 1.5em; }
		}

		a {
			display: block;
			margin: auto;
			width: 140px;
			padding:1em;
			letter-spacing: 1px;
			@include border-radius(emCalc(4px));
			color: white;
			font: 0.7em/1 $font-bold;
			@include breakpoint(max-height, 700px) {
			}
			
			border: 0px solid #4ec2f6;
			border-top: 2px solid #4ec2f6;
			background: #29B6F6;

			line-height: 1;
			@include transition(opacity 0.15s ease-out);

			&:hover {
				opacity: 0.85;
				text-decoration: none;
			}
		}
	}
}

html.login .round-btn.inverted:hover {
	color: $green;
}

body.swipes-plus-required {
	#login {
		form, > h3, > a, section {
			display: none;
		}
	}

	.plus-required {
		display: block;
	}
}

// Handle logging in state.
html.login body.busy {
	input[type=email], input[type=password], .facebook a {
		@include transition(opacity 0.3s ease-out);
		opacity: 0.4;
		pointer-events: none;
	}

	input[type=submit] {
		@include transition(border-color 0.3s ease-out);
	}

	.reset-password, .facebook h3 {
		opacity: 0;
	}
}
