html.login, html.login body {
	min-height: 100%;
}
$text-gray: #9e9e9e;
html.login {
	body {
		background: #fff;
		color: white;
	}

	.container {
		width: 84%;
		max-width: emCalc(300px);
		margin: auto;
		text-align: center;
	}

	header.logo {
		$src: "swipes-logo.png";
		width: image-width($src) / 3;
		height: image-height($src) / 5;
		margin: 0.5em auto 1.5em;

		@include breakpoint(min-height, 600px) {
			height: image-height($src) / 4;
			margin: 5em auto 3em;
		}
		@include breakpoint(min-height, 800px){
			margin-bottom:6em;
		}

		background: image-url($src) no-repeat top center;
		background-size: contain;

		h1, h2 {
			@include squish-text();
		}
	}

	#login > h3 {
		letter-spacing: 1px;
		color: $text-gray;
		font-size: 0.6em;
		@include breakpoint(max-height, 700px) {
			
		}
		@include breakpoint(min-height, 1000px) { margin-bottom: 0.6em; }
		font-family: $font-normal;
	}

	input {
		padding: emCalc(20px);
		padding-top: emCalc(28px);
		margin-bottom: emCalc(13px);
		text-align: center;
		color: $text-gray;

		width: 100%;
		background: #EEEEEE;
		font: 0.6em/1 $font-bold;
		letter-spacing: 2px;
		@include border-radius(emCalc(4px));

		&[type=submit] {
			padding: 1.0em;
			background: #1B1E23;
			border: 0px solid #424448;
			border-top: 2px solid #424448;
			outline: none;
			

			color: white;
			font: 0.7em/1 $font-bold;
			text-transform: uppercase;

			max-width: 50%;

			@include breakpoint(min-height, 800px) {
//				padding: 0.65em;
				margin-top: emCalc(32px);
//				font-size: 1.4em;
			}

			@include transition(background 0.15s ease-out);

			&:hover {
				opacity:0.85;
			}
		}
	}

	form {
		margin-bottom: emCalc(5px);
	}

	.reset-password {
		display: block;
		color: $text-gray;
		font-size:0.7em;
		font-family: $font-light;
		margin-bottom: emCalc(10px);
		text-align:right;
		//@include breakpoint(min-height, 730px) { margin-bottom: emCalc(55px); }
		//@include breakpoint(min-height, 1130px) { margin-bottom: emCalc(115px); }
		@include transition(opacity 0.15s ease-out);

		&:hover {
			opacity: 0.85;
			text-decoration: none;
		}
	}

	.facebook {
		margin-top:30px;
		@include breakpoint(min-height, 800px){ margin-top:80px; }
		h3 {
			margin-bottom: 1.30em;
			font-family: $font-normal;
			font-size:0.6em;
			color: $text-gray;
			letter-spacing:1px;
			//@include breakpoint(max-height, 600px) { font-size: 85%; }
			@include breakpoint(min-height, 600px) { margin-bottom: 1.5em; }
		}

		a {
			display: block;
			margin: auto;
			width: 140px;
			padding:1em;
			letter-spacing: 1px;
			@include border-radius(emCalc(4px));
			color: white;
			font: 0.7em/1 $font-bold;
			@include breakpoint(max-height, 700px) {
			}
			
			border: 0px solid #4ec2f6;
			border-top: 2px solid #4ec2f6;
			background: #29B6F6;

			line-height: 1;
			@include transition(opacity 0.15s ease-out);

			&:hover {
				opacity: 0.85;
				text-decoration: none;
			}
		}
	}
}

.plus-required {
	display: none;

	.wrap {
		background: $lobster;
		padding: 0.2em 3em 1.5em;
		border-radius: 0.5em;
		margin-bottom: 2.5em;

		a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				color: lighten($lobster, 30%);
			}
		}
	}

	h2 {
		font-family: $font-light;
		text-transform: uppercase;
		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 1em;

		span {
			margin-right: 0.6em;
			padding: 0.6em 0.5em 0.35em;
			font-size: 0.8em;
			border: thin solid white;
			border-radius: 0.2em;
		}
	}

}

html.login .round-btn.inverted:hover {
	color: $green;
}

body.swipes-plus-required {
	#login {
		form, > h3, > a, section {
			display: none;
		}
	}

	.plus-required {
		display: block;
	}
}

// Handle logging in state.
html.login body.busy {
	input[type=email], input[type=password], .facebook a {
		@include transition(opacity 0.3s ease-out);
		opacity: 0.4;
		pointer-events: none;
	}

	input[type=submit] {
		@include transition(border-color 0.3s ease-out);
		border-color: #97dcc6;
	}

	.reset-password, .facebook h3 {
		opacity: 0;
	}
}
