.top-bar-container{
	&.red{
		background: $red;
	}
	&.yellow{
		background: $yellow;
	}
	&.green{
		background: $green;
	}
	height:$top-bar-height;
	position:absolute;
	width:100%;
	z-index: 1999;
	top:0;
	.topbar-header{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		h1{
			margin: 0;
			margin-top: 13px;
			margin-left: 20px;
			font: 1.1em/1 $font-normal;
			text-align:left;
		}
	}
	.progress-header{
		margin-top:$top-bar-height;
		z-index: 2000; // To be on top of tasks that have 1000+
	}
	.progress-header.no-progress{
		margin-top:$top-bar-height - 1;
	}
}