.top-bar-container{
	height:$top-bar-height;
	position:absolute;
	width:100%;
	z-index: 1999;
	top:0;
	// This is the default background color of navbar
	background: $sidebar-dark-color;
	
	&.navigation-dropshadow {
		box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
	}	
	&.navigation-foreground-light {
		color: #F4F4F5;
	}
	&.navigation-foreground-dark {
		color: #000C2F;
	}
	h1{
		margin: 0;
		margin-left: 3%;
		font: 1.1em/1 $font-normal;
		text-align:left;
		line-height: 60px;
	}
	.search-button{
		position: absolute;
		width:60px;
		height:60px;
		right: 0;
		top: 0;
		cursor: pointer;
		svg{
			height:20px;
			margin-top: 20px;
			margin-right: 20px;
			width: 20px;
			fill: $white-background;
		
		}
		
		&:hover  {
			background-color: rgba($white-background, .3);
		}
	}
}