.chat-list-view-controller{
	width:100%;
	height: 100%;
	position: relative;
}
$chat-new-message-height: 50px;
.chat-list{
	padding-bottom:8px;
	padding-top: 20px;
	.section{
		padding-top:12px;
	}
	.section-list{
		margin-bottom:0;
		margin-top:0;
		padding-top:5px;
	}
	.section-header{
		margin-top: 0;
		.seperator-container{
			padding-left:10px;
		}
		.seperator{
			height:1px;	
		}
	}

}
.chat-item{
	display:relative;
}
.chat-list-container{
	height:100%;
	padding-bottom: $chat-new-message-height;
	.chat-list-container-scroller{
		overflow-y: scroll;
		height:100%;
		vertical-align:bottom;
	}
	.unread-seperator{
		opacity: 0.8;
		padding-left:10px;
		&.read{
			opacity: 0.3;
			@include transition(opacity 0.4s ease-out);
		}
		.section-header{
			margin-bottom:0;
			margin-top:0;
			h2{
				color: $red;

			}
			.seperator{
				background-color: $red;
			}
		}
	}
}
.chat-item:hover, .chat-message:hover{
	.left-hover-box, .top-hover-box{
		opacity: 1;
		@include transition(opacity 0.1s ease-out);
	}
}
.chat-message{

	$left-side-width:55px;
	$min-height:28px;
	$like-color: #babbbd;
	padding:5px;
	min-height:$min-height;
	position:relative;
	.chat-left-side-container{
		float:left;
		width: $left-side-width;
	}
	.chat-right-side-container{
		margin-left: $left-side-width;
	}
	.picture-container{
		padding-left:5px;
		.picture-circular{
			width:40px;
			height:40px;
			@include border-radius(20px);
		}
	}
	.sender-name{
		font: 14px/1 $font-bold;
	}
	.timestamp{
		font: 11px/1 $font-bold;
	}
	.message-container{
		@include select;
		font: 14px/1.3 $font-normal;
	}
	.attachment-container{
		border-left: 3px solid #DDDDDD;
		position:relative;
		margin-top: 7px;
		padding-left: 12px;
		margin-bottom: 0px;
		img{
			height: 300px;
		}
		.attachment-content{
			.title{
				font: 16px $font-bold;
				padding-bottom: 5px;
			}
			.text{
				font: 13px/1.2 $font-normal;
				padding-bottom: 5px;
			}
			@include select;
			font: 13px $font-normal;
		}
	}

	.like-container{
		//margin-bottom: 10px;
		margin-top: 3px;
		font-size: 14px;
		.like-button{
			svg{
				margin-right: 5px;
				margin-bottom:-4px;
				width:20px;
				height:20px;
			}
		}
		.like-string{
			color: $unselected-color;
		}

	}
	.like-button{
		display:inline-block;
		svg{
			fill: $unselected-color;
		}
		&:hover{ text-decoration: none; 

			svg{
				opacity: 0.8;

			}
		}
	}
	.like-button.liked{
		svg{
			fill: $red;
		}
		&:hover{
		}
	}
	.top-hover-box{
		opacity: 0;
		.like-button{
			line-height: 10px;
			font-size: 10px;
			svg{
				width:12px;
				height:12px;
			}
		}
	}
	.left-hover-box{
		width: $left-side-width;
		opacity: 0;
		min-height: 20px;
		.timestamp{
			font: 9px/1 $font-normal;
			position:absolute;
			top:8px;
			left:20px;
		}
		.like-button{
			position:absolute;
			top:5px;
			line-height: 10px;
			font-size: 10px;
			svg{
				width:12px;
				height:12px;
			}
		}
	}
}

.chat-new-message{
	position:absolute;
	bottom: 0;
	width:100%;
	height: $chat-new-message-height;
	
	.input-container{
		width:90%;
		height:100%;
		margin-left:5%;
		border-top: 1px solid #DDDDDD;
	}
	input{
		border: 0;
		width: 100%;
		height:100%;
	}
}