.chat-list-view-controller{
	width:100%;
	height: 100%;
	position: relative;
}
$chat-new-message-height: 50px;

.chat-list-container{
	height:100%;
	padding-bottom: $chat-new-message-height;
	.chat-list-container-scroller{
		overflow-y: scroll;
		height:100%;
		vertical-align:bottom;
	}
}
.chat-message{
	$left-side-width:50px;
	padding:5px;
	position:relative;
	.chat-left-side-container{
		float:left;
		width: $left-side-width;
	}
	.chat-right-side-container{
		margin-left: $left-side-width;
	}
	.picture-container{
		img{

		}
	}
	.sender-name{
		font: 14px/1 $font-bold;
	}
	.timestamp{
		font: 11px/1 $font-bold;
	}
	.message-container{
		font: 14px/1 $font-normal;
	}
	.attachment-container{
		width:80%;
		max-width: 300px;
		border-left: 3px solid #DDDDDD;
		position:relative;
		margin-top: 12px;
		padding-left: 12px;
		margin-bottom: 12px;
		img{
			width:100%;
		}
	}
	.like-container{
		$like-color: #babbbd;
		font-size: 14px;
		.like-button{
			svg{
				margin-right: 5px;
				margin-bottom:-4px;
				width:20px;
				height:20px;
				fill: $like-color;
			}
			color: $like-color;
			&:hover{ text-decoration: none; 
				svg{
					fill: $red;

				}
				color: $red;
			}
		}
		.like-string{
			margin-left:16px;
			color: $unselected-color;
		}

	}
}

.chat-new-message{
	position:absolute;
	bottom: 0;
	width:100%;
	height: $chat-new-message-height;
	
	.input-container{
		width:90%;
		height:100%;
		margin-left:5%;
		border-top: 1px solid #DDDDDD;
	}
	input{
		border: 0;
		width: 100%;
		height:100%;
	}
}