<h2 class="title">Invite your favorite colleagues<br>to work with.</h2>
<% if(data.people && data.people.length) { %>
	<div class="assign-scroll-container">
		<ul class="people-list">
		<% _.each( data.people, function(member){ %>
			<li class="member" data-href="<%= member.id %>">
				<div class="picture-container">
					<div class="picture-circular" style="background: url(<%= member.profile.image_48 %>) no-repeat; background-size: 26px 26px;">
					</div>
				</div>
				<div class="name">
					<%= member.name %>
				</div>
			</li>
		<% }); %>
		</ul>
	</div>
<% } else { %>
	<div class="message">All members have been assigned</div>
<% } %>