ol.todo {
	padding: 0; margin: 0;
	
	> li {
		list-style: none;
		
		.todo-content { 
			position: relative;
			padding: 1em 2em 1em 4em;
			
			&:before, &:after { content: ""; position: absolute; }

			&:before {
				width: 2px;
				top: 0; bottom: 0;
				left: 2em;
				background: $gray-dark;
			}

			&:after {
				$size: 10px;

				width: $size; height: $size;
				background: $yellow;
				border-radius: $size;
				left: 2em; top: 50%;
				
				margin-left: 1 - ($size / 2);
				margin-top: 0 - ($size / 2);
			}
		}
	}

	.completed {
		.todo-content {
			@include translate3d(100%, 0, 0);
		}
	}

	.scheduled {
		.todo-content {
			@include translate3d(-100%, 0, 0);
		}
	}

	h2 {
		font-weight: normal;
		margin: 0 0 .2em;
	}

	time, .tags { display: inline-block; }

	time {
		background: $gray-lighter;
		padding: 0 0.3em;
		margin-right: 1em;
	}

	.tags { 
		margin: 0; 
		padding: 0; 
		
		li {
			display: inline-block;
			margin: 0 0 0 -.3em; 
			padding: 0;

			&:before { content: ', '; }
			
			&:first-child {
				margin-left: 0;
				&:before { content: none; }
			}
		}
	}
}