<% 
	var hasProfilePicture = "";
	var user = data.message.get("user");
	var sender;
	var profilePictureURL;
	if(user){
		sender = swipy.slackCollections.users.get(user);
		profilePictureURL = sender.get("profile").image_192;
	}
	var bot_id = data.message.get("bot_id");
	if(bot_id){
		sender = swipy.slackCollections.bots.get(bot_id);
		profilePictureURL = sender.get("icons").image_48;
	}
	if(data.message.get("comment")){
		sender = swipy.slackCollections.users.get(data.message.get("comment").user)
		profilePictureURL = sender.get("profile").image_192;
	}
	
	var icons = data.message.get("icons");
	
	var name = "";

	if(sender){
		name = sender.get("name");
	}


	var username = data.message.get("username");
	if(username && !name){
		name = username;
	}
	if(icons && !profilePictureURL){
		profilePictureURL = icons.image_48;
	}

	var hasAttachment = false;
	var numberOfLikes = data.message.get("numberOfLikes");
	var shouldShowBigLike = false;
	if( data.message.get("attachments") ){
		hasAttachment = true;
		shouldShowBigLike = true;
	}
	if(numberOfLikes > 0){
		shouldShowBigLike = true;
	}
	var isLikedClass = ""
	if(data.message.get("likedByMe"))
		isLikedClass = "liked"

	var likeString = "Be the first to like this.";
	if(numberOfLikes > 0){
		if(data.message.get("likedByMe")){
			if(numberOfLikes == 1){
				likeString = "You like this.";
			}
			else{
				var numberLeft = numberOfLikes - 1;
				likeString = "You and " + numberLeft + " others like this."
			}
		}
		else{
			if(numberOfLikes == 1){
				likeString = "1 person like this."
			}
			else
				likeString = numberOfLikes + " people like this."
		}
	}
	var hasImageClass = "hasProfileImage";
	if(data.isFromSameSender)
		hasImageClass = "";
%>
<div class="chat-message <%= hasImageClass %>">
	<div class="chat-left-side-container">
		<% if(!data.isFromSameSender){ %>
		<div class="picture-container">
			<div class="picture-circular" style="background: url(<%= profilePictureURL %>) no-repeat; background-size: 34px 34px;">
			</div>
		</div>
		<% } else { %>
			<div class="left-hover-box">
				<% if(!shouldShowBigLike){ %>
				<!--<a class="like-button">
					<svg class="icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-thumb"></use>
					</svg>
				</a>-->
				<% } %>
				<span class="timestamp"><%= data.message.get("timeStr") %></span>
			</div>
		<% } %>
	</div>
	<div class="chat-right-side-container">
		<% if(!data.isFromSameSender){ %>
		<div class="sender-container">
			<span class="sender-name"><%= name %></span>
			<span class="timestamp"><%= data.message.get("timeStr") %></span>
			<% if(!shouldShowBigLike){ %> 
			<span class="top-hover-box">
				<!--<a class="like-button">
					<svg class="icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-thumb"></use>
					</svg>
				</a>-->
			</span>
			<% } %>
		</div>
		<% } %>
		<div class="message-container">
			<%= data.handleMentionsAndLinks(data.message.get("text")) %>
		</div>
		<% if(data.message.get("subtype") == "file_share") { %>
			<div class="file-container">
				<div class="comment"></div>
				<% var file = data.message.get("file");
				if(file.thumb_360){ %>
					<img style="height: <%= file.thumb_360_h %>px; width:<%= file.thumb_360_w %>px;" src="<%= file.thumb_360 %>" />
				<% } %>
			</div>
		<% } %>
		<% if( hasAttachment ){ %>
		
			<%= data.attTmpl({attachments: data.message.get("attachments"), handleMentionsAndLinks: data.handleMentionsAndLinks}) %>
			<!--<a href="http://test.com" target="_blank"><img src="styles/img/temp/attachment-placeholder.png"></a>-->

		
		<% } %>
		<% if(shouldShowBigLike){ %>
		<!--<div class="like-container">
			<a class="like-button <%= isLikedClass %>">
				<svg class="icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-thumb"></use>
				</svg>
			</a>
			<span class="like-string">
				<%= likeString %>
			</span>
		</div>-->
		<% } %>
	</div>
</div>