<% _.each( data.attachments, function(attachment){ 
	var colorStyle = "";
	if(attachment.color)
		colorStyle = "border-left: 3px solid #"+attachment.color;
	var renderedText;
	if(attachment.text){
		renderedText = attachment.text;
	}
%>
<div class="attachment-container" style="<%= colorStyle %>">
	<div class="attachment-content">
	<% if(attachment.service_name ){ %>
		<div class="service-name"><%= attachment.service_name %></div>
	<% } if(attachment.title){ %>
		
		<div class="title">
			<% if(attachment.title_link) print("<a target=\"blank\" href=\""+attachment.title_link + "\">"); %>
				<%= attachment.title %>
			<% if(attachment.title_link) print("</a>"); %>
		</div>

	<% } if(attachment.text){ %>

		<div class="text"><%= data.handleMentionsAndLinks(attachment.text) %></div>
	
	<% } if(attachment.image_url ){ %>
		
		<% if(attachment.title_link) print("<a target=\"blank\" href=\""+attachment.title_link + "\">"); %>
			<img style="height: <%= attachment.image_height %>px; width:<%= attachment.image_width %>px;" src="<%= attachment.image_url %>" />
		<% if(attachment.title_link) print("</a>"); %>

	<% } %>
	</div>
</div>
<% }) %>