<!-- Header -->
	<div class="top">
		
		<!-- Title -->

		<h1 class="h2 task-title">
			<div class="input-title content-editable" contenteditable="true"><%= data.task.get("title") %></div>
		</h1>

		<!-- Title End -->

		<!-- Date -->

		<div class="schedule-container info-row open-schedule">
			<div class="content-div info-label top-date">
				<% if(data.task.get("scheduleDateObj")){ %>
					<span class="year"><%= data.task.get("scheduleDateObj").year %></span>
					<span class="month"><%= data.task.get("scheduleDateObj").date %> <%= data.task.get("scheduleDateObj").month %></span>
					<span class="time"><%= data.task.get("timeStr") %></span>
				<% } else { %>
					<span class="year">SOMEDAY</span>
					<span class="time">MAYBE</span>
				<% } %>

			</div>
		</div>

		<!-- Date end -->

		<!-- Assignees -->
		<% if(!data.task.get("isPersonalTask")){ %>
		<section class="assignees-container info-row">
			<div class="content-div">
				<ul class="assignees-list">

					

					<%
						var hiddenClass = "hidden";
					%>
					
					<li class="assign" id="assign-text-button"></li>
					<li class="assign-label <%= hiddenClass %>">
						<div class="arrow"></div>
						<p class="assign-label-text">Assign a task</p>
					</li>
						
					<% var assignText = "Assign People";
						_.each(data.task.get("assignees"), function(userId){
						assignText = "Assign more";
						var user = swipy.slackCollections.users.get(userId);
					%>
					
					
					
					<li class="assignee" data-href="<%= userId %>" title="<%= user.get('name') %>">

						<div class="picture-circular" style="background: url(<%= user.get("profile").image_48 %>) no-repeat; background-size: 40px 40px;"></div>
						<div class="assignee-hover"></div>
					</li>
					<% });

					%>

				</ul>
			</div>
		</section>
		<% } %>
		<!-- Assignees end -->

	</div>

	<!-- Header end -->

	<!-- Action steps -->

	<section class="action-step-container info-row">

	</section>

	<!-- Action steps end -->

	<!-- Buttons -->

	<div class="tasks-buttons-container">
		<div class="btn schedule open-schedule">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarSnooze"></use>
			</svg>
			<h3>SCHEDULE</h3>
		</div>
		<div class="btn complete comlete-task">
			<svg class="icon">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-quickBarComplete"></use>
			</svg>
			<h3>COMPLETE</h3>
		</div>
	</div>

	<!-- Buttons end -->