
// Action bar
// ---------------------------------------------
.edit-action-bar, .action-bar{
	&.fadeout {
		@extend .fadeOut;
		pointer-events: none;
	
	}
}
.action-bar, .edit-action-bar, .organise-bar {
	@extend .clearfix;
	@extend .animated;
	@extend .fadeIn;

	@include experimental(animation-duration, 0.12s);

	&.fadeout {
		body:not(.organise) &{
			@extend .fadeOut;
			pointer-events: none;
		}
		
	}
	.back-button{
		position:absolute;
		left:38px;
		@include breakpoint(tablet) {
			left: 110px;
		}
	}
	z-index: 4991;
	position: fixed;
	&.bottom{
		bottom: 0;
		border-top: 2px solid #e0e0e0;
	}
	
	&.top{
		top: 0;
		border-bottom: 2px solid #e0e0e0;
	}
	//
	right:0;
	left: 0;
	margin: auto;
	//padding: emCalc (25px) 0;
	
	text-align: center;
	&.top{
		text-align:right;
		padding-right:35px;
		@include breakpoint(tablet){
			padding-right:60px;
		}
	}
	width: 100%;
	padding-top: 12px;
	height: 60px;
	padding-left: 0px;
	@include breakWidthHeight(768px, 768px){
		&.action-bar{
			padding-top: 28px;
			height: 100px;
		}
	}
	background-color: #fff; //#F9F9F9;
	

	@include breakpoint(min-width, emCalc(350px)) {
		.sidebar-open & {
			@include transition(margin-left 300ms ease-in-out);
			margin-left: emCalc( 250px );
		}
	}


	li {
		display: inline-block;
		list-style: none;
		margin-bottom: emCalc(22px);
		@include breakpoint(tablet){
			margin-left:15px;
		}
	}

	a {
		display: block;
		@include square(35px);
		line-height: 35px;
		background-color: transparent;
		//border: 1px solid $brand-dakrcolor;
		text-decoration: none;
		text-align: center;
		
		@include border-radius(50%);
		@include transition(all 100ms ease-in-out);

		svg{
			width:35px;
			height:35px;
			fill: $gray-labels;
		}
			&:hover {
				opacity: 0.6;
			}
	}


	// Coloring SVG icons
	.complete {

		svg {
			fill: $green;
		}

		a {
			border-color: $green;

		}
		
	}

	.today {

		svg {
			fill: $orange;
		}

		a {
			border-color: $orange;
		}
	}

	.snooze {

		svg {
			fill: $red;
		}

		a {
			border-color: $red;

		}
	}

	li.spacer {
		//display: block;
		margin-right:0;
		@include breakpoint(mobile){
			margin-right: 20px;
			
		}
		
	}

	.counting-selected {

			span {
				display: inline-block;
				@include square(40px);
				line-height: 40px;
				background-color: $brand-dakrcolor;
				text-align: center;
				text-decoration: none;
				text-align: center;
				color: #fff;
				font-size: 21.5px;
				@include border-radius(50%);
			}
	}


	span {
		font-size: 1.5em;
	}
}