$action-step-dot-size: 20px;
$action-step-height: 40px;
$action-step-cell-x: 26px;
$unselected-color: #9E9E9E;
$padding: 80px;
$padding-big: 110px;

$closure-size: 30px;
$icon-size: 15px;
$border-width: 1px;

$space-to-dot: 43px;
$space-to-action: 40px;

.action-steps{
	position:relative;
	margin-bottom: 2.0em;
	.step{
		min-height:$action-step-height;
		position:relative;
		padding-left:$padding;
		// margin-bottom: 10px;
		@include breakpoint(tablet) {
			padding-left: $padding-big;
		}

		&:before {
			display: inline-block;
			content: '';
			height: 20px;
			border-left: 2px dashed #e0e0e0;
			position: absolute;
			left: $padding - $space-to-dot + 9px;
			@include breakpoint(tablet) {
				left: $padding-big - $space-to-dot + 9px;
			}
			top: -10px;
		}


		&:first-of-type,
		&:only-of-type {
			&:before { display: none; }
		}


		.action{
			display: block;
			@include transition(opacity 1ms ease-in-out);
			opacity: 0;
			position:absolute;
			top: $action-step-height/2 - $closure-size/2;
			left: $padding - $space-to-dot - $space-to-action;
			@include breakpoint(tablet) {
				left: $padding-big - $space-to-dot - $space-to-action;
			}
			@include border-radius(50%);
			text-decoration: none;
			@include square($closure-size);
			svg {
				display: inline;

				line-height: 1;
				vertical-align: baseline;
				@include square( $closure-size );
				@include centerBlock(0, 0, 0, 0, auto, absolute);
			}
			&, & svg {
				@include transition(all 200ms ease-in-out);
			}
		}


		.action.delete{
			left: $padding - $space-to-dot - 5px;
			@include breakpoint(tablet) {
				left: $padding-big - $space-to-dot - 5px;
			}
			margin-left: 0;
			border:none;

				svg {
					@include square(24px);
					@include transition-duration(120ms);
					fill: lighten($red, 3%)
				}

				&:hover svg {
					fill: darken($red, 15%)
				}

		}


		input{
			font-size: 15px;
			height: $action-step-height;
			line-height: $action-step-height / 2;
			font-family: $font-normal;
		}

	}

	.action.todo, .action.todo svg {
		fill: $yellow;
	}

	.action.complete, .action.complete svg {
		fill: $green;
	}

	.step.add-step:hover{
		&.delete-hover{
			.action.delete{
				display:none;
			}
			.dot{
				display:block;
			}
		}
	}
	.step:hover{

		.action{
			
			@include transition(opacity 100ms ease-in-out);
			opacity: 1;
		}

		.action.delete{
			display:none;
		}

		&.delete-hover{
			.action.delete{
				display:block;
			}
			.dot{
				display:none;
			}
		}

		.action:hover{

			&.complete{
				background-color: $green;

					svg {
						fill: #fff;
					}
			}

			&.todo{
				background-color: $yellow;

					svg {
						fill: #fff;
					}
			}

			&.delete{
				$col: #ff0000;
				color: $col;
			}
		}

	}
	.add-step input:focus{
		& + .dot{
			@include transition(border 200ms ease);
			border: 2px solid $yellow;
		}
	}
	.step.complete{

		.dot{
			border: 2px solid $green;
		}

		input{
			color: $unselected-color;
			opacity:0.6;
		} 
	}


	.step.complete:hover{
		.dot{
			//display:none;
		}
	}


	.dot {
		position:absolute;
		left: ($padding - $space-to-dot);
		@include breakpoint(tablet) {
			left: ($padding-big - $space-to-dot);
		}
		margin-top: -($action-step-dot-size/2);
		top:50%;
		width:$action-step-dot-size;
		height:$action-step-dot-size;
		border: 2px solid $yellow;
		border-radius: $action-step-dot-size/2;
	}


	.add-step {

		.dot{
			@include transition(border 200ms ease);
			border: 2px solid $gray;
		}

	}
	
}