
// Action bar
// ---------------------------------------------

.action-bar {
	@extend .clearfix;
	@extend .animated;
	@extend .fadeIn;

	@include experimental(animation-duration, 0.12s);

	&.fadeout {
		@extend .fadeOut;
		pointer-events: none;
	}

	z-index: 4991;
	position: fixed;
	bottom: 0;
	top: -100px;
	left: 0;
	margin: auto;
	padding: emCalc(25px) 0;
	text-align: center;
	width: 80px;
	height: 350px;
	background-color: transparent;

	@include breakpoint(min-width, emCalc(350px)) {
		right: -810px;

		.sidebar-open & {
			margin-right: 0 - emCalc(360px - $sidebar-width);
		}
	}

	@include breakpoint(desktop-wide) {
		right: -1040px;
	}

	li {
		display: inline-block;
		list-style: none;
		margin-bottom: emCalc(22px);
	}

	a {
		display: block;
		@include square(40px);
		line-height: 40px;
		background-color: #fff;
		text-align: center;
		border: 1px solid $brand-dakrcolor;
		text-decoration: none;
		text-align: center;
		
		@include border-radius(50%);
		@include transition(all 100ms ease-in-out);

			svg {
				display: inline-block;
				line-height: 1;
				position: relative;
				top: -3px;
				vertical-align: middle;
				@include square(22px);
				fill: $brand-dakrcolor;
				@include transition(all 100ms ease-in-out);
			}

			&:hover {
				background-color: $brand-dakrcolor;

					svg {fill: #fff;}
			}
	}


	// Coloring SVG icons
	.complete {

		svg {
			fill: $green;
		}

		a {
			border-color: $green;

				&:hover {
					background-color: $green;

						svg {fill: #fff;}
				}
		}
		
	}

	.today {

		svg {
			fill: $orange;
		}

		a {
			border-color: $orange;

				&:hover {
					background-color: $orange;

						svg {fill: #fff;}
				}
		}
	}

	.snooze {

		svg {
			fill: $red;
		}

		a {
			border-color: $red;

				&:hover {
					background-color: $red;

						svg {fill: #fff;}
				}
		}
	}

	li.spacer {
		display: block;
		margin-bottom: 20px;
	}

	.counting-selected {

			span {
				display: inline-block;
				@include square(40px);
				line-height: 40px;
				background-color: $brand-dakrcolor;
				text-align: center;
				text-decoration: none;
				text-align: center;
				color: #fff;
				font-size: 21.5px;
				@include border-radius(50%);
			}
	}


	span {
		font-size: 1.5em;
	}
}