$action-step-dot-size: 20px;
$action-step-height: 60px;
$action-step-cell-x: 26px;
$unselected-color: #9E9E9E;
$padding: 130px;
$closure-size: 30px;
$icon-size: 15px;
$border-width: 1px;

.action-steps{
	position:relative;

	.step{
		min-height:$action-step-height;
		position:relative;
		padding-left:$padding;
		// margin-bottom: 10px;


			&:before {
				display: inline-block;
				content: '';
				height: 20px;
				border-left: 2px dashed #e0e0e0;
				position: absolute;
				left: 89px;
				top: -10px;
			}


			&:first-of-type,
			&:only-of-type {
				&:before { display: none; }
			}


			.action{
				display: none;
				position:absolute;
				top: $action-step-height/2 - $closure-size/2;
				left: 30px;
				@include border-radius(50%);
				border: $border-width solid $unselected-color;
				font-size: $icon-size;
				line-height: 1;
				text-decoration: none;
				@include iconButoon($unselected-color, $closure-size, true);
			}


			.action.delete{
				left: 76px;
				margin-left: 0;
				border:none;

					svg {
						@include square(24px);
						@include transition-duration(120ms);
						fill: lighten($red, 3%)
					}

					&:hover svg {
						fill: darken($red, 15%)
					}

			}


			input{
				font-size: 18.5px;
				height: $action-step-height;
				line-height: $action-step-height / 2;
				font-family: $font-normal;
			}

	}

	.action.todo, .action.todo svg {
		border-color: $yellow;
		fill: $yellow;
	}

	.action.complete, .action.complete svg {
		border-color: $green;
		fill: $green;
	}

	.step.add-step:hover{
		&.delete-hover{
			.action.delete{
				display:none;
			}
			.dot{
				display:block;
			}
		}
	}
	.step:hover{

		.action{
			display:block;
		}

		.action.delete{
			display:none;
		}

		&.delete-hover{
			.action.delete{
				display:block;
			}
			.dot{
				display:none;
			}
		}

		.action:hover{

			&.complete{
				background-color: $green;

					svg {
						fill: #fff;
					}
			}

			&.todo{
				background-color: $yellow;

					svg {
						fill: #fff;
					}
			}

			&.delete{
				$col: #ff0000;
				color: $col;
			}
		}

	}
	.add-step input:focus{
		& + .dot{
			@include transition(border 200ms ease);
			border: 2px solid $yellow;
		}
	}
	.step.complete{

		.dot{
			border: 2px solid $green;
		}

		input{
			color: $unselected-color;
			opacity:0.6;
		} 
	}


	.step.complete:hover{
		.dot{
			//display:none;
		}
	}


	.dot {
		position:absolute;
		left: ($padding - 50px);
		margin-top: -($action-step-dot-size/2);
		top:50%;
		width:$action-step-dot-size;
		height:$action-step-dot-size;
		border: 2px solid $yellow;
		border-radius: $action-step-dot-size/2;
	}


	.add-step {

		.dot{
			@include transition(border 200ms ease);
			border: 2px solid $gray;
		}

	}
	
}