.autocomplete-list{
	display:none;
	position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 70%;
    overflow-y: scroll;
    
    background-color: #ffffff;
    z-index: 999;
	&.shown{
		display: block;
	}
	.ac-result-list{
		li{
			&.selected{
				background-color: blue;
				color: white;
			}
		}
	}
}