.round-btn {
	$size: emCalc(60px);

	width: $size;
	height: $size;
	border-radius: $size;
	border: 2px solid $gray;

	display: inline-block;
	text-align: center;
	line-height: $size;

	text-decoration: none;
	color: $gray;

	@include transition(all 0.17s ease-in-out);

	&:hover {
		color: white;
		text-decoration: none;
		background: $gray;
		border-color: $gray
	}

	// span { font-size: 1em; }


	// Some icons have fucked up vertical alignment, so we need to manually adjust.
	.icon-cross { position: relative; top: 0.1em; }
	.icon-arr-left { position: relative; top: 0.1em; }

	&.inverted {
		color: white;
		border-color: white;

		&:hover {
			color: $gray;
			background: white;
			border-color: transparent;
		}
	}
}

.ca-button {
	display: inline-block;
	line-height: 1;
	outline: none;
	padding: .6em .7em;
	min-width: 120px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background-color: #1b1e23;
	border: none;
	@include border-radius(25px);
}

nav.centered-buttons {
	text-align: center;

	a { margin-left: 4.7em; }
	a:first-child { margin-left: 0 !important; }

	@include breakpoint(tablet) {
		a { margin-left: 8em; }
	}
}