.round-btn {
	$size: emCalc(60px);

	width: $size;
	height: $size;
	border-radius: $size;
	border: 2px solid $gray-light;

	display: inline-block;
	text-align: center;
	line-height: $size;

	text-decoration: none;
	color: $gray-light;

	@include transition(all 0.17s ease-in-out);

	&:hover {
		color: white;
		text-decoration: none;
		background: $gray-lighter;
		border-color: $gray-lighter
	}

	span { font-size: 1.35em; }


	// Some icons have fucked up vertical alignment, so we need to manually adjust.
	.icon-cross { position: relative; top: 0.1em; }
	.icon-arr-left { position: relative; top: 0.1em; }

	&.inverted {
		color: white;
		border-color: white;

		&:hover {
			color: $gray-light;
			background: white;
			border-color: transparent;
		}
	}
}

nav.centered-buttons {
	text-align: center;

	a { margin-left: 4.7em; }
	a:first-child { margin-left: 0 !important; }

	@include breakpoint(tablet) {
		a { margin-left: 8em; }
	}
}