.clndr {
	@extend .no-select;
	padding: emCalc(40px) 0 0;
	$topHeight: 30px;

	nav {
		@extend .clearfix;
		margin: 0 auto emCalc(40px);
		width: 94%;
	}

	.previous, .next {
		@extend .no-select;
		float: left;
		width: 10%;
		height: $topHeight;
		line-height: $topHeight;
		cursor: pointer;
		margin-top: -2px;
		@include transition(color 0.2s ease-out);

			svg {
				vertical-align: middle;
				@include square(25px);
			}

			&:hover {
				color: $gray;
			}
	}
	
	// temp
	.next svg {
		@include rotate(180deg);
	}

	.displaying-curr-month & .previous {
		@include opacity(0.3);
		pointer-events: none;
	}

	.month {
		float: left;
		width: 80%;

		text-align: center;
		text-transform: uppercase;
		font-family: $font-light;

		.selected-date, time {
			display: inline-block;
			font-size: 26px;
			line-height: $topHeight;
		}

		.selected-date + time {
			padding-left: 0.2em;
			// margin-left: 0.7em;
		}
	}

	.next {
		text-align: right;
	}

	.calendar-grid {
		@extend .clearfix;
		text-align: center;

	}

	.days, .day-names { @extend .clearfix; }

	.header-day, .day {
		float: left;

		width: (100% / 7);
		height: 0;
		padding-top: ((100% / 7) / 2);
		padding-bottom: ((100% / 7) / 2);
		line-height: 0;
	}

	.header-day {
		color: $gray-labels;
		font-size: 80%;
		text-transform: lowercase;
		font-family: $font-bold;
		padding-top: 1%;
		padding-bottom: 5%;
	}

	.day {
		cursor: pointer;
		position: relative;

		&:before {
			display: block;
			position: absolute;
			content: "";

			border-radius: 2.5em;

			width: 90%;
			height: 90%;
			left: 5%;
			top: 5%;

			z-index: 0;
		}

		.number {
			position: relative;
			z-index: 1;
		}

		&.past {
			color: $gray-light;
			cursor: default;

			&.adjacent-month { background: lighten($gray-light, 10%); }
		}

		&.selected, &.event {
			color: white;
		}

		&.event:before { background-color: $green; }
		&.selected:before { background-color: $red; }
	}

	.empty, .adjacent-month {
		background: #fff;
		color: $gray-light;
	}
}