.clndr {
	nav {
		@extend .clearfix;
		margin: 0 auto 3px;
		width: 94%;

		.previous, .next {
			@extend .noselect;
			float: left;
			width: 10%;
			cursor: pointer;
			@include transition(color 0.2s ease-out);
			&:hover { color: $gray; }
		}

		.month {
			float: left;
			width: 80%;
			text-align: center;
		}

		.next {
			text-align: right;
		}
	}

	.calendar-grid {
		@extend .clearfix;
		text-align: center;

		.days, .day-names { @extend .clearfix; }

		.header-day, .day {
			float: left;

			width: 14.285%;
			height: 0;
			padding-top: 7.143%;
			padding-bottom: 7.143%;
			line-height: 0;
		}

		.header-day {
			// color: $gray-warm;
			font-size: 80%;
			text-transform: lowercase;
			font-family: $font-bold;
		}

		.day {
			cursor: pointer;
			position: relative;

			&:before {
				display: block;
				position: absolute;
				content: "";

				border-radius: 2.5em;

				width: 90%;
				height: 90%;
				left: 5%;
				top: 5%;

				z-index: 0;
			}

			.number {
				position: relative;
				z-index: 1;
			}

			&.selected, &.event {
				color: white;
			}

			&.event:before { background-color: $green; }
			&.selected:before { background-color: $lobster; }
		}

		.empty, .adjacent-month {
			background: $gray-lighter;
			color: $gray-light;
		}
	}
}