.day-picker {
	@extend .clearfix;
	list-style: none;
	padding: 0;

	li {
		$height: 37px;

		cursor: pointer;

		float: left;
		display: block;

		width: ( 100% / 7);
		height: $height;
		line-height: $height;
		white-space: nowrap;

		font-size: 13px;

		line-height: $height;
		text-align: center;
		color: $brand-dakrcolor;
		text-transform: lowercase;

		border-left: thin solid #e0e0e0;

		&:hover {
			text-decoration: none;
			background-color: rgba($brand-dakrcolor, 0.1);
		}

		&.selected {
			background: $brand-dakrcolor;
			color: white;
		}

	}

	li:first-child, li.selected { border-left: none; }

}