.divider {
	border-top: 1px solid $yellow;
	font-size: 0.77778em;
	position: relative;

	&:before {
		display: block;
		position: absolute;
		top: -5px;
		width: 100%;
		height: 4px;
		background: white;
		content: "";
	}

	> h1, > h2, > h3 {
		position: absolute;
		display: block;
		right: 10px;

		@include breakpoint(min-width, emCalc(715px)) { right: 0; }

		z-index: 2000;

		margin-top: -4px;
		padding: 0 0.5em 0.1em;
		border-bottom: 1px solid $yellow;

		background: white;

		font-size: 1.13em;
		height: 1.3em;
		color: $gray;

		font-family: $font-light;
		text-transform: uppercase;

		&:before {
			position: absolute;
			display: block;
			top: -1px;
			left: -6px;
			width: 10px;
			height: 110%;
			background: white;
			content: "";

			@include rotate(-35deg);
		}

		&:after {
			position: absolute;
			content: "";
			left: -6px;
			top: 2px;
			@include slanted-line($yellow);
		}
	}

	.scheduled & {
		border-top-color: $lobster;

		> h1, > h2, > h3 {
			border-color: $lobster;
			&:after { @include slanted-line($lobster) }
		}
	}

	.completed & {
		border-top-color: $green;

		> h1, > h2, > h3 {
			border-color: $green;
			&:after { @include slanted-line($green) }
		}
	}
}