.list-nav {
	@extend .clearfix;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 0.5em;
	width: 14em;
	//@include breakpoint(min-width, emCalc(700px)) { width: emCalc(220px); }


	body.edit-mode & {
		visibility: hidden;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	li {
		text-align: center;
		width: 33%;
		float: left;

		&:last-child { float: right; }
	}

	a {
		color: $nav-gray;
		font-size: 1.4em;
		line-height: 1;
		//@include breakpoint(min-width, emCalc(700px)) { font-size: 1.9em; }
		@include transition(color 0.15s ease-out);
		&:hover, &:focus{
			text-decoration: none;
			outline: none;
		}
		&:hover, &.active {
			&.schedule { color: $lobster; }
			&.todo { color: $yellow; }
			&.checkmark { color: $green; }
		}
	}

	.schedule, .todo, .active { @extend .icon; }

	.schedule { @extend .icon-clock; }
	.todo { @extend .icon-todo; }
	.checkmark { @extend .icon-checkmark; }


	.schedule.active {
		color: $lobster;
		// TODO: Fix the hover things here
	}

	.todo.active {
		color: $yellow;
	}

	.checkmark.active {
		color: $green;
	}
}
