.list-nav {
	@extend .clearfix;
	list-style: none;
	margin: 0 auto;
	padding: 0;

	width: emCalc(180px);
	@include breakpoint(min-width, emCalc(700px)) { width: emCalc(180px); }


	body.edit-mode & {
		visibility: hidden;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	li {
		text-align: center;
		width: 33%;
		float: left;

		&:last-child { float: right; }
	}

	a {
		color: $gray;
		font-size: 1.2em;
		line-height: 1;
		//@include breakpoint(min-width, emCalc(700px)) { font-size: 1.9em; }
		@include transition(color 0.15s ease-out);

		&:focus, &:hover {
			text-decoration: none;
			outline: none;
			&.schedule { @extend .icon-clock; }
			&.todo { @extend .icon-todo; }
			&.checkmark { @extend .icon-checkmark; }
		}
	}

	.schedule, .todo, .active { @extend .icon; }

	.schedule { @extend .icon-clock; }
	.todo { @extend .icon-todo; }
	.checkmark { @extend .icon-checkmark; }


	.schedule.active {
		color: $lobster;
		@extend .icon-clock;
		&:focus { @extend .icon-clock; }
		// TODO: Fix the hover things here
	}

	.todo.active {
		color: $yellow;
		@extend .icon-todo;
		&:focus { @extend .icon-todo; }
	}

	.checkmark.active {
		color: $green;
		@extend .icon-checkmark;
		&:focus { @extend .icon-checkmark; }
	}
}
