.list-nav {
	@extend .clearfix;
	list-style: none;
	margin: 0;
	padding: 0;

	body.edit-mode & {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	li {
		text-align: center;
		width: 33%;
		float: left;

		&:last-child { float: right; }
	}

	a {
		color: $gray-lighter;
		font-size: 1.9em;
		line-height: 1;

		@include transition(color 0.15s ease-out);

		&:hover {
			text-decoration: none;
			color: $gray-light;
		}
	}

	.icon-schedule.active { color: $lobster; }
	.icon-todo.active { color: $yellow; }
	.icon-checkmark.active { color: $green; }
}
