.priority {
	$size: 7px;
	
	$inner-size: 12px;
	$border-size: 4px;
	$big-size: $inner-size+$border-size;
	// Normalize size independent of container
	font-size: 18px;

	position: absolute;

	width: $size;
	height: $size;
	border-radius: $size;
	left: 0; top: 50%;
	margin-top: -$size/2;
	margin-left: -$size/2;
	cursor: pointer;

	background: $unselected-color;
	

	// This is the priority dot
	&:after {
		
		position: absolute;
		display: none;
		left: 50%; top: 50%;
		margin-top: 0 - ($inner-size / 2);
		margin-left: 0 - ($inner-size / 2);
		width: $inner-size;
		height: $inner-size;
		border-radius: $inner-size;

		
		background: $unselected-color;
		border: $border-size solid white;
		content: "";
	}

	.is-priority & {
		// Display priority dot!
		width: $big-size;
		height: $big-size;
		border-radius: $big-size;
		margin-left: -$big-size/2;
		margin-top: -$big-size/2;

		&:after { 
			display: block; 
		}
	}

	
	.my-task & {
		background: $red;
		&:after { background: $red; }
	}
	.assigned & {
		background: $yellow;
		&:after { background: $yellow; }
	}
	.completed & {
		background: $green;
		&:after { background: $green; }
	}
	@include box-sizing(content-box);
}

