.priority {
	$size: 0.8em;
	$border-size: 4px;

	// Normalize size independent of container
	font-size: 18px;

	position: absolute;

	width: $size;
	height: $size;

	border-radius: $size;
	left: 0; top: 50%;
	border: $border-size solid transparent;
	cursor: pointer;

	background: $yellow;
	.scheduled & { background: $lobster }
	.completed & { background: $green }

	.is-priority & {
		border-color: $gray;
	}

	@include box-sizing(content-box);

	margin-top: 0 - emCalc($border-size) - ($size / 2);

	// Border
	&:after {
		content: "";
		position: absolute;
		bottom: 0; left: 0; right: 0;

		@include background-image(
			linear-gradient(left, transparent, $gray-lighter 15%, transparent 105%)
		);
	}
}

