.range-slider {
	$handle-size: emCalc(40px);
	position: relative;
	height: $handle-size;

	.track {
		position: absolute;
		top: 50%;
		margin-top: -1px;

		width: 100%;
		height: 2px;

		background: white;
	}

	.handle {
		cursor: pointer;

		position: absolute;
		top: 50%;
		margin-top: 0 - ( $handle-size / 2 );
		margin-left: 0 - ( $handle-size / 2 );

		width: $handle-size;
		height: $handle-size;
		border-radius: $handle-size;

		background: white;
		border: 7px solid $gray-light;
	}
}

.range-slider.lobster {
	.track { background: $lobster; }
	.handle { background: $lobster; border-color: white; }
}