.repeat-picker {
	margin-bottom: 2.2em;
	@include breakpoint(tablet) {
		margin-bottom: emCalc(50px);
	}

	ul {
		@extend .clearfix;
		padding: 0;

		margin-top: 1.1em;
		@include breakpoint(tablet) {
			margin-top: emCalc(35px);
		}
	}

	li {
		list-style: none;
	}

	> p {
		@extend .no-select;
	}

	a {
		$height: emCalc(59px);

		float: left;
		display: block;

		width: 33.333%;
		@include breakpoint(min-width, emCalc(650px)) {
			width: 16.6667%;
		}

		height: $height;

		line-height: $height;
		text-align: center;
		font-family: $font-normal;
		color: $gray;

		border-left: thin solid rgba($gray, 0.3);

		&:hover {
			text-decoration: none;
			color: $gray;
		}

		&.selected {
			background: $gray;
			color: white;

			.scheduled & { background: $lobster; }
			.completed & { background: $green; }
		}

	}

	li:first-child a, a.selected { border-left: none; }

	@include breakpoint(max-width, emCalc(650px)) {
		li a {
			border-bottom: thin solid rgba($gray, 0.3);
		}

		li:nth-child(3n + 1) a {
			border-left: none;
		}

		li:nth-child(4) a,
		li:nth-child(5) a,
		li:nth-child(6) a {
			border-bottom: none;
		}

	}
}