.repeat-picker {
	//margin-bottom: 2.2em;
	max-width:400px;
	@include breakpoint(tablet) {
		//margin-bottom: emCalc(50px);
	}

	.repeat-button {
		@extend .link-style;
	}

	ul {
		@extend .clearfix;
		display: none;
		padding: 0;

		margin-top: 1.6em;
		margin-bottom: 0.6em;
		@extend .animated;
		@extend .fadeOut;
		@include animation-duration(400ms);

			&.active {
				display: block;
				@extend .fadeIn;
			}

		@include breakpoint(tablet) {
			margin-top: emCalc(35px);
		}
	}

	li {
		list-style: none;
	}

	> p {
		@extend .no-select;
	}

	a {
		$height: emCalc(45px);

		float: left;
		display: block;

		width: 26.3%;

		@include breakpoint(tablet){
			//width: (100% / 7);
		}
		// @include breakpoint(min-width, emCalc(650px)) {
		// 	width: 16.6667%;
		// }

		height: $height;

		line-height: $height;
		text-align: center;
		font-family: $font-normal;
		color: $gray;
		font-size: 16px;

		border-left: thin solid rgba($gray, 0.3);

		&:hover {
			text-decoration: none;
			background-color: rgba($brand-dakrcolor, 0.1);
		}

		&.selected {
			background: $brand-dakrcolor;
			color: white;

			.scheduled & { background: $lobster; }
			.completed & { background: $green; }
		}

	}

	//li:first-child a, a.selected { border-left: none; }
	li a {
		border-bottom: thin solid rgba($gray, 0.3);
	}

	li:nth-child(3n + 1) a {
		border-left: none;
	}

	li:nth-child(4) a,
	li:nth-child(5) a,
	li:nth-child(6) a {
		border-bottom: none;
	}
	@include breakpoint(max-width, emCalc(768px)) {
		

	}
}

.link-style {
	cursor: pointer;
}