.rounded-tags {
	@extend .clearfix;
	padding: 0;
	margin-bottom: 0;

	li {
		@extend .no-select;
		
		list-style: none;
		display: block;
		float: left;

		margin: 0 0.7em 0.7em 0;
		
		padding: emCalc(9px) emCalc(12px);
		background: $gray-lighter;
		@include transition(background 0.15s ease-out);
		border-radius: 0.5em;

		color: white;
		font-size: 0.8em;
		font-family: $font-light;

		cursor: pointer;

		a.remove {
			display: inline-block;
			width: 0;
			opacity: 0;
			
			font-size: 0.8em;
			line-height: 1em;
			color: $gray-light;
			text-decoration: none;
			
			@include transition(all 0.2s ease-out);
			
			&:hover {
				color: $gray;
			}
		}

		&:hover {
			background: $gray-light;
		}

		&.selected {
			background: $gray-warm;
		}
	}

	li.tag-input {
		background: $yellow !important;
	}

	.add-new-tag {
		position: relative;
		background: $yellow;
		padding: 0;


		.icon-plus {
			position: relative;
			top: 0.1em;
		}

		.icon-minus {
			position: relative;
			top: 0.2em;
		}

		a {
			display: block;
			color: white;
			padding: emCalc(9px) emCalc(12px);

			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
}

// Tag input
.rounded-tags {
	form {
		width: emCalc(102px);
	}

	input {
		width: 100%;

		outline: none;
		border: none;
		background: transparent;
		color: $gray-dark;

		@include input-placeholder() {
			color: $gray;
		}
	}
}

// Show / hide pool btn
.show-pool .add-new-tag:after {
	content: "";
	position: absolute;
	display: block;

	left: 50%;
	margin-left: -0.7em;
	margin-top: emCalc(6px);
	
	@include triangle(1.6em, 0.72em, up, lighten($gray-lighter, 10%));
}