.search-result{
	width:100%;
	position:relative;
	margin-top:30px;
	#search-result-string{
		margin: 0 auto;
		position:relative;
		font: 0.8em/1 $font-normal;
		display:table;
		b{
			font: 1em/1 $font-bold;
		}
	}
	a{
		font: 0.7em/1 $font-normal;
		margin: 20px auto;
		text-align:center;
		display:table;
		color: $gray;
		text-decoration:underline;
		&:hover{
			text-decoration:none;
		}
	}
}