.section-list{
	list-style:none;
	padding-left:0;
}
.section-header{
	height:14px;
	opacity: 0.8;
	margin-bottom: 4px;
	margin-top: 30px;
	position:relative;
	h2{
		&.left{
			float:left;
		}
		&.right{
			float:right;
		}
		
		margin:0;
		font: 12px $font-bold;
		color: $unselected-color;
		background-color: white;
		padding-right: 8px;
		padding-left: 8px;
	}
	.seperator-container{
		width:100%;
		height:100%;
		padding-top: 6px;
		padding-right: 5px;
		.seperator{
			background-color: rgba(158, 158, 158, 0.4);
			height: 2px;
		}

	}
}