.sync-indicator {
	position: absolute;
	top: 16px;
	width:100px;
	height:100px;
	right: 14px;

	text-align: center;
	font-size: 12px;
	color: #c0c0be;

	display: none;
	body.syncing & { display: inline-block; }

	.icon {
		$size: 13px;

		margin: auto;

		width: $size;
		height: $size;
		line-height: $size;
	}

	.spinner { margin-top: 0; }

	.spinner > div {
		width: 9px;
		height: 9px;
	}
}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
    .sync-indicator{
	    .spinner > div { 
	    	display:none;
	        -webkit-animation: none;
			animation: none;

	    }
	}
}