.tag-pool {
	display: none;

	background: lighten($gray-lighter, 10%);
	padding: 1.5em 0.8em 0.8em;

	.show-pool & {
		display: block;
	}
	
	.rounded-tags {
		margin: 0;
	}

	.rounded-tags li {
		background: $gray-warm;
		cursor: pointer;
		@include transition(background 0.15s ease-out);

		&:hover {
			background: darken($gray-warm, 7%);
		}
	}
}