.task-editor {
	$padding: 66px;

	color: $gray-warm;

	.title {
		position: relative;
		font-size: emCalc(20px);
		padding-left: $padding;

		margin-bottom: emCalc(24px);
		margin-top: 0.8em;

		@include breakpoint(tablet) {
			margin-bottom: emCalc(50px);
			margin-top: emCalc(25px);
		}
	}

	.editor-content {
		width: 84%;
		margin: auto;

		.has-icon {
			// Can't use em, because font-size might vary
			padding-left: $padding;
			position: relative;

			&:before {
				position: absolute;
				left: 0; top: 0;
				font-size: 1.3em;
				color: $gray-lighter;
			}
		}

		> section {
			margin-bottom: 1em;

			@include breakpoint(tablet) {
				margin-bottom: emCalc(36px);
			}
		}
	}

	> nav {
		text-align: center;

		a { margin-left: 4.7em; }
		a:first-child { margin-left: 0; }

		@include breakpoint(tablet) {
			a { margin-left: 8em; }
		}
	}

	textarea, input {
		color: inherit;
		text-indent: 0;
		width: 100%;

		@include transition(color 0.2s ease-out);

		&:focus, &:hover {
			color: $gray-dark;
		}

		&:active, &:focus {
			border:none;
			outline:none;
		}
	}

	textarea {
		min-height: 6em;
	}
}