.add-new {
	position: relative;

	.add-task-field {
		opacity:0.6;
		text-indent: 0;
		width: 90%;
		font-family: $font-light;
		text-align: left;
		
		line-height: 1;
		@include placeholder($brand-dakrcolor);
		color: $brand-dakrcolor;
		border: none;
		background-color: transparent;
		outline: none;
		font-size: emCalc(18px);
		margin-left: emCalc(30px);
		@include breakpoint(tablet){
			margin-left: emCalc(15px);
			font-size: emCalc(22px);
		}
		
		resize: none;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.priority {
		@include centerBlock(2px, auto, auto, 0px, auto, absolute);
		@include breakpoint(tablet){
			top: 4px;
			left: -15px;
		}
	}
	.priority.bigger{

	}


}
.add-new.is-priority .priority{
	margin-top:-5px;
	@include breakpoint(tablet){
		left: -20px;
	}
}