.task-editor {
	$padding: 66px;
	$placeholder-color: #333;
	
	color: $gray;
	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $placeholder-color;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    $placeholder-color;
	    opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    $placeholder-color;
	    opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    $placeholder-color;
	}
	.title {
		input{
			font-family: $font-light;
		}
		position: relative;
		font-size: emCalc(40px);
		padding-left: $padding;

		margin-bottom: emCalc(12px);
		margin-top: 0.8em;

		@include breakpoint(tablet) {
			margin-bottom: emCalc(20px);
			margin-top: emCalc(25px);
		}
	}

	.editor-content {
		width: 84%;
		margin: auto;
		.has-icon {
			// Can't use em, because font-size might vary
			padding-left: $padding;
			position: relative;

			&:before {
				position: absolute;
				left: 0; top: 0;
				font-size: 1.3em;
				color: $gray;
			}
		}

		> section {
			margin-bottom: 0.8em;

			@include breakpoint(tablet) {
				margin-bottom: emCalc(36px);
			}
		}
	}

	> nav {
		text-align: center;

		a { margin-left: 4.7em; }
		a:first-child { margin-left: 0; }

		@include breakpoint(tablet) {
			a { margin-left: 8em; }
		}
	}

	textarea, input, .content-editable {
		color: inherit;
		text-indent: 0;
		width: 100%;

		@include transition(color 0.2s ease-out);

		&:focus, &:hover {
			color: $gray;
		}

		&:active, &:focus {
			border:none;
			outline:none;
		}
	}

	textarea, .content-editable {
		@include input-placeholder() {
			color: lighten($gray, 30%);
		}
	}
}