.add-new {
	position: relative;

	// legacy code -----
	// $placeholderColor: #e1e1e1;
	
	// legacy code -----
	// body.edit-mode & {
	// 	opacity: 0;
	// 	height: 0;
	// 	overflow: hidden;
	// 	visibility: hidden;
	// }
	
		.add-task-field {
			opacity:0.6;
			text-indent: 0;
			width: 100%;
			font-family: $font-light;
			text-align: left;
			font-size: emCalc(22px);
			line-height: 1;
			@include placeholder($brand-dakrcolor);
			color: $brand-dakrcolor;
			border: none;
			background-color: transparent;
			outline: none;
			padding-left: emCalc(15px);
			resize: none;
		}

		.priority {
			@include centerBlock(5px, auto, auto, -15px, auto, absolute);
		}

}