
// Task editor - Task description page
$iconsColor: #212121;

.task-editor {
	$padding: 82px;
	$padding-big: 112px;
	color: $gray;
	position: relative;
	.back-button{
		position:absolute;
		left:38px;
		@include breakpoint(tablet) {
			left: 110px;
		}
	}
	.input-title{
		padding-top:7px;
	}
	.title {
		position: relative;
		font-size: emCalc(21px);

		
		font-family: $font-light;

		margin-bottom: emCalc(12px);
		margin-top: 0.8em;
		margin-left: 35px;
		@include breakpoint(tablet) {
			font-size: emCalc(28px);
			margin-bottom: emCalc(10px);
			margin-top: emCalc(25px);
			margin-left: 66px;
		}


		
		// legacy code
		// input{
		// 	font-family: $font-light;
		// }
	}
	.info-label, .input-note{
		font-size:16px;
		padding-top:12px;
		@include breakpoint(tablet){
			font-size:18px;
		}
	}
	.priority {
		top: 15px;

		left: 15px;
		@include breakpoint(tablet){
			left: 68px;
			top:17px;
		}
	}
	.is-priority .priority{
		left:10px;
		@include breakpoint(tablet){
			left: 63px;
		}
	}

	.editor-content {
		width: 94%;
		margin: 60px auto;
		@include breakpoint(tablet){
			width: 84%;
			margin: 80px auto;
		}
		@include breakpoint(desktop-wide){
			margin: 100px auto;
		}
		
		

		.has-icon {
			// Can't use em, because font-size might vary
			padding-left: $padding;
			@include breakpoint(tablet) {
				padding-left: $padding-big;
			}
			position: relative;

			p {
				line-height: 1;
			}

			.icon-hold {
				display: inline-block;
				position: absolute;
				left: 27px;
				@include breakpoint(tablet) {
					left: 57px;
				}
				top: 0px;
				@include iconButoon($iconsColor, 40px, false);
				border:0;
			}
		}

		> section {
			margin-bottom: 1.0em;
			min-height: 40px;
		}
		> section.action-steps{
			margin-bottom: 2.0em;
		}
	}


	> nav {
		text-align: center;

		a { margin-left: 4.7em; }
		a:first-child { margin-left: 0; }

		@include breakpoint(tablet) {
			a { margin-left: 8em; }
		}
	}

	textarea, input, .content-editable {
		color: inherit;
		text-indent: 0;
		width: 100%;

		@include transition(color 0.2s ease-out);

		&:focus, &:hover {
			color: $gray;
		}

		&:active, &:focus {
			border:none;
			outline:none;
		}
	}

	textarea, .content-editable {
		@include input-placeholder() {
			color: lighten($gray, 30%);
		}
	}
}