.add-new {
	body.edit-mode & {
		opacity: 0;
		height: 0;
		overflow: hidden;
	}

	input {
		text-indent: 0;
		max-width: 100%;
		font-family: $font-bold;
		
		font-size: emCalc(50px);
		line-height: 1;
		
		@include breakpoint(tablet) { font-size: emCalc(70px); }
		@include breakpoint(desktop) { font-size: emCalc(100px); }
	}	
}