.todo-list {
	@extend .clearfix;
	padding: 0; 
	margin: 0;
	
	li {
		position: relative;
		font-size: emCalc(14px);
		list-style: none;
		color: #9d9b93;
	}

	ol.tasks {
		padding: 0;
	}
}

.list-fade {
	z-index: 9999;
	
	position: fixed;
	bottom: 0; left: 0; right: 0;
	pointer-events: none;

	height: 10em;
	@include background-image( linear-gradient(rgba(white, 0), white 75%) );
}