// General task styling
.todo-list {	
	ol { padding: 0; }

	.todo-content { 
		position: relative;
		padding: 3em 3em 3em 28%;
		background: white;

		@include transition(
			background 0.15s,
			left 0.25s ease-in-out,
			right 0.25s ease-in-out
		);

		&:before, &:after { content: ""; position: absolute; }
		
		// Priority dot
		&:before {
			$size: 1.2em;
			$border-size: 4px;

			width: $size; height: $size;
			background: $yellow;
			border: $border-size solid $gray;
			border-radius: $size;
			left: 0; top: 50%;

			@include box-sizing(content-box);
			
			margin-left: 19.5%;
			margin-top: 0 - emCalc($border-size) - ($size / 2);
		}

		// Border
		&:after {
			bottom: 0; left: 0; right: 0;
			
			height: 1px;
			@include background-image( 
				linear-gradient(left, transparent, $gray-lighter 15%, transparent 105%) 
			);
		}
	}

	.tasks > li:last-child .todo-content:after { content: none; }
	
	h2 {
		font-family: $font-light;
		font-weight: lighter;
		font-size: 1.85em;
		margin: 0 0 .2em;
	}

	time, .tags { display: inline-block; }

	time {
		font-family: $font-light;
		background: $gray-light;
		padding: 0 0.6em;
		margin-right: 0.5em;
		color: white;
		font-size: 0.9em;
	}

	.tags { 
		margin: 0; 
		padding: 0; 
		font-family: $font-bold;
		
		li {
			display: inline-block;
			font-size: 1em;
			margin: 0 0 0 -0.3em; 
			padding: 0;

			&:before { content: ', '; }
			
			&:first-child {
				margin-left: 0;
				&:before { content: none; }
			}
		}
	}
}

// action buttons
.todo-list {
	.action {
		position: absolute;
		display: block;
		
		width: 105px; 
		height: 100%;

		line-height: 105px;
		text-align: center;
		color: white;
		text-decoration: none;
		font-size: 1.7em;
		
		span {
			opacity: 0.7;
			@include transition(opacity 0.1s ease-out);
		}

		&:hover { 
			span { opacity: 1; }
		}

		&.complete {
			left: 0;
			background: $green;
		}

		&.schedule {
			right: 0;
			background: $lobster;
		}
	}
}

// Various states for tasks
.todo-list {
	.selected .todo-content {
		background: #f3f3f3;
	}

	.hover-complete {
		.todo-content {
			left: 95px;
		}
	}

	.hover-schedule {
		.todo-content {
			right: 95px;
		}
	}
}

// Styling for completed and scheduled tasks
.todo-list {
	.completed {
		.todo-content {
			@include translate3d(100%, 0, 0);
		}
	}

	.scheduled {
		.todo-content {
			@include translate3d(-100%, 0, 0);
		}
	}
}

