$list-item-height: 65px;
$list-item-height-lg: 85px;
$border-width: 1px;
// General task styling
.todo-list {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	ol { padding: 0; }

	h2 {
		@include ellipsis();

		font-family: $font-light;
		font-size: 1.6em;
		//@include breakpoint(min-height, $breakheight) { font-size: 1.85em; }
		margin: 0 0 .2em;
	}

	.center-title h2 {
		margin-top: 0.6em;
		@include breakpoint(min-height, $breakheight) { margin-top: 0.5em; }
	}

	.priority {
		margin-left: 6%;
		@include breakpoint(tablet) { margin-left: 19.5%; }
	}

	time, .meta, .tags { display: inline-block; }

	.meta {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			font-size: 1em;
			margin: 0 0 0 -0.3em;
			padding: 0;

				.icon,
				.icon svg {
					display: inline-block;
					@include square(11px);
				}


				&:first-child {
					margin-left: 0;
					&:before { content: none; }
				}
		}

		> li {
			margin-left: 0.2em;
		}

		li.seperator {
			margin-right: 0.2em;
			color: $gray;
			font-family: $font-bold;

			&:before { content: "//"; }
		}

		.tags {
			margin: 0;
			padding: 0;
			font-family: $font-normal;

			li {
				strong {
					color: black;
					text-shadow: 0 0 0px black;
				}

				&:before { content: ', '; }

				&:first-child {
					margin-left: 0;
					&:before { content: none; }
				}
			}
		}
	}
}

// List item content
.todo-content {
	position: relative;
	padding: 1.4em 1em 0 14%;
	@include breakpoint(tablet) { padding-left: 28%; padding-right: 3em;}
	height: $list-item-height;

	background: white;

	@include transition(
		background 0.15s,
		left 0.1s ease-out,
		right 0.1s ease-out
	);
}

.tasks > li:last-child .todo-content:after { content: none; }

// action buttons
.sidebar-open{
	.todo-list{
		.actions{
		}
	}
}
.todo-list {
	.actions{
		$button-size: 30px;
		$padding: 5px;
		display:block;
		opacity:0;
		//@include transition(opacity 0.1s ease-in);
		position:absolute;
		background-color: #F9F9F9;
		border: 1px solid #e0e0e0;
		padding: $padding - 1px 5px 0 5px;
		
		height:$button-size+2*$padding;
		@include border-radius(($button-size + 2*$padding) / 2);
		top: 50%;
		right:5px;
		@include breakpoint(tablet) {
			right:20px;
		}
		margin-top:-$button-size/2;
		a{
			&:hover{
				text-decoration:none;
			}
			text-align:center;
			$icon-size: 12px;
			font-size: $icon-size;
			line-height: 1;
			float:left;
			margin-right:5px;
			margin-left: 5px;
			@include square($button-size);
			@include border-radius(50%);
			border: $border-width solid $gray;
			padding:0;
			position: relative;

			svg {
				@include square(16px);
				@include centerBlock(0, 0, 0, 0, auto, absolute);
			}

			&.schedule-button{
				border-color: $red;
					svg { fill: $red; }
			}
			&.todo-button{
				border-color: $yellow;
					svg { fill: $yellow; }
			}
			&.complete-button{
				border-color: $green;
					svg { fill: $green; }
			}
			&.schedule-button:hover{
				background-color:$red;
					svg { fill: white; }
			}
			&.todo-button:hover{
				background-color:$yellow;
					svg { fill: white; }
			}
			&.complete-button:hover{
				background-color:$green;
					svg { fill: white; }
			}
		}
	}
	.action {
		position: absolute;
		display: block;

		width: $list-item-height;
		height: 100%;
		background: transparent;

		line-height: $list-item-height;
		text-align: center;
		color: white;
		text-decoration: none;
		font-size: 1.7em;


		@include transition(0.2s ease-in-out);

		span {
			opacity: 0.7;
			@include transition(opacity 0.1s ease-out);
		}

		&.right{
			right: 0;
		}
		&.left{
			left: 0;
		}
	}
}
.todo-list.selecting{
	.task-row:hover{
		.actions{
			display:none;
			@include transition(opacity 0.2s ease-out);
		}
	}
}
// Various states for tasks
.todo-list {
	.selected .todo-content {
		background: #f7f7f7;
	}

	.dragging .todo-content {
		@include transition(all 0.2s ease-out);
		@include box-shadow(0 0 30px #ddd);
	}
	.task-row:hover{
		.actions{
			opacity: 1.0;
			@include transition(opacity 0.2s ease-out);
		}
	}
	.hover {
		
		
		.todo-content {
			//left: $list-item-height;
			//@include breakpoint(min-height, $breakheight) { left: 95px; }
		}
		//.action.complete { background: $green; }
		//.action.todo { background: $yellow; }
	}
}

// Styling for completed and scheduled tasks
.todo-list {
	.completed, .todo, .scheduled {
		.todo-content {
			// Unset left/right animation
			@include transition(background 0.15s);
		}
	}

	.completed {
		background: $green;
		overflow: hidden;

		.action.complete {
			background: $green;
		}

		.action.schedule {
			display: none;
		}
	}

	.todo {
		background: $yellow;
		overflow: hidden;

		.action.complete {
			background: $yellow;
		}

		.action.schedule {
			display: none;
		}
	}

	.scheduled {
		background: $lobster;
		overflow: hidden;

		.action.schedule {
			background: $lobster;
		}

		.action.todo, .action.complete {
			display: none;
		}
	}
}

// Animate-in when adding new tasks
.todo-list .animate-in {
	@extend .animated;
	@extend .fadeInDown;
	@include experimental(animation-duration, 0.3s);
}