// General task styling
.todo-list {	
	ol { padding: 0; }

	h2 {
		@include ellipsis();
		
		font-family: $font-light;
		font-weight: lighter;
		font-size: 1.85em;
		margin: 0 0 .2em;
	}

	.priority {
		margin-left: 19.5%;
	}

	time, .tags { display: inline-block; }

	time {
		font-family: $font-light;
		background: $gray-light;
		padding: 0 0.6em;
		margin-right: 0.5em;
		color: white;
		font-size: 0.9em;
	}

	.tags { 
		margin: 0; 
		padding: 0; 
		font-family: $font-bold;
		
		li {
			display: inline-block;
			font-size: 1em;
			margin: 0 0 0 -0.3em; 
			padding: 0;

			&:before { content: ', '; }
			
			&:first-child {
				margin-left: 0;
				&:before { content: none; }
			}
		}
	}
}

// List item content
.todo-content { 
	position: relative;
	padding: 3em 3em 3em 28%;
	background: white;

	@include transition(
		background 0.15s,
		left 0.25s ease-in-out,
		right 0.25s ease-in-out
	);
}

.tasks > li:last-child .todo-content:after { content: none; }
	

// action buttons
.todo-list {
	.action {
		position: absolute;
		display: block;
		
		width: 105px; 
		height: 100%;
		background: transparent;

		line-height: 105px;
		text-align: center;
		color: white;
		text-decoration: none;
		font-size: 1.7em;

		@include transition(0.2s ease-in-out);
		
		span {
			opacity: 0.7;
			@include transition(opacity 0.1s ease-out);
		}

		&:hover { 
			span { opacity: 1; }
		}
		
		&.complete {
			left: 0;
		}

		&.schedule {
			right: 0;
		}
	}
}

// Various states for tasks
.todo-list {
	.selected .todo-content {
		background: #f3f3f3;
	}

	.hover-complete {
		.todo-content { left: 95px; }
		.action.complete { background: $green; }
	}

	.hover-schedule {
		.todo-content { right: 95px; }
		.action.schedule { background: $lobster; }
	}
}

// Styling for completed and scheduled tasks
.todo-list {
	.completed {
		.todo-content {
			@include translate3d(100%, 0, 0);
		}
	}

	.scheduled {
		.todo-content {
			@include translate3d(-100%, 0, 0);
		}
	}
}

